[2016-07-04 10:12] #310 closed

[2016-07-04 12:45] meekrosoft opened #338 "Add blog post on continuous delivery for embedded"

[2016-07-04 13:05] #338 closed

[2016-07-04 20:10] jonnycoull opened #339 "STAFF PAGE"
Hi @illus0r Lars has asked me to "implement a POC" for this staff page. images are TBC and need shooting. @adamhenriques @monaslarsen can maybe chase BIOS for all staff members?

It has 3 states in the mock up below in a simple grid layout. normal, all images, hover praquma orange box with abbreviated copy and a read more / expansion option. which if clicked expands the box. needs to be optimised

[2016-07-04 20:11] jonnycoull commented on #339
![praquma staff](https://cloud.githubusercontent.com/assets/17589853/16569239/e675d9b0-422b-11e6-8957-aec37f046d45.jpg)

[2016-07-05 13:38] monaslarsen commented on #339
I can take charge of the bios, what is an estimated deadline @jonnycoull ?

[2016-07-06 10:34] jonnycoull commented on #339
Hi @monaslarsen Lars I imagine will want it ASAP, but we have till images are shot and processed for the staff I suppose. How many are there?

[2016-07-11 07:36] monaslarsen commented on #339
Hi @jonnycoull, we are ~25 employees

[2016-07-12 13:51] monaslarsen opened #340 "Add blogpost to anchor Delivery of things video"

[2016-07-12 15:08] #340 closed

[2016-07-14 14:40] illus0r opened #341 "Implement simple GEB test"
Subtask of https://github.com/Praqma/job-dsl-collection/issues/6

[2016-07-14 15:04] #341 closed

[2016-07-20 11:51] lakruzz commented on #339
Hi all @timea @illus0r @monaslarsen @jonnycoull Heres what going to happen:

* I have created a milestone called ["Staff page - mock up implemented"](https://github.com/Praqma/praqma.com/milestone/8)
* I've set the milestone to the last working day in July -roughly 2 weeks from now
* Be then, I'd like @illus0r to implement the design described by @jonnycoull in this briefing, using dummy, mockup p

[2016-07-20 11:53] lakruzz opened #342 "Implement protrait tiles"
Implement the lay-out described in #339
Feel free to break it up in  more individual issues if necessary.

[2016-07-20 11:54] lakruzz commented on #342
@illus0r
This issue needs to be made ready to work on - but currently needs __an estimate__. I've assigned the case to you, please just do the following:

- Provide a realistic estimate
- Remove the "Action: Needs grooming" label
- Unassign yourself from the issue (just leave the issue unassigned)

poke: @timea

[2016-07-20 12:12] lakruzz opened #343 "Write a few sample biographies for review"
@monaslarsen please come up with a few styles for how to present employees.

You presented the [form](https://docs.google.com/a/praqma.net/forms/d/e/1FAIpQLSc_C9iOaEeR-e_-KTLfDCOSfIqGeDZyK-Ut6A2Yw5ysZjFDJQ/viewform?c=0&w=1) every employee should fill out, but personally I'm not fund of this approach; favorite-movie-whats-you-hobby-do-you-own-a-pet kind of bios.

Could you experiment with a few mor

[2016-07-20 12:13] lakruzz commented on #343
@monaslarsen

This issue needs to be made ready to work on - but currently needs __an estimate__. I've assigned the case to you, please just do the following:

- Provide a realistic estimate
- Remove the "Action: Needs grooming" label

[2016-07-21 10:08] lakruzz opened #344 "continuous-delivery tagged wrong"
![image](https://cloud.githubusercontent.com/assets/155492/17019214/891da320-4f3b-11e6-8c2f-31ef61da89f1.png)

We shouldn't use both "continuos delivery" and "continuous-delivery"

Tags needs to be corrected on http://www.praqma.com/stories/video-lars/ and http://www.praqma.com/stories/embedded-code/

[2016-07-21 11:29] illus0r commented on #342
@lakruzz
We had a slack chat with Jonathan. He showed me these pictures and I've asked:

So question is open: how will we implement the sidebar navigation?

[2016-07-21 11:40] illus0r commented on #342
I cant assign it to @jonnycoull for some reason.

[2016-07-21 12:32] jonnycoull commented on #342
So needs a new icon correct? for this halfway design, before we revamp PRAQMA. @illus0r

[2016-07-21 12:41] illus0r commented on #342
@jonnycoull

So as I got you suggest mockup of that kind:

![image](https://cloud.githubusercontent.com/assets/797993/17022942/7f5bfcba-4f59-11e6-8017-049166fc8004.png)

What do you mean by "revamp PRAQMA"?

[2016-07-21 12:54] jonnycoull commented on #342
Yep, just needs a STAFF icon. ah well its on the cards after CODE-CONF. @illus0r

[2016-07-22 10:09] illus0r commented on #342
@jonnycoull as for me, every icon can be redrawn, they are awful :) But not obligatory

[2016-07-22 11:16] illus0r opened #345 "Make new about-page for rouges"
Subtask of #342

List them this way
![image](https://cloud.githubusercontent.com/assets/797993/17055578/61b186a4-5016-11e6-92e3-35a723dd60a9.png)

[2016-07-22 11:17] illus0r opened #346 "Make rouges squares live"
Subtask of #342

- [ ] Unwrap them by click
- [ ] scroll to top after that

![image](https://cloud.githubusercontent.com/assets/797993/17055681/0adb4b70-5017-11e6-8024-3aa0421ad06a.png)

[2016-07-22 11:18] illus0r opened #347 "Make mobile version for rouges"
Subtask of #342

![image](https://cloud.githubusercontent.com/assets/797993/17055700/290feab0-5017-11e6-94b6-dcfbf0c1860b.png)

[2016-07-22 11:19] illus0r opened #348 "Show hover text on rouges"
Subtask of #342

![image](https://cloud.githubusercontent.com/assets/797993/17055725/4ffd1cd8-5017-11e6-9205-7c29b708aa87.png)

[2016-07-22 11:27] illus0r commented on #342
@jonnycoull
as I got, if I click not first person (i.e. the last one) it will disappear on its place and will unroll in the top-left corner. Other items will be pushed away to free space. I'll also scroll to top, because the height of the team list may exceed the viewport height. Right?

[2016-07-22 13:18] jonnycoull commented on #342
Yes so they jiggle around the main image. I think that would work best but
probably worth a test first

On Friday, 22 July 2016, illus0r <notifications@github.com> wrote:

[2016-07-25 14:56] illus0r commented on #345
- [ ] fix index about page

[2016-07-27 12:51] illus0r opened #349 "Make icon for ROUGES GALLERY"
Subtask of #342
Now it duplicates another one.

![image](https://cloud.githubusercontent.com/assets/797993/17175722/cdea3600-5411-11e6-8638-630dfbf4f495.png)

[2016-07-27 12:55] illus0r opened #350 "Write short text for the ROUGES GALLERY in the menu"
Subtask of #342

![](https://cloud.githubusercontent.com/assets/797993/17175722/cdea3600-5411-11e6-8638-630dfbf4f495.png)

[2016-07-27 12:58] illus0r commented on #350
@monaslarsen, you are fast :)

[2016-07-27 13:00] timea commented on #350
What a cooperation 👯

[2016-07-27 13:01] monaslarsen commented on #350
I know 💃
Can we make sure to spell it rogues, though?

[2016-07-27 13:20] monaslarsen commented on #350
The text should be:

Meet the clever CoDe brokers and seasoned software agents that make Praqma great

[2016-07-27 13:20] #350 closed

[2016-07-27 14:55] #345 closed

[2016-07-27 14:58] illus0r commented on #348
closed in https://github.com/Praqma/praqma.com/commit/f288d6bed3182630cd27daf1f39c2b921baa12a3

[2016-07-27 14:58] #348 closed

[2016-07-27 14:59] illus0r commented on #346
closed in https://github.com/Praqma/praqma.com/commit/f288d6bed3182630cd27daf1f39c2b921baa12a3

[2016-07-27 14:59] #346 closed

[2016-07-28 11:04] monaslarsen opened #351 "Test rogues gallery"

[2016-07-28 11:19] adamhenriques opened #352 "false"

[2016-07-28 11:21] #352 closed

[2016-07-28 12:40] #344 closed

[2016-07-28 13:29] #351 closed

[2016-07-29 08:48] illus0r opened #353 "Scroll to top after clicking a person it the list"
Subtask of #342

The problem is that if the person is in the bottom of the page I won't see any details of him.

[2016-07-29 10:11] #353 closed

[2016-07-29 13:19] #343 closed

[2016-08-01 10:29] lakruzz opened #354 "Text covers portrait"
![image](https://cloud.githubusercontent.com/assets/155492/17291278/3814c67e-57e3-11e6-9d1e-b96972148b8b.png)

We need to fix this problem, that the portrait is cut off in expanded mode.

- Should the background be transparent?
- Should the portraits all have some "void" space to the left to make room for this?

...Any suggestions?

@jonnycoull @illus0r

[2016-08-01 10:35] jonnycoull commented on #354
Can I ask why is this being inplimented without the proper photography?

Which in turn would solve the problem. As the square is a crop, when
selected it shows/reveals a bigger image. Not just the same shot.

On Monday, 1 August 2016, Lars Kruse <notifications@github.com> wrote:

[2016-08-01 10:49] lakruzz commented on #354
All right, makes sense:

@illus0r let's implement the mock up with portraits that are representative for what it should look like in the end - then!

If you're in doubt, get some samples from @jonnycoull

[2016-08-01 12:37] illus0r commented on #343
Added texts and images to site

[2016-08-01 12:55] illus0r commented on #354
Hey, @jonnycoull
I need a sample photo for that.
As I got, you want it to be 3x4 in expanded state and 1x1 for preview. Photo should be aligned by top edge in both sizes.

![image](https://cloud.githubusercontent.com/assets/797993/17294557/54500098-5800-11e6-9ba4-8685bf1aff04.png)

[2016-08-01 12:57] jonnycoull commented on #354
Hi mate, do you have an ideal pixel size for each?

On Monday, 1 August 2016, illus0r <notifications@github.com> wrote:

[2016-08-01 13:14] illus0r commented on #354
@jonnycoull
now they are 2x3, 356x534px. But we can make them to be 400x600 for easy counting.
(I've mistaken with 3x4)

[2016-08-01 13:44] illus0r commented on #347
I have to change the size, because I need to try another library. This one is buggy on mobile.

[2016-08-02 11:06] sofusalbertsen opened #355 "Broken link to storyline"
URL        `code-storyline'
Name       `CoDe Storyline'
Parent URL http://www.praqma.com/stories/academy-trd/, line 216, col 38
Real URL   http://www.praqma.com/stories/academy-trd/code-storyline
Check time 5.320 seconds
Size       2KB
Result     Error: 404 Not Found

[2016-08-02 11:36] #355 closed

[2016-08-03 09:50] lakruzz opened #356 "add Gothenburg to our Job add"
http://www.praqma.com/stories/coder/

[2016-08-03 09:58] #356 closed

[2016-08-03 14:58] #347 closed

[2016-08-03 14:58] illus0r commented on #347
made a hack. It doesn't support window resizing (gaps will appear) but works on mobiles, tablets and laptops.

[2016-08-04 14:45] bicschneider commented on #336
- missing to implement the ignore url feature to the JobDSL

Test setup can be found here: http://code.praqma.net/ci/job/Web_www.praqma.com-jekyll-issues-linkcheck/

@lakruzz @timea @illus0r

[2016-08-04 14:45] #336 closed

[2016-08-05 08:45] bicschneider opened #357 ""praqma.com" does not work - only "www.praqma.com""
hostname configuration in DNS should all go to www.praqma.com

URL 	`http://praqma.com'
Parent URL	http://localhost:4000/sponsor/, line 192, col 9 (HTML) (CSS)
Real URL	http://praqma.com
Check time	0.479 seconds
Result	Error: error: [Errno 104] Connection reset by peer

[2016-08-05 09:06] lakruzz commented on #357
It's the redirect service on gratisdns that's not working, right now, actually their entire site id done right now - I expect it to be fixed soon.

[2016-08-05 11:11] lakruzz opened #358 "A "webshop" on praqma.com"
Id like to present the idea of adding a "webshop" to our website.

We don't need a payment gateway, since no transactions will actually be carried out - everything in the shop will be free of charge.

But the point is, that have a web shop would make it more clear to us internally and customers that we're a _delivery_ shop. You point at a product and then you get it.

There are several obvious cat

[2016-08-05 11:16] lakruzz commented on #357
I have sent a mail to support@gratisdns.dk let's see what their respond is.

[2016-08-05 12:42] monaslarsen opened #359 "Create blogpost on CoDe academy 2016"

[2016-08-05 12:45] #354 closed

[2016-08-08 14:00] lakruzz opened #360 "Update client list"
http://www.praqma.com/about/customers/

...anyone else missing???

[2016-08-08 16:42] meekrosoft commented on #358
Just one minor implementation point - a simple solution for the shopping kart is to use a contact form.  Would mean we could use the same process for anything and keep everything as code.  The "order" would just be an email...

[2016-08-08 17:07] meekrosoft commented on #358
I think we need to solve a two different problems, not necessarily under one web shop.  I see we need:

  * A showcase for our open source contributions. (Open)
  * A way to get sent our materials, posters, white papers, etc. (Resources you get free in exchange for contact details)

[2016-08-09 12:45] meekrosoft opened #361 "A design guide for Praqma"
We need a visual design language for Praqma.

[2016-08-09 18:47] meekrosoft opened #362 "Better images for the services page"
Could we find some better pictures for the services page?
http://www.praqma.com/services/

I don't know what better means (sorry), but at least more color would be a start.

[2016-08-10 12:08] buep commented on #358
FYI I'm working on making products out of code stuff... first delivery is a start of a list of such, and suggested PO's etc.
So we just need to coordinate. We already have plans on these having their own logo - old idea from JOSRA.

I like the shop idea very much.

If I forget to post status here, or you don't see it elsewhere ask again in few weeks for my product list.

[2016-08-10 12:26] #302 closed

[2016-08-10 13:35] jonnycoull commented on #358
Ive had my meeting with timea and Ivan, I have them working on resolving
all existing issues so the site is 100% as it should be then implementation
of the images in staff page, and shop. Then, onwards to praqma.com

Also shop wise, is it FREE? or for sale? and Lars, what information do you
need to acquire for the data capture (info for product)

Cheers.

Bok.

On Wed, Aug 10, 2016 at 1:08 PM, bue

[2016-08-11 07:16] sofusalbertsen opened #363 "Split runway in two."
The runway here is used both to track blocking issues and architectural changes.
Those two do not fit good together; one is "all hands on deck", the other a slow moving target.
Suggesting to make a new milestone: Architecture and assign #359 and #297 to it.

[2016-08-15 14:26] jonnycoull commented on #358
![shop](https://cloud.githubusercontent.com/assets/17589853/17667149/8d800722-62fb-11e6-8e75-05361aea3dfa.jpg)
![shop 2](https://cloud.githubusercontent.com/assets/17589853/17667151/8f3df34e-62fb-11e6-8a1b-925d6c142433.jpg)
Hi @meekrosoft @illus0r @timea @BrucePhable @lakruzz @buep
I've uploaded 2 draft mock ups.

Shop is free so to just get people, in everything is listed as $FREE so to do away w

[2016-08-15 15:23] jonnycoull commented on #349
![new icons](https://cloud.githubusercontent.com/assets/17589853/17669196/9afe2682-6304-11e6-93ac-08cf795a6232.jpg)
![praqma clients](https://cloud.githubusercontent.com/assets/17589853/17669198/9d176244-6304-11e6-8620-30f2f614f39f.png)
![praqma jobs](https://cloud.githubusercontent.com/assets/17589853/17669197/9d174f70-6304-11e6-80e8-e71d1bfb3085.png)
![praqma office](https://cloud.githubusercont

[2016-08-15 15:24] jonnycoull commented on #349
Hi @illus0r @timea ill upload the into the image directory. see the main mock for which icon goes where.

[2016-08-15 17:20] monaslarsen opened #364 "Small updates to CoDe Academy CPH post"
Tags, typos

[2016-08-16 07:29] alexsedova opened #365 "Add blog post building android in Docker container"

[2016-08-16 10:36] illus0r commented on #349
@jonnycoull to look good on retina they should be at least 300x300. Or other option is to use SVG's
Can you send something of that?

[2016-08-16 10:40] jonnycoull commented on #349
@illus0r ill sort that.

[2016-08-16 11:24] monaslarsen opened #366 "Add tag to Academy Cph post"

[2016-08-16 11:26] jonnycoull commented on #349
@illus0r uploaded to images.

[2016-08-16 11:34] illus0r commented on #358
I've started reading about Shopify, some people complain about complexity of integrating it to jekyll websites. I guess I should try it myself. BTW, there can be [an alternative solution](https://snipcart.com/blog/static-site-e-commerce-part-2-integrating-snipcart-with-jekyll)

[2016-08-16 11:36] jonnycoull commented on #358
Do we need shopify if no money is being transferred? I'm sure like you say if there are issues another option would be better?

[2016-08-16 11:37] illus0r opened #367 "Use Bok's icon set on the site"
Subtask of #342

Use this https://github.com/Praqma/praqma.com/issues/349

[2016-08-16 11:39] #364 closed

[2016-08-16 11:39] illus0r commented on #349
Great, found'em in the /images/ folder

[2016-08-16 11:39] #349 closed

[2016-08-16 11:41] monaslarsen commented on #366
Change 2106 to 2016

[2016-08-16 11:55] illus0r commented on #358
@jonnycoull
I didn't spend much time on this task, so I'm not sure. I'll deal with other prioritized tasks first. But feel free to make milestone out of this one.

[2016-08-16 12:18] #366 closed

[2016-08-16 13:21] illus0r commented on #143
I guess, it's already implemented

[2016-08-21 20:05] lakruzz commented on #363
The runway shouldn't be split.

Issues that needs immidiately attention goes to "content update" if it's related to content and "The runway" if it's technical implementation.

Architectural changes will have to enter a planned milestone. They shouldn't reach the runway - the runway and the content update are only for _unplanned_ acute issues

[2016-08-21 20:05] lakruzz commented on #363
@sofusalbertsen

[2016-08-21 20:07] #357 closed

[2016-08-21 20:10] #359 closed

[2016-09-05 13:36] JKrag opened #371 "Change address from Borgergade to new Orbit address"
The website should be updated to show our new location with the correct postage address and contact info.

Maybe we should also have a small news-item/blogpost that mentions the move?

[2016-09-05 16:30] #365 closed

[2016-09-06 08:03] buep opened #372 "search field on stories out of box"
![selection_096](https://cloud.githubusercontent.com/assets/1579826/18266089/3340d474-7419-11e6-8354-bfd258a6dc92.png)

[2016-09-06 08:03] buep commented on #372
Firefox on linux

[2016-09-06 08:04] buep commented on #372
And it is not only looking strange, I also had to click outside the field to get to search

[2016-09-06 12:31] illus0r commented on #372
Same on chrome.
Duplicate of #334, but this task is more informative.

[2016-09-06 12:32] illus0r commented on #334
Duplicates #372

[2016-09-06 12:32] #334 closed

[2016-09-07 12:00] sofusalbertsen commented on #371
Second that!

[2016-09-08 11:45] monaslarsen opened #373 "Change typo in blog link"
http://www.praqma.com/stories/github-or-new-best-friend/

Add 'u' to 'our'

[2016-09-09 13:50] #373 closed

[2016-09-09 14:21] illus0r commented on #367
![image](https://cloud.githubusercontent.com/assets/797993/18390191/d7fb46b2-76b1-11e6-927b-2f8182ebcf06.png)

![image](https://cloud.githubusercontent.com/assets/797993/18390209/e32007b2-76b1-11e6-95af-1618f86f3059.png)

[2016-09-09 15:34] jonnycoull commented on #367
is that live now @illus0r

[2016-09-13 11:11] illus0r commented on #367
Yep, [check it out yourself](http://www.praqma.com/about/)
One sections is unpublished by now

[2016-09-13 14:12] jonnycoull commented on #342
@illus0r this is done now right? (re icons)

[2016-09-13 14:18] illus0r commented on #342
@jonnycoull

Icons are changed
![image](https://cloud.githubusercontent.com/assets/797993/18477328/f85d2d40-79d5-11e6-849d-1755ab196126.png)

[2016-09-13 14:20] illus0r commented on #367
closed in https://github.com/Praqma/praqma.com/commit/1337256e3f6c816ddeb3e414114c63c284ada9d7

[2016-09-13 14:20] #367 closed

[2016-09-13 14:21] illus0r commented on #342
@jonnycoull
I've closed that task.
I made it by the way in https://github.com/Praqma/praqma.com/commit/1337256e3f6c816ddeb3e414114c63c284ada9d7 and forgot to close

[2016-09-13 14:23] illus0r commented on #342
Ahh, that's a bug in the workflow. I've bumped it already
This commit closes `#gh pages` task instead of this one :-D

[2016-09-15 11:28] monaslarsen opened #374 "Blogpost on CoDe CPH 16"

[2016-09-15 11:31] monaslarsen opened #375 "Collect and publish DoC + CoDeCPH slides"

[2016-09-15 11:32] #375 closed

[2016-09-15 14:54] illus0r commented on #374
Hi there, @monaslarsen! Did you mean `Content Update` milestone?

[2016-09-19 05:46] lakruzz opened #376 "Submenus take too much attention"
![screenshot_2016-09-19-07-37-19](https://cloud.githubusercontent.com/assets/155492/18623321/0607c044-7e3c-11e6-9d4d-eb33f9990c5f.png)

On Mobile phones:

When browsing jobs, clients, partners or offices, the first thing you see is a submneu, expanded to a fulle screen of graphics, offering you to go somewhere else. The jobs, or whatever you came to read, are way down on the list.
Can we fix this?

[2016-09-19 13:14] lakruzz opened #4 "Hmmm - failed review"
0d9572657661e51c0862736330e214fc9de364fb

[2016-09-21 10:27] lakruzz commented on #376
@jonnycoull @illus0r do you have any ideas on how we might solve this one?

[2016-09-21 10:29] lakruzz commented on #372
@illus0r @jonnycoull let's come up with some design suggestions, how could we solve this in an elegant way?

[2016-09-21 10:42] jonnycoull commented on #376
@lakruzz @illus0r can we have a row of small icons at the top, evenly spaced without copy? the page before you see the full description of each.

[2016-09-21 10:47] jonnycoull commented on #376
![p](https://cloud.githubusercontent.com/assets/17589853/18708136/38ffc65c-7ff1-11e6-987d-7579fcb78bf6.png)

[2016-09-21 10:49] jonnycoull commented on #372
can someone direct me to a link where i can have a look please? @lakruzz @illus0r ?

[2016-09-21 10:51] jonnycoull commented on #372
Do you mean when you type it appears below not inside the box? @buep ?
![screen shot 2016-09-21 at 11 50 41](https://cloud.githubusercontent.com/assets/17589853/18708214/b20315f4-7ff1-11e6-8909-2c2146960a53.png)

[2016-09-21 11:56] lakruzz opened #377 "Agenda for Phable+Praqma workshop"
Use this issue to build the agenda for the workshop planned in CPH 6+7th October

[2016-09-22 12:45] illus0r commented on #372
@jonnycoull yep
@lakruzz what a kind of design suggestion do you mean? Why don't just fix it up? I shouldn't take much time.

[2016-09-22 12:47] lakruzz opened #378 "Event manager job ad"

[2016-09-22 12:59] jonnycoull commented on #372
@illus0r yes all it needs is so the copy appears inside so you can handle that Ivan? without need for a mock.

[2016-09-22 13:26] jonnycoull commented on #376
Its an odd one as in all the other parts of the site you reply on the user to click back to regain access to any sub menu, like services for example. @illus0r in discussion with @lakruzz it needs an about icon to appear in the bar to nav back to the original page.

[2016-09-22 14:05] jonnycoull commented on #376
![0607c044-7e3c-11e6-9d4d-eb33f9990c5f 2](https://cloud.githubusercontent.com/assets/17589853/18751189/032f6e52-80d6-11e6-95a9-d92fabc74b03.png)
![0607c044-7e3c-11e6-9d4d-eb33f9990c5f](https://cloud.githubusercontent.com/assets/17589853/18751190/03441d16-80d6-11e6-88dd-b143a0e2eff5.png)

[2016-09-22 14:06] jonnycoull commented on #376
so a vertical or horizontal option, small text isn't too bad. it can be called up a little if you need ivan, but make sure there is a decent gap between words. @illus0r @lakruzz

[2016-09-22 18:47] meekrosoft opened #379 "Add description page for github services"
We currently have a nice page showcasing our atlassian services...could we have the same for github?

[2016-09-22 21:18] #378 closed

[2016-09-23 06:00] lakruzz opened #380 "Lego image too big"

[2016-09-23 06:03] #380 closed

[2016-09-23 09:22] meekrosoft opened #381 "Create blog post on thin shell repositories in git"
We need a blog post..
Title: Thin-shell repositories in git

 - When you would want them
 - When you would not want them
 - Subtrees vs Submodules
 - How to create them (script)
 - How to keep them updated (jenkins script)
 - Developer workflow for keeping up to date

[2016-09-24 08:19] lakruzz opened #382 "A blog on our onbording approach"

[2016-09-24 20:31] #382 closed

[2016-09-25 05:54] lakruzz opened #383 "Manage frontpage"
There's a TODO in https://github.com/Praqma/praqma.com/blob/gh-pages/_includes/posts.html that needed a hanger.

[2016-09-25 08:07] #383 closed

[2016-09-25 18:19] lakruzz commented on #372
sorry I mistook this for a duplicate of #242

[2016-09-25 20:37] lakruzz opened #384 "Change 1hour url"
The 1-hour-free consultation is displayed like this:

![image](https://cloud.githubusercontent.com/assets/155492/18818099/46452478-8371-11e6-93c9-8f4843a8aa55.png)

But the url itself is still referring to 1hour:
![image](https://cloud.githubusercontent.com/assets/155492/18818104/72951038-8371-11e6-944d-7eb2bf2fe216.png)

This was mentioned in [#/marcom/97](https://github.com/Praqma/marcom/issues/

[2016-09-26 06:44] lakruzz opened #385 "TDD for Embedded - course description"
We need a description of the TDD for embedded course  on our web site.

Maybe @meekrosoft can draft something up we can review?

[2016-09-26 06:46] lakruzz opened #386 "Put our partnership with James Grenning online"
@meekrosoft can you draft something up, or give a few keywords to Phable, and have them do it.

[2016-09-26 06:48] lakruzz commented on #385
James Grenning says:

Here is some info on my book
https://wingman-sw.com/tddec

[2016-09-26 19:13] lakruzz opened #387 "Update onboarding blog post"

[2016-09-26 19:50] #387 closed

[2016-09-27 13:18] alexsedova opened #388 "A blog post about creating Docker Swarm cluster in AWS using Terraform"

[2016-09-28 12:22] lakruzz opened #389 "Update event manager posting"

[2016-09-28 12:27] #389 closed

[2016-09-29 12:21] jonnycoull commented on #305
@lakruzz should this still be ongoing?

[2016-09-30 08:11] jonnycoull opened #390 "Colour tidy up"
Fix the existing colour ways on site to match brand parameters. This was issued to you @illus0r @timea a while back, but never actioned when individual pages were built. Each location has a colour. and it needs to be right. Otherwise it is not aligning with Brand colours at the event its self.

[CODECONF_COLOURS.pdf](https://github.com/Praqma/praqma.com/files/502388/CODECONF_COLOURS.pdf)

[2016-09-30 08:41] adamhenriques commented on #390
@jonnycoull  Color updated on http://www.code-conf.com/code-sthlm-2016/. @timea @illus0r will you tidy up throughout; event thumbnail on http://www.code-conf.com/ etc.

[2016-09-30 09:05] jonnycoull commented on #390
Thanks @adamhenriques now @illus0r or @timea you need to match the page to this image. Also I've added white icons to the image library, There may be ones there already but just incase. I'm doing so now.

CHANGES...

CO- to orange.

BLACK ICONS TO WHITE.

SIB HEADS TO ORANGE. (not on mock but needs doing)

![screen shot 2016-09-30 at 10 01 14](https://cloud.githubusercontent.com/assets/17589853/18

[2016-09-30 10:50] adamhenriques opened #5 "Udate mailbanner for CoDe STHLM16"

[2016-09-30 10:57] #5 closed, assigned to adamhenriques

[2016-09-30 18:45] lakruzz commented on #305
I don't think this is relevant anymore - we have CoDe-Conf for the exact same purpose

[2016-09-30 18:45] #305 closed

[2016-09-30 19:56] lakruzz opened #391 "onboarding spelling errors"

[2016-09-30 20:01] #391 closed

[2016-10-01 09:19] lakruzz opened #392 "update location on job ads"

[2016-10-01 09:48] #392 closed

[2016-10-04 14:31] illus0r commented on #384
Didn't get from description, how to rename it.
@lakruzz can I change the url to `consultation`?

[2016-10-04 14:38] illus0r commented on #390
@jonnycoull

What's SIB?

[2016-10-04 14:39] illus0r commented on #390
- [ ] CO- to orange.
- [ ] BLACK ICONS TO WHITE.
- [ ] SIB HEADS TO ORANGE. (not on mock but needs doing)

[2016-10-04 15:02] jonnycoull commented on #390
Sorry supposed to say SUB headings as in (EMBEDDED EDITION AND EXTRAS)

[2016-10-05 13:44] adamhenriques commented on #390
@Andrey9kin

[2016-10-08 06:15] lakruzz opened #393 "Make long-copy of the Bonnie story"

[2016-10-09 08:40] #393 closed

[2016-10-09 08:50] lakruzz opened #394 "Long-copy version of the Bonnie Situation needs a review"
@meekrosoft @BrucePhable

I distilled (#393)  the content of the Bonnie Situation story from [my own blog](http://www. story.com/en/wolfware-republished/) into a one-piece-long-copy version on [our own website](http://www.praqma.com/stories/the-bonnie-situation/).

me: _"A review would be nice"_
you: _"Come again?"_
me: _"I said a review would be nice"_
you: _"Listen Buster, we're not here to do r

[2016-10-10 06:32] lakruzz opened #395 "review on The Bonnie Situation"

[2016-10-10 06:52] #395 closed

[2016-10-10 06:53] lakruzz commented on #394
I did a few updates myself in #395, be sure to pull latest.

[2016-10-10 14:06] adamhenriques opened #396 "Link error"
Link for our customer cases includes a space resulting in a 404 if copying the link;

http://www.praqma.com/stories/#Customer case

<img width="737" alt="screen shot 2016-10-10 at 16 07 33" src="https://cloud.githubusercontent.com/assets/8004259/19238861/b54267b2-8f03-11e6-8b2e-132cf4094ce5.png">

[2016-10-11 06:00] #363 closed

[2016-10-11 06:02] lakruzz commented on #149
I'm closing this, it's too generic and has no description - add the individual "How We Work" posts as individual items

[2016-10-11 06:02] #149 closed

[2016-10-11 06:03] lakruzz commented on #156
It's in progress (rouges gallery), but this issue is too generic  - I'm closing it

[2016-10-11 06:03] #156 closed

[2016-10-11 06:05] lakruzz opened #397 "Add links to related posts on each story"
Find a way (design/implementation) where we can have a list of related stories (based on similar tags) at the ende of each read.

[2016-10-11 06:06] lakruzz commented on #397
@jonnycoull @illus0r

Feedback on this. I think it's really important

[2016-10-12 08:58] jonnycoull commented on #397
@illus0r  some code or background work that could be done is that at the bottom of each blog (and elsewhere) that we loop the user around in the site to keep him engaged and clicking as data shows that they come in and drop out as internally its too difficult/ labour intensive for the user to find things.  So two recommended posts based on that article. This post is also in reference to building a

[2016-10-12 12:25] jonnycoull commented on #397
@lakruzz @meekrosoft @illus0r So ive mocked up a SITE and mobile execution, which will probably sprout many new issues but here we go....

SITE.
Hierarchy adjusted so bigger image at top, currently too copy heavy right at the start. you'll see at the right side the bar has been adjusted.

• Search bar, is just that a search bar. no tags.
• Filter. this will operate as a drop down so you don't have

[2016-10-12 17:22] lakruzz commented on #397
@jonnycoull I like it, very much. I imagine that this will definitely help on the drop out tendency that we see.

What's @illus0r's estimate on this? Lets try to hammer out concrete work items from this briefing.

Note: I'm not sure we support multiple tag selections at this time - do we @illus0r?

[2016-10-12 20:13] buep opened #398 "Don't we have a feed anymore?"
Earlier it was http://www.praqma.com/feed and now again I miss a way to follow new stories.

[2016-10-13 05:58] aliprq commented on #398
There seem to be an error on the page.

@illusor can you see if it's something with our content or the module we're
using?

On Oct 12, 2016 22:13, "buep" <notifications@github.com> wrote:

[2016-10-13 08:08] Andrey9kin commented on #394
@lakruzz you probably meant Vincent here

Mostly as a habit, Jules is holding a gun in his hand. Suddenly the gun goes off and now Marvin’s brain is all over the ‘74 Chevy Nova.

[2016-10-13 13:26] BrucePhable commented on #394
Updated after a bit of copyediting:

https://docs.google.com/document/d/1MVQrW6tpPyoyVs4seNfbBGwgarRJCJbcXt4kGram_Yo/edit?usp=sharing

[2016-10-18 05:17] lakruzz opened #399 "rename file for the code academy post"

[2016-10-18 05:19] lakruzz opened #400 "The MarCom machine blog post"

[2016-10-18 05:19] #399 closed

[2016-10-18 06:20] lakruzz opened #401 "Clean up"

[2016-10-18 06:23] #401 closed

[2016-10-18 06:23] lakruzz opened #402 "turning 30 blog post"

[2016-10-18 13:34] lakruzz opened #403 "clean up terraform blog"

[2016-10-18 13:35] #402 closed

[2016-10-18 13:36] #403 closed

[2016-10-18 14:56] illus0r commented on #398
@buep @aliprq thanks for mentioning, I'll have a closer look. I'm assigning myself

[2016-10-18 15:28] lakruzz opened #404 "Bruce's review on bonnie"
@BrucePhable left this for me https://docs.google.com/document/d/1MVQrW6tpPyoyVs4seNfbBGwgarRJCJbcXt4kGram_Yo/edit?ts=57ff8ae6#heading=h.mmea6r6dxpn

[2016-10-18 16:21] jonnycoull commented on #390
@illus0r @adamhenriques putting this in the CODE-CONF repository. and closing here.

[2016-10-18 16:21] #390 closed

[2016-10-18 16:28] #342 closed

[2016-10-18 16:42] jonnycoull commented on #242
The solution lives here....
https://github.com/Praqma/praqma.com/issues/397

[2016-10-18 16:44] #143 closed

[2016-10-19 09:11] lakruzz commented on #404
Hi @BrucePhable

Thanks for the effort.

It's a little bit tricky to take your notes from the google document, because the copy is already published in  a different format [here in this repository](https://raw.githubusercontent.com/Praqma/praqma.com/gh-pages/_posts/2016-10-08-the-bonnie-situation.md]

So at the end of the day, your improved copy will have to go here too.

__We have two challenges:

[2016-10-23 18:35] meekrosoft commented on #404
@lakruzz @BrucePhable
Folks, maybe this is a great example of a situation where the github native user interface can help.  It supports branch creation, review (pull requests), markdown preview, version history.  All through the web ui, so there are no special tools or skills to pick up.  Could we give it a try?

[2016-10-23 18:38] meekrosoft opened #405 "Blog post on internship of the year"
We should have a blog post on winning internship of the year.

It should include links to the university press releases, and include the youtube video of timea being interviewed.

We should link to this blog post in our internship pages.

[2016-10-25 05:07] lakruzz opened #406 "Job ad for a Wolf"

[2016-10-25 05:08] lakruzz opened #407 "Job ad for a Praqtitioner"

[2016-10-25 05:08] lakruzz opened #408 "Job ad for a sales profile"

[2016-10-25 05:08] lakruzz opened #409 "Job ad for a benevolent dictator"

[2016-10-25 05:09] lakruzz opened #410 "Job add for inovators"

[2016-10-25 06:58] lakruzz opened #411 "Job ad for CoDe miners and automaters"

[2016-10-25 06:59] lakruzz commented on #406
@meekrosoft

My goal is to tell - more or less - the same story three times - each focusing on a different angle: Wolf (this one), Praqtitioner (#407) and CoDe miners (#411)

[2016-10-25 08:58] Andrey9kin commented on #381
@les-praqma could you please elaborate on what is expected from me? Writing blog itself? Help with a review? Suggesting ideas?

[2016-10-25 12:41] lakruzz opened #412 "Change the avatar for bonnie"

[2016-10-25 13:45] #394 closed

[2016-10-25 13:59] #406 closed

[2016-10-25 14:13] #412 closed

[2016-10-25 14:15] lakruzz commented on #404
@meekrosoft  closed #394 which is almost a duplicte for this one - I think we're good for now

[2016-10-25 14:15] #404 closed

[2016-10-25 14:16] lakruzz opened #413 "take the code add offline"

[2016-10-25 14:19] #413 closed

[2016-10-25 14:24] lakruzz commented on #372
Why is this small task still open? @illus0r

[2016-10-25 14:24] lakruzz opened #414 "Search field on our 404 page is totally off"
![image](https://cloud.githubusercontent.com/assets/155492/19689910/35921f44-9acf-11e6-8266-0eb9104b9f3b.png)

![image](https://cloud.githubusercontent.com/assets/155492/19689918/3e9f7b22-9acf-11e6-9ea6-84312b06cbd5.png)

Related to #372

[2016-10-25 15:25] jonnycoull commented on #372
Full Solution lies within... issue #397 but I'm sure it could be done before all that. @illus0r ive added it to week43

[2016-10-25 16:03] #409 closed

[2016-10-25 17:14] #407 closed

[2016-10-25 17:21] lakruzz opened #415 "proof read the praqtitioner add"

[2016-10-25 17:31] #415 closed

[2016-10-25 19:17] adamhenriques opened #416 "Error in jobposting"
There is an image error in the new jobposting for a praqtitioner

http://www.praqma.com/about/jobs/

[2016-10-26 00:26] illus0r commented on #384
@jonnycoull I'll pick this one `consultation`, if no objections. It can be fixed later

[2016-10-26 06:33] lakruzz opened #417 "change the name of the cuff css class"

[2016-10-26 07:17] meekrosoft opened #418 "Unpublish job ads until further notice"

[2016-10-26 07:30] #418 closed

[2016-10-26 07:37] meekrosoft opened #419 "Lighten car image so we can clearly see blood"

[2016-10-26 07:41] monaslarsen commented on #419
Uhm, should I be worried...?

[2016-10-26 07:42] monaslarsen commented on #419
Ah, Pulp Fiction related I assume!

[2016-10-26 07:45] #417 closed

[2016-10-26 07:56] #419 closed

[2016-10-26 08:20] meekrosoft opened #420 "Fix typo in bonnie situation opening line"

[2016-10-26 08:24] BrucePhable commented on #420
I should've made it clear that my review of the Bonnie story was just a first look - I was expecting feedback from you guys and more changes to be made. So, i's not "done-done." It needs the final edit.

[2016-10-26 08:25] #420 closed

[2016-10-26 09:22] lakruzz commented on #400
There's a draft commit: fff5f68

[2016-10-26 09:23] lakruzz commented on #400
https://github.com/Praqma/praqma.com/blob/400-The-MarCom-machine-blog-post/_posts/2016-10-18-the-marcom-machine.md

[2016-10-26 09:26] lakruzz commented on #400
https://github.com/Praqma/the-phlow

[2016-10-26 09:28] lakruzz commented on #400
https://github.com/bobthecow/git-flow-completion/wiki/Install-Bash-git-completion

[2016-10-26 09:55] meekrosoft opened #421 "Remove unnecessary quote"

[2016-10-26 10:09] meekrosoft opened #422 "Fix link in wolf job posting"

[2016-10-26 10:11] #422 closed

[2016-10-26 11:35] buep opened #423 "Please publish my blog post "Trust in docker images""
@drBosse did a technical review, and gave thumbs up on my message makes sense. Also fixed some wording and typos.

I need a real wording/english review please.

Take and use the current version of my blog post, which can be found on my branch for my issue: https://github.com/Praqma/praqma-RnD/blob/1-docker-image-trust/docker/trust-in-docker-images.md

Note the images for the post is in the images

[2016-10-26 11:36] buep commented on #423
@monaslarsen - ignore your mail... I created this issue instead. Have a good vacation.

[2016-10-26 11:38] timea opened #424 "testIssue"

[2016-10-26 12:37] #424 closed

[2016-10-26 13:36] lakruzz commented on #423
@buep @monaslarsen

It would be practical to move the markdown to the praqma/praqma.com repo and put it in the `_posts` folder and include a `published:false` in the front matter.

This way we can build it using `jekyll serve --unpublished` and see how it adapts to the layout on www.praqma.com.

Also we have a pipeline set up in this repo, that will help discover broken links, unused images etc.

[2016-10-26 13:38] buep commented on #423
Will do... assigning myself.

[2016-10-26 13:54] meekrosoft opened #425 "Remove quotes from praqtitioner post"

[2016-10-26 14:00] #425 closed

[2016-10-26 14:13] buep commented on #423
couldn't get the jekyll to work, would expect to use a container, my local install can't run it.

So be aware I haven't check layout... but added frontmatter as good as I could.
And images and text.

does it run on branches?

[2016-10-26 14:14] buep commented on #423
@lakruzz  a few tips would be nice so I can finish more of it

[2016-10-26 14:24] lakruzz commented on #423
https://github.com/Praqma/docker-gh-pages
https://hub.docker.com/r/praqma/gh-pages/

[2016-10-26 14:27] lakruzz commented on #423
@buep the docker-gh-pages is base on GitHub's github-pages gem, whice they guarantee is in sync with the jekyll version and configuration that is live at github pages.

@MadsNielsen created the image - but the readme file in the repo should be sufficient to get up and running.

[2016-10-26 14:28] lakruzz commented on #423
Nope - it runs as part of the integration - (`ready/**` branches)

[2016-10-27 12:29] meekrosoft opened #426 "Fix typo in sales post"

[2016-10-27 12:31] meekrosoft opened #427 "Publish sales post"

[2016-10-27 12:49] #426 closed

[2016-10-27 12:50] #427 closed

[2016-10-28 05:38] meekrosoft opened #430 "Page for code alliance"

[2016-10-28 11:53] martinmosegaard opened #431 "Invalid Aarhus office map link"
Our about page has an invalid link to Google maps:
https://github.com/Praqma/praqma.com/blob/gh-pages/_data/offices.yml
http://www.praqma.com/about/offices/

Instead of pointing to Nørregade, it should point to Incuba.

[2016-10-28 11:55] martinmosegaard opened #432 "Invalid Copenhagen office map link"
The about-offices page should probably not point to Borgergade anymore?
https://github.com/Praqma/praqma.com/blob/gh-pages/_data/offices.yml
http://www.praqma.com/about/offices/

[2016-10-28 12:07] martinmosegaard opened #433 "Update VAT for Aarhus office"
If (when?) Praqma Aarhus is closed, we should update the VAT/CVR number on our about page:
https://github.com/Praqma/praqma.com/blob/gh-pages/_data/offices.yml
http://www.praqma.com/about/offices/

[2016-10-28 12:10] #431 closed

[2016-10-28 15:06] jonnycoull commented on #430
![josra](https://cloud.githubusercontent.com/assets/17589853/19811256/809d4b2a-9d28-11e6-929a-dfb4e53bd5c7.png)
@meekrosoft for the small pic

[2016-10-28 19:30] lakruzz opened #434 "add odense to the wolf ad"

[2016-10-28 19:35] #434 closed

[2016-10-29 13:59] lakruzz commented on #408
duplicate of #708

[2016-10-29 13:59] #408 closed

[2016-10-29 14:10] lakruzz commented on #430
@jonnycoull is that the new logo? Cool!

* We need a version in 3:4 format (height:width e.g. 600x800px)
* Is the blurred code in the background intended, it looks like it's 3 different layers of different code

[2016-10-29 14:17] lakruzz commented on #430
@buep  said:

And I probably won't have time until Monday.

@buep Mike has already made some copy related to this in 6b7e111

I'll give it a review now, so you mig be off the hook - if you wanna contribute, please continue on the branch `430-Page-for-code-alliance` together with me and @meekrosoft

[2016-10-29 14:27] jonnycoull commented on #430
Hi @lakruzz @meekrosoft no not the new one, but there's a hint of direction in there. I thought it was just a plug of that small image on the site. and yes its 3 /4 layers of code just for a bit of texture. if you'd prefer something that relates to someone that could read it feel free to paste here and ill use that code instead. and then update the size.

[2016-10-29 14:33] #430 closed

[2016-10-29 14:47] lakruzz opened #435 "Mike's ready branches are not delivered"
@meekrosoft are you aware that you have to deliveries, that are not merged in?
- `origin/ready/421-Remove-unnecessary-quote`
- `origin/ready/426-Fix-typo-in-sales-post`

Could have been while our jenkins server was off line (?)

If you still have them locally, they are renamed to `delivered/**`

Then - to force Jenkins ro rerun - I usually do like this:

[code]

[2016-10-29 14:53] lakruzz commented on #416
@adamhenriques Adam, it's not clear what the error is (make it a habit to add a screen dump) is the  issue still relevant?

[2016-10-29 14:59] #414 closed

[2016-10-29 15:06] lakruzz opened #436 "Fix search bar"
I fixed #414 and #372 with this commit 0835c2c

I might have ruined something else though - I've looked at a few stories that uses tables - but can's see that anything is looking weird or wrong.

 @illus0r please give it a review.

[2016-10-29 15:08] lakruzz commented on #372
I'm closing this one with 0835c2c (fixes #372 and #414 in one go)

There might be unwanted side effects though I've created #436 investigate if thats's the case

[2016-10-29 15:08] #372 closed

[2016-10-29 15:13] lakruzz opened #437 "Blog post on CoDe Alliance"
We need to tell the story _why_ and _how_ Josra becomes CoDe Alliance

Poke: @buep

[2016-10-29 15:16] lakruzz commented on #430
@jonnycoull

Could be something like:

https://github.com/Praqma/memory-map-plugin/blob/master/src/main/java/net/praqma/jenkins/memorymap/graph/MemoryMapGraphConfiguration.java

or

https://github.com/Praqma/memory-map-plugin/blob/master/src/main/java/net/praqma/jenkins/memorymap/MemoryMapProjectAction.java

...does it make sense? (well I know it doesn't  - but as used for background - that was wh

[2016-10-29 15:18] lakruzz commented on #437
@jonnycoull made a logo suggestion in #430 - he will upload an updated attempt on this one (since #430 is closed)

[2016-10-29 15:24] lakruzz commented on #410
It's in the repo ready to be published - we just need to create some fuzz about it

[2016-10-29 15:37] lakruzz commented on #405
@meekrosoft

I made a post on LinkedIn back then:

https://www.linkedin.com/pulse/praqma-wins-price-internship-year-lars-kruse?

Feel free to copy and paste

[2016-10-29 15:48] lakruzz commented on #400
@ThaKangBaby @timea

Oooh - I need one more:

- [ ] Configure OpenDiff as the mergetool (see [stack overflow issue](http://stackoverflow.com/questions/13719122/how-to-use-opendiff-as-default-mergetool))

[2016-10-29 15:50] #335 closed

[2016-10-29 16:07] lakruzz commented on #398
@illus0r what's the status on this one?

I just ran a bisect on the issue, the result was:

[code]

In short - look at a66bca8e1c08656024e44376c13e1902b3b9bd48

[2016-10-29 16:15] lakruzz opened #438 "fix white space in story url"

[2016-10-29 16:19] #438 closed

[2016-10-29 16:19] lakruzz commented on #398
OK that was easy - closing this one with #438

[2016-10-29 16:19] #398 closed

[2016-10-29 16:21] lakruzz commented on #438
@adamhenriques __NEVER__ use white spaced in file names!!!

`_posts/2016-06-30-Github & Praqma Seminar.md → _posts/2016-06-30-Github-Praqma-Seminar.md`

[2016-10-29 16:28] lakruzz commented on #396
Although the url "http://www.praqma.com/stories/#Customer case" is valid in some browsers it's only because these browsers are are implicitly replacing the whitespace with `%20`

@illus0r you should explicitly replace space (`" "`) with "%20" when generation URL from tags.

[2016-10-29 16:44] #396 closed

[2016-10-29 17:11] #384 closed

[2016-10-30 07:10] lakruzz commented on #437
A quick hack, to use as placeholder ![code-alliance-3x4](https://cloud.githubusercontent.com/assets/155492/19834997/31abc978-9e78-11e6-85a8-1d3d280510e2.png)

[2016-10-30 09:51] #437 closed

[2016-10-30 09:55] lakruzz opened #439 "Review CoDe Alliance blog post"
Follow up on #437:

review 27ebc2f

The MarkDown is this one: https://github.com/Praqma/praqma.com/blob/gh-pages/_posts/2016-10-30-code-alliance.md

Please, make it easy on ourselves, just make your updates and deliver it directly. (Or leave you comment in the review 27ebc2f)

Leave the `published:false` in then front matter for now though, until we actually have an entry on www.code-conf.com to l

[2016-10-30 09:57] lakruzz commented on #437
@buep and @meekrosoft

I'm done with a first draft. I have committed it and delivered it to `gh-pages` already.

It's not published though.

Please leave this issue closed and continue with your reviews on #439

[2016-10-31 08:39] buep commented on #439
@lakruzz I found some typos and one factual wrong thing - I'm editing the stuff... and adding on this issue as soon as I'm done.

[2016-10-31 09:45] buep commented on #439
I pushed my review changes on a branch.

I'm missing two things in our communication, but it could just be in our mail to the old members maybe. In a few words it something around our motivation and the undergoing changes to come:

* nothing changed, it is still the same just a new name - the renaming will go on for some while adjusting website and taking down old josra website
* it all about our

[2016-10-31 10:47] buep opened #440 "Google ad in search result"
Was checking searches on our website... searching for "Documentation" and found what I wanted... but also got a lot of Google adds... looks ugly!

Maybe we could pay something to make them go away? See picture.
![selection_102](https://cloud.githubusercontent.com/assets/1579826/19851759/d6573a2e-9f5f-11e6-9576-bb75be1fc728.png)

[2016-10-31 13:41] buep opened #441 "Blueprints on praqma.com"
Can I get some content related to, or something from our blue prints to our website?
Maybe under code-alliance?

http://blueprints.praqma.net/

I'm thinking of a new blueprint related to memorymap... and I think the old site should migrate to somewhere else.

[2016-10-31 13:42] jonnycoull commented on #437
![codealliance](https://cloud.githubusercontent.com/assets/17589853/19856097/e988c102-9f6f-11e6-8eb0-2a5957a59d7b.jpg)
![codealliance](https://cloud.githubusercontent.com/assets/17589853/19856098/e9898056-9f6f-11e6-92ab-8dad89b3f04f.png)

[2016-10-31 13:43] jonnycoull commented on #437
@lakruzz new logo uploaded.

[2016-10-31 14:45] buep commented on #423
I have made some more layout, all I could figure from looking at other post that was non-standard markdown...

Now I need some help with the last parts:

* image for the post in the list and overview
* layout
* short review on wording - Bo and I have done it, maybe someone would like to tip in?

@lakruzz @adamhenriques - help needed for the rest.

[2016-10-31 15:09] adamhenriques opened #442 "add blog"

[2016-10-31 15:51] meekrosoft opened #443 "Show the git workflow to the team"

[2016-10-31 16:54] illus0r commented on #436
@lakruzz
Bug has gone, but others appeared
![image](https://cloud.githubusercontent.com/assets/797993/19863030/affd0d2e-9fa3-11e6-8721-afef3abfd97e.png) (chrome)
![image](https://cloud.githubusercontent.com/assets/797993/19863060/ce4bc8b0-9fa3-11e6-83dc-40c81197d8bd.png) (safari)

[2016-10-31 19:52] adamhenriques commented on #423
@buep, i have udloaded blogpost. Please review

[2016-10-31 19:53] #442 closed

[2016-11-01 06:57] lakruzz commented on #436
OK, plese fix it

On Oct 31, 2016 17:54, "illus0r" <notifications@github.com> wrote:

[2016-11-01 08:22] adamhenriques opened #444 "update blog"

[2016-11-01 08:53] illus0r commented on #436
@jonnycoull can you assign the milestone?

[2016-11-01 09:10] jonnycoull commented on #436
Gah my mobile has forgotten the git password, can u assign to this weeks
milestone if time, if not then next weeks please. As I'm not near my
computer today

On Tuesday, 1 November 2016, illus0r <notifications@github.com> wrote:

[2016-11-01 10:46] illus0r commented on #436
@jonnycoull assigned to week 44

[2016-11-01 10:47] meekrosoft opened #445 "Fix spelling in code alliance summary"

[2016-11-01 10:51] #443 closed

[2016-11-01 10:52] #444 closed

[2016-11-01 10:55] #445 closed

[2016-11-01 11:10] adamhenriques opened #446 "edit blog"

[2016-11-01 11:35] #446 closed

[2016-11-01 21:28] lakruzz commented on #439
Thanks @buep.

I like your message to the existing messages, but also agree that it belongs to the notification mail, and not in the blog post. I'll add it when the mail goes out.

@meekrosoft, @sofusalbertsen does any of you wanna chip in?

[2016-11-02 07:41] buep commented on #423
Thanks @adamhenriques - only thing is the container image that is 9MB and loads really slow... I will fix that in another issue.

[2016-11-02 07:41] #423 closed

[2016-11-02 07:43] buep opened #447 "Trust in docker images blog post - container image to large"
The blog post made in #423  container image that someone added to my blog post is to large in size, 9MB...

Must be smaller in disk size to load faster.

[2016-11-02 08:06] sofusalbertsen commented on #439
I've only given it a brief read-through.
Do we want them to chip in with topics for the next gathering, or are we doing the investigation ourselves? If they should chip in as well, then we need to tell them.

[2016-11-02 08:06] buep opened #448 "Trust in docker images - edits are missing, why are the blog copied in?"
I can see that the current live blog published now isn't taking from the source where Bo and I have made edits. Thus important edits are missing.

The blog post was edited as part of #423, but @adamhenriques published the blogpost as part of #442 and #444 or #446 - can't really figure it out.

@lakruzz  @adamhenriques why do you create new issues and not the use #423 for the blog post where all ed

[2016-11-02 08:09] buep commented on #448
I'm going to see if I can fix it and figure out what was going on.

[2016-11-02 08:17] #447 closed

[2016-11-02 08:22] buep commented on #447
@lakruzz I fixed the image size from 9 to 1 mb... job still complains about the size,l I got a mail... could find any specs on image size... so don't know how to fix it further. But now at least the blog post can load within reasonable size.

[2016-11-02 08:28] adamhenriques commented on #448
Thats on me, thought I took it the right place. The reason it was published
as #442 <https://github.com/Praqma/praqma.com/issues/442> and #444
<https://github.com/Praqma/praqma.com/issues/444> is that Jenkins server
was down and had to do a workaround (help from claus)

If you let me know where the right tet is, ill update it.

[image: ____________________________________________________________]

[2016-11-02 08:35] buep commented on #448
Okay @adamhenriques sorry for the harsh comment... didn't know there was a work-around.

I will go over the blog post now and see if all the edit Bo and I is there. The real problems I guess is not the work-around, the challenge is I don't know what was done or how.

[2016-11-02 08:42] adamhenriques commented on #448
@buep, I just copied the text from
https://github.com/Praqma/praqma-RnD/blob/1-docker-image-trust/docker/trust-in-docker-images.md
-
havent edited in the source.

Let me know which is the right source and ill have it updated.

[image: ____________________________________________________________]
Adam Henriques
Sales & Marketing
ah@praqma.net
+45 28 12 90 94 <+45%2028%2012%2090%2094>
Skype: adamhen

[2016-11-02 08:46] buep commented on #448
Okay thanks... the real one lives in a branch matching the blog post #423 issue... but now I know what was going on.

I'll fix it as soon as my meetings are done...

[2016-11-02 08:54] buep commented on #448
Talked to Adam... I know all I need now to fix it... but the branch on #423 is deleted in repo, and I have it locally so it is easier for me to fix it

[2016-11-02 09:02] buep opened #449 "You have unstable jobs"
As a developer I take unstable jobs seriously ... thus when I was notified of an unstable job after pushing my blog post I thought I had a problem... but that was an old problem. you have lots of unstable builds.

I got this link: http://code.praqma.net/ci/job/Web_www.praqma.com-trigger/207/

Please go green :-)

[2016-11-02 09:21] jonnycoull commented on #397
@illus0r start breaking this down into sizeable issues. to execute the above.

[2016-11-02 12:22] #448 closed

[2016-11-02 14:12] #436 closed

[2016-11-02 14:12] illus0r commented on #436
@jonnycoull
Ahhh, google's code mess. I didn't manage to make things nicely and had to remove placeholder completely.

[2016-11-02 15:23] illus0r commented on #397
@jonnycoull

1. How will the page understand, which articles are related?
1. Which articles we'll show as trending for now?
1. Why social buttons jump to the top on mobile?
1. How will I understand wether articles are filtered or not? The filter widget can be collapsed or invisible sometimes, I can forget that I've applied filters and think that blog is empty.
1. How do filters appear on mobile? S

[2016-11-02 15:53] jonnycoull commented on #397
@illus0r this is a HUGE job. we need a meeting. lets go through everything on friday but this will give u a start,

1. through the keywords algarrythim code or labels that have been imbedded in that blog. I do design not tech so thats down to you. find your inner google. have a look at news sites like METRO or BBC they all do it.
2. On amount of clicks, traffic that page has had. based on search t

[2016-11-02 16:33] lakruzz commented on #448
@buep @adamhenriques @bicschneider

Sorry, this limbo situation is not really covered in the phlow yet - I've made an issue on it
praqma/the-phlow#9

[2016-11-03 09:32] meekrosoft commented on #439
I have @BrucePhable here this week - I will get him to go through an polish.  I also have some thoughts along the lines of @buep - we need to emphasize that the purpose is to foster collaboration and cross-pollination of experience

[2016-11-03 12:37] illus0r commented on #397
@jonnycoull

1.
1.

[2016-11-03 13:10] illus0r commented on #397
@jonnycoull

1. The simplest way — is to show most recent items with same tags. Content parsing will take much longer
1. Have no idea how to implement this. It looks doable using google analytics API or like that. I should take some hours to investigate.
1.
1.
1. What to tap to see it?

[2016-11-03 14:29] adamhenriques opened #450 "add customers"

[2016-11-03 14:30] jonnycoull commented on #397
@illus0r
5. so I am a user, to open the menu I tap the burger icon. this appears. I've slightly tweaked the current format to help separate from white space below it.

![4392853e-907f-11e6-911a-811d96ae6d6f](https://cloud.githubusercontent.com/assets/17589853/19969855/fd85eeb4-a1d1-11e6-83fb-69cf9ab2ff3a.jpg)

[2016-11-03 14:31] jonnycoull commented on #397
it was just a coincidence it was open at same time as filter. this was to show it doesnt cover items it pushes them down.

[2016-11-03 14:55] #450 closed

[2016-11-03 15:41] adamhenriques opened #451 "edit tv2"

[2016-11-03 16:31] adamhenriques opened #452 "update customer"

[2016-11-03 16:35] #452 closed

[2016-11-04 12:11] illus0r commented on #397
@jonnycoull
I'm standing idle without tasks, let me know when you're free for chat.

[2016-11-04 12:58] illus0r opened #453 "Related posts: make a liquid script to show them"
Subtask of #397

[2016-11-04 12:58] jonnycoull commented on #397
@BrucePhable we need some lovely copy for @illus0r  in the ISSUE for the scocial media.

so for example when you click the email button it send s email with subject: See what cool story I found on Praqman.com http://www.praqma.com/stories/trust-in-docker-images/

similar for Facebook, twitter etc.

JC

[2016-11-04 13:19] illus0r commented on #397
Updated mock

![image](https://cloud.githubusercontent.com/assets/797993/20006842/818bf6bc-a2aa-11e6-8305-30b20dbaff5e.png)

[2016-11-04 13:39] illus0r opened #454 "Related posts: style"
![image](https://cloud.githubusercontent.com/assets/797993/20007333/c9bc5416-a2ac-11e6-8d28-d64381f957ad.png)

![image](https://cloud.githubusercontent.com/assets/797993/20007362/f69041c8-a2ac-11e6-879f-8777261d9f89.png)

Subtask of #397

- [ ] Show up to 6 related posts
- [ ] Show up to 2 on laptop
- [ ] Show show not more than 2 tags on plaques

We WON'T show related posts in the content.

[2016-11-04 13:40] illus0r opened #455 "Related posts: show only those, I have not visited"
Subtask of #397

[2016-11-04 13:42] illus0r opened #456 "Tags: hide tags into accordion on laptop"
Subtask of #397

![image](https://cloud.githubusercontent.com/assets/797993/20007520/aac9b872-a2ad-11e6-8936-bc926d2e6312.png)

[2016-11-04 13:44] illus0r opened #457 "Tags: implement mobile mockup"
Subtask of #397

[2016-11-04 13:45] illus0r opened #458 "Social: add buttons on laptop"
Subtask of #397

![image](https://cloud.githubusercontent.com/assets/797993/20007602/0f79f5ac-a2ae-11e6-8c07-2c808fbacbdb.png)

[2016-11-04 13:49] illus0r opened #459 "Social: add buttons on mobile"
Subtask of #397
Small if laptop version is implemented. And if whatsapp button will work without a hitch.

![image](https://cloud.githubusercontent.com/assets/797993/20007646/4e95dbac-a2ae-11e6-95bf-495637499302.png)

[2016-11-04 13:52] illus0r opened #460 "Post: make images to be big"
Subtask of #397

![image](https://cloud.githubusercontent.com/assets/797993/20007761/d330d4fc-a2ae-11e6-8209-349175c8fd1a.png)

![image](https://cloud.githubusercontent.com/assets/797993/20007795/f4996aa0-a2ae-11e6-882c-60ad825d540f.png)

[2016-11-04 13:55] illus0r opened #461 "Trending posts: show them"
Subtask of #397

![image](https://cloud.githubusercontent.com/assets/797993/20007905/6e1025b8-a2af-11e6-9db1-d6b387ebfa70.png)

[2016-11-04 13:57] illus0r opened #462 "Related posts: in content"
Subtask of #397

Show related posts in the content on mobile

![image](https://cloud.githubusercontent.com/assets/797993/20007958/a6c6a9ae-a2af-11e6-952f-16e8df566ac0.png)

[2016-11-04 13:59] illus0r opened #463 "Mobile navigation redesign"
Subtask of #397

![](https://cloud.githubusercontent.com/assets/797993/20006842/818bf6bc-a2aa-11e6-8305-30b20dbaff5e.png)

[2016-11-04 14:04] illus0r opened #464 "Tags: new system"
Tag list grew big and hard to explore. We need either rethink it's design (i.e. showing most popular tags, attaching a post number to each of them)

Or we need to rethink the whole tag system

[2016-11-04 14:42] jonnycoull commented on #464
Could the 5 most popular be visible then an option to see all?

[2016-11-06 09:34] lakruzz opened #466 "update the call to action on the code-all story"

[2016-11-06 09:34] lakruzz opened #465 "publish CoDe Allaince story"

[2016-11-06 09:36] #465 closed

[2016-11-06 09:39] lakruzz commented on #439
Released in #465

[2016-11-06 09:39] #439 closed

[2016-11-06 09:39] #466 closed

[2016-11-06 19:51] lakruzz commented on #376
@jonnycoull

I think this is OK, let's do this, we can take this one out of the backlog and add to a sprint.

@illus0r, do you still believe in this estimate?

[2016-11-06 20:01] lakruzz commented on #421
closed in 372c0a4

[2016-11-06 20:01] #421 closed

[2016-11-06 20:05] lakruzz commented on #435
delivered in 04851db and 372c0a4

[2016-11-06 20:05] #435 closed

[2016-11-06 20:20] lakruzz commented on #449
I'm super frustrated - Everything in the link checker is either false negatives or non sense:

http://code.praqma.net/ci/job/Web_www.praqma.com-linkcheck/242/warnings5Result/:

[code]

[2016-11-06 20:29] lakruzz commented on #449
@buep

Apparently what needs to be fixed is the (not versioned) script in the configuration of the [linkchekcer job](http://code.praqma.net/ci/job/Web_www.praqma.com-linkcheck/configure)

[code]

I need someone to fix this - the _real_ problem -I simply can't make the job go blue

[2016-11-06 20:37] lakruzz commented on #449
@buep

Another job that fails is this one here http://code.praqma.net/ci/job/Web_www.praqma.com-image-size-checker/39/

It doesn't provide any meaningful information for me as an end user - I think I'm expected to read the console output and make sense of it myself.

I do see some files that are too large:

[code]

But I also see and unhandled exception:

[code]

[2016-11-06 20:38] lakruzz opened #468 "fix images that are too large"

[2016-11-06 21:11] #468 closed

[2016-11-06 21:18] lakruzz opened #469 "size matters"

[2016-11-06 21:20] #469 closed

[2016-11-07 14:05] illus0r commented on #376
@lakruzz Horisontal layout is still `small`

[2016-11-07 14:05] illus0r commented on #376
I meant the time estimation :)

[2016-11-07 14:07] illus0r commented on #464
@jonnycoull Did you mean `most filled with articles`? That's easy

[2016-11-07 14:27] jonnycoull commented on #464
@illus0r yes, then an option to see all?

[2016-11-07 14:39] illus0r commented on #464
@jonnycoull doable as well

[2016-11-07 16:23] lakruzz opened #470 "The X-mas - slack challenge - Part I"
_This is the first part of the X-mas challenge, which - when completed together with Part II- will eventually bring the full featured slack to Praqma - as discussed in on the [#metaslack channel](https://praqma.slack.com/files/lakruzz/F2YQ009MY/to_slack_or_not_to_slack)._

---

## Challenge: Every consultant in Praqma, shall author or co-author a blogpost

The challenge is to proof to @lakruzz tha

[2016-11-07 19:29] JKrag commented on #470
@lakruzz Could you provide or link to some sort of requirements spec for said 4:3 image?
Based on previous experience there are quite a number of implied qualifications.

Another question: Do already published blog-posts count, or must we (co-)author a new one?

[2016-11-07 20:42] lakruzz commented on #470
@JKrag

Image:
Minimum 300:225
Maximum: 2000:1500

[2016-11-07 20:45] lakruzz commented on #470
@JKrag

In your dream, honey child! 🍯  Only posts committed to `gh-pages` _after_ the date of the challenge are accepted.

[2016-11-07 20:51] JKrag commented on #470
@lakruzz Didn't you forget the more subtle requirements like being unique for each post (i.e. not used before), not stolen from somewhere else and probably not drawn by someone with my approximate drawing talents?

[2016-11-07 21:16] lakruzz commented on #470
@JKrag

The challenge actually has a purpose: Slack can not ever be a substitute for **DORITH**. When _everyone_ has made them selve acquainted with the process of releasing a **ZAMM** quality blog posts on our web site, then I know, that at least it's not the process that's the impediment.

There are two important principles that needs to be present in the releases:

- DORITH
- ZAMM

## DORITH
**

[2016-11-08 07:42] adamhenriques opened #471 "add customer"

[2016-11-08 07:46] #471 closed

[2016-11-08 07:54] RandomSort opened #472 "X-mas Challenge response - Estimates are dead - long live estimates"
@praqma-thi and I have been discussing quite a bit how we can get better at the process, him being a miner, me being a wolf. ( no akward romatic histories! ).

We will be writing a blogpost about a solely timebox based task management approach.

[2016-11-08 09:21] lakruzz opened #473 "The Git Flow is unaccessible"
From SEO result.

@RandomSort posted on Slack:

randomsort	[9:46 AM]
https://www.google.dk/search?sourceid=chrome-psyapi2&ion=1&espv=2&ie=UTF-8&q=praqma.com%20git%20flow&oq=praqma.com%20git%20flow&aqs=chrome..69i57j0.3223j0j7

[9:46]
oops

[9:46]
leads to was.www.praqma.com/resources/papers/git-flow

[9:46]
which gives an error

[9:46]
So it might be more of a SEO issue than a ops issue

[2016-11-08 09:49] buep opened #474 "Wrong link - my first hit on google:"

[2016-11-09 13:36] illus0r commented on #454
@jonnycoull
almost done

some notes:

- it turned out, some images are of different heights. Someone needs to align them to some constant ratio. Should I wait with pushing until this is done? Or it can be fixed with styles, I guess. Should work in most cases. But it needs some extra time.
- script gets two post with bigger about of matching tags. If current post has no matching tags with any other

[2016-11-09 13:41] jonnycoull commented on #454
@illus0r  Can you build a rule that the orange box sits on the image so many pixels from the top so they all match? also is there a way so that the headlines are always 2 decks, so the orange boxes are also the same size.

[2016-11-09 16:11] meekrosoft opened #475 "Show Jon how we edit our website"

[2016-11-09 16:15] #475 closed

[2016-11-09 21:01] lakruzz opened #476 "The parameter name and email can be derived from the .gitconfig file"
git config --global --get user.name
git config --global --get user.email

[2016-11-09 21:04] #476 closed

[2016-11-10 09:44] illus0r commented on #454
@jonnycoull hi there!
As for me the only way to what you want is
- [ ] set constant height to orange box
- [ ] show no more than 2 rows of title. Hide the rest
- [ ] fit the image the nicest way (so it covers the box above the orange one)

What did I misunderstand?

[2016-11-10 09:45] illus0r commented on #454
so every box will be of the same height

[2016-11-10 16:36] illus0r commented on #454
@jonnycoull

I've delivered, [take a look](http://localhost:3006/stories/code-academy/).

1. Made long titles to fade away
1. short titles occupy two lines as well to keep orange boxes aligned.

![image](https://cloud.githubusercontent.com/assets/797993/20184786/fa52e4f0-a77a-11e6-9c61-001b47924eed.png)
![image](https://cloud.githubusercontent.com/assets/797993/20184839/19a316fe-a77b-11e6-9398-5f7

[2016-11-11 10:29] jonnycoull commented on #454
@illus0r the user needs to be able to read the whole headline, lets reduce the size of that type. find the current longest headline and make it fit. then work backwards from that.  then we'll imply a rule to writers that no headline too be over this character length.

[2016-11-11 11:29] illus0r commented on #454
@jonnycoull All right than. But why not to fix the long titles? It's the Lars way, I believe)

[2016-11-11 11:35] jonnycoull commented on #454
@illus0r there will on occasion be long titles so we need to make it work for all eventualities. short, med, and long. so crack on and lets see how you can sort it as I instructed. thanks.

[2016-11-11 11:52] illus0r commented on #454
@jonnycoull what if we'll step back from the ideal and make additional third line, if title is huge?

[2016-11-11 11:53] illus0r commented on #454
In most cases title's heights will match

[2016-11-11 12:43] jonnycoull commented on #454
lets see what that looks like.

[2016-11-11 15:41] illus0r commented on #454
@jonnycoull

![image](https://cloud.githubusercontent.com/assets/797993/20220327/248e64e2-a83e-11e6-897a-d1c181e10e4a.png)
![image](https://cloud.githubusercontent.com/assets/797993/20220383/6015783e-a83e-11e6-9c41-05e422eb0cd4.png)

[2016-11-11 15:47] #455 closed

[2016-11-11 15:51] illus0r commented on #454
@jonnycoull if there's no more than 2 lines, the height of elements will be equal. Now there's no posts with titles for 3 lines on the site. I've pushed the result

[2016-11-11 15:54] illus0r commented on #453
Closed in 72e03a6e7f9b60fa7a8be04bbd319b999ea02acb

[2016-11-11 15:54] #453 closed

[2016-11-11 15:55] illus0r commented on #454
@jonnycoull what should we do to close it?
When we're going to meet?

[2016-11-11 17:18] jonnycoull commented on #454
@illus0r good to close.

[2016-11-11 17:18] #454 closed

[2016-11-14 10:10] jonnycoull opened #477 "Staff page: make the text block scrollable"
https://github.com/Praqma/code-conf.com/issues/406

relates to issue in codeconf.

[2016-11-14 10:18] jonnycoull commented on #462
@illus0r to figure out how to analyse post content. currently at base of mobile page as a temp fix.

[2016-11-14 10:21] jonnycoull commented on #461
@illus0r to time box a solution

[2016-11-14 10:22] illus0r commented on #461
I'd take 4 hours to investigate jsvascript solution. Script should pull GA data and show most viewed articles

[2016-11-14 10:32] jonnycoull commented on #459
@BrucePhable need a line of copy. ill sort with bruce for example....

Subject.. Check this out...Event manager
link to site.

[2016-11-14 11:10] BrucePhable commented on #459
Let's make the line "And now for something completely different..."

[2016-11-14 11:14] jonnycoull commented on #459
so use that for fb, twitter, wasp and email. @illus0r

And now for something completely different..
"paste link to article"

on email subject heading should be the same. then title of the article.

[2016-11-14 14:38] lakruzz opened #478 "Publish praqtitoner job ad"

[2016-11-14 17:14] lakruzz opened #479 "fix publish date on praqtitioner"

[2016-11-14 17:34] #478 closed

[2016-11-14 17:42] lakruzz commented on #479
Closed with #478

[2016-11-14 17:42] #479 closed

[2016-11-14 17:46] lakruzz opened #480 "fix img size on praqtitioner"

[2016-11-14 17:48] #480 closed

[2016-11-14 17:49] lakruzz opened #481 "fix pic on sales ad"

[2016-11-14 17:52] #481 closed

[2016-11-14 18:08] martinmosegaard opened #482 "proofread-praqtioner-job-post"

[2016-11-14 18:31] martinmosegaard opened #483 "Delete obsolete praqtitioner post"
The praqtitioner post appears twice on http://www.praqma.com/about/jobs/ and twice in our repo.
We should probably delete `_posts/2016-10-25-praqtitioner.md` ?
See also #482

[2016-11-14 18:32] martinmosegaard commented on #483
The praqtitioner post appears twice on http://www.praqma.com/about/jobs/ and twice in our repo.
We should probably delete `_posts/2016-10-25-praqtitioner.md` ?
See also #482

[2016-11-14 22:34] #483 closed

[2016-11-14 22:40] #482 closed

[2016-11-14 22:42] lakruzz commented on #482
Thanks @martinmosegaard I merged it in manually, Jenkins (code.praqma.net/ci) not live right now.

[2016-11-15 13:46] illus0r commented on #463
@jonnycoull what to do else?

![image](https://cloud.githubusercontent.com/assets/797993/20307987/0aba0c70-ab53-11e6-8f3c-424865eb1b69.png)

[2016-11-15 13:49] illus0r commented on #463
@jonnycoull It's on production now

[2016-11-15 13:56] illus0r commented on #460
We discussed with Bok: first image should always be on top and 100% width.

[2016-11-15 14:11] jonnycoull commented on #463
@illus0r cool, good work. ready to close.

[2016-11-15 14:12] jonnycoull commented on #460
@illus0r who was that to?

[2016-11-15 14:12] Andrey9kin commented on #454
@illus0r @jonnycoull just saw that you implemented related articles. Nice!

[2016-11-15 14:14] illus0r commented on #460
The note for myself

[2016-11-15 14:18] illus0r commented on #460
@jonnycoull check it out online!

[2016-11-16 09:43] #463 closed

[2016-11-16 09:43] illus0r commented on #463
@jonnycoull i've closed

[2016-11-16 09:57] illus0r commented on #460
@jonnycoull is it done?

[2016-11-16 10:07] jonnycoull commented on #460
Hi @illus0r i think these images are too deep/square. see attached, it cuts of the text in a web window. not ideal. `i think we will have to crop and set an ideal upload dimension for the blogs and send this to mike, lars and every one else that posts that this is the new set size make your images fit this moving forward. so 600x300 pixels. see attached. this will need sorting asap as it looks rea

[2016-11-16 10:08] jonnycoull commented on #460
@illus0r how soon can this be fixed?

[2016-11-16 12:12] illus0r commented on #460
@jonnycoull so you want me to make a task for content related image cropping?

[2016-11-16 13:15] illus0r commented on #458
Implemented buttons. Solved the problem of adblock which cuts them out. Tried to solve the problem with wrong image on G+ but didn't manage it to work

[2016-11-16 13:33] meekrosoft opened #484 "Can we make a post type that is not on the blog, but we can publish in another context?"
@illus0r

I'd like to be able to create a post that does not show up in stories, but can have it's own page and be included elsewhere.  What is the best approach here?

[2016-11-16 14:05] jonnycoull commented on #458
So are we done? @illus0r also did you not see bruce copy?

And now for something completely different...

[2016-11-16 14:07] jonnycoull commented on #460
@illus0r yes, then going forward they can be uploaded at the correct size.

[2016-11-16 14:07] jonnycoull commented on #460
@illus0r aren't most this shape any way?

[2016-11-16 14:12] illus0r commented on #458
@jonnycoull can you post the copy here? I've missed it

[2016-11-16 14:15] illus0r commented on #460
@jonnycoull So you want me to fix images aspect ratios to valid proportions (1x2)?

didn't get you

[2016-11-16 14:17] illus0r commented on #458
@jonnycoull found them in the next task :)

[2016-11-16 14:18] jonnycoull commented on #458
And now for something completely different...INSERTLINK

From Praqma.com

[2016-11-16 14:20] jonnycoull commented on #460
originally aren't most images landscape, anyway it needs to be more like the mock which i made 600/300 @illus0r im not sure what that is is scale,

[2016-11-17 09:57] #458 closed

[2016-11-17 10:02] illus0r commented on #459
@BrucePhable hi there! I've used your copy for whatsapp and email messages. But for twitter, facebook and google plus I've set just title+url. Will that work?

Test it here http://www.praqma.com/stories/praqtitioner/, i. e.

[2016-11-17 10:09] illus0r commented on #460
@jonnycoull I still have no idea what do you want me to do. Sorry, man :)

* fix all post's images?
* make a guidelines to prevent this mistake in the future?
* show images in 600/300 even if they are of other proportions?

[2016-11-17 10:17] illus0r commented on #484
Hi, @meekrosoft!
Why the regular page will not work?

[2016-11-17 10:23] meekrosoft opened #486 "Create pages for the triumvirate - code/test/infra"

[2016-11-17 10:27] jonnycoull commented on #459
@illus0r yeah thats cool.

[2016-11-17 10:30] jonnycoull commented on #460
@illus0r the images are too big. they take up the whole open window, you need to see image and headline as above mock up. So yes fix all post images. Ill tell @monaslarsen @adamhenriques @meekrosoft @lakruzz that posts images need tone 600x300 pixels in size or that proportion to work properly as a rule. Show images in 600/300 but do not squash or distort.

[2016-11-17 10:30] BrucePhable commented on #459
@illus0r Yes, this is fine.

[2016-11-17 10:31] jonnycoull commented on #484
@meekrosoft  do you mean a secret page only accessible by link?

[2016-11-17 13:09] illus0r commented on #460
@jonnycoull all right then

[2016-11-17 13:39] illus0r commented on #460
@jonnycoull some images won't crop nicely

![image](https://cloud.githubusercontent.com/assets/797993/20391366/22f4e8a4-ace4-11e6-8cec-71836ad72522.png)

So I'll try another hack to not to fix images. I'll just show them cropped on the post pages

[2016-11-17 13:54] illus0r commented on #460
@jonnycoull

[2016-11-17 13:57] illus0r commented on #460
@jonnycoull some images are weird, but they are weird in the only place, not everywhere :) They should be fixed. You can give this work to me or poke someone else.

![image](https://cloud.githubusercontent.com/assets/797993/20391959/d0d3bc82-ace6-11e6-9527-073f61e1ad38.png)

[2016-11-17 14:51] lakruzz opened #487 "Redirect to Josra"
http://www.praqma.com/codeall

should redirect to www.josra.org

...until we get something up there!

[2016-11-18 09:55] illus0r commented on #456
It turned out the search control were broken before, now it became evident

![image](https://cloud.githubusercontent.com/assets/797993/20425974/23429f2c-ad8e-11e6-9174-56ec8a979a1b.png)

I wanted to fix it but decided to push changes before the scram meeting

[2016-11-18 10:07] illus0r commented on #456
The button is blue on production only

![image](https://cloud.githubusercontent.com/assets/797993/20426392/fb7383c4-ad8f-11e6-9a70-805d7fbf72d5.png)

I'll fix it in this issue

[2016-11-18 10:23] jonnycoull commented on #456
<img width="312" alt="screen shot 2016-11-18 at 10 23 12" src="https://cloud.githubusercontent.com/assets/17589853/20426891/0ef6e600-ad79-11e6-8553-d86e293978ce.png">

ok, @illus0r can we make sure it all lines up to. thanks.

[2016-11-18 10:33] illus0r commented on #456
sure, man

[2016-11-18 13:05] mortench3000 opened #488 "Praqtitioner job post - rephrase false claim"
Suggest to rephrase

into something like

or leave it out...

[2016-11-18 14:21] #371 closed

[2016-11-18 14:30] monaslarsen opened #489 "Adjust map size for CPH office"

[2016-11-18 14:33] #489 closed

[2016-11-18 14:35] illus0r commented on #456
@jonnycoull check it out on prod!

[2016-11-18 14:37] monaslarsen opened #490 "Adjust map size for CPH office again"

[2016-11-18 14:39] MadsNielsen opened #491 "Unable to proces kamstup.png"
[code]

[2016-11-18 15:06] #490 closed

[2016-11-19 19:24] lakruzz commented on #488
@mortench3000

Is it a false claim?
...Who has been given a CV?

[2016-11-19 19:27] lakruzz commented on #491
@MadsNielsen what is this - I can't really read the context - In general we need more information on a case than a screen dump - what needs t be done? Can you adde more information to the description?

[2016-11-19 19:29] lakruzz commented on #487
@illus0r can you take care of this one?

[2016-11-19 19:32] lakruzz commented on #484
@meekrosoft could you describe a user scenario - when (and for what purpose) would you use a page like this?

[2016-11-19 19:39] mortench3000 commented on #488
SKAT required and received CV's for Mads, Jan, and me.
https://drive.google.com/open?id=0B7COmBHPVvgEc3U1bUEtLW5Oemc

[2016-11-19 19:39] lakruzz commented on #441
@would it make sense to simply write each blueprint as a story, and then tag it "blueprint" then all blueprints would be listed with http://www.praqma.com/stories/#blueprint

[2016-11-19 19:40] lakruzz commented on #451
Hi @adamhenriques is this issue still alive? looks like something that should be closed

[2016-11-19 19:59] #451 closed

[2016-11-20 11:29] #377 closed

[2016-11-20 11:31] #416 closed

[2016-11-20 11:33] lakruzz commented on #388
Hi  @alexsedova what is that status of this issue - Is it really "in progress" as indicated by the label, since sep 27th?

[2016-11-20 11:38] lakruzz commented on #242
@illus0r @jonnycoull It seems like this issue is closed for now - isn't it?

![image](https://cloud.githubusercontent.com/assets/155492/20462427/39e1217c-af1e-11e6-9a2d-fb642376d5fe.png)

[2016-11-20 11:45] jonnycoull commented on #242
It should be going through milestone close on Monday am.

On Sun, 20 Nov 2016 at 11:38, Lars Kruse <notifications@github.com> wrote:

[2016-11-20 19:10] #317 closed

[2016-11-20 19:16] lakruzz commented on #339
The Mockup is live, now we need to create the MVP I'll close the ]mock up](https://github.com/Praqma/praqma.com/milestone/8) milestone and create on for the MVP

[2016-11-20 19:24] lakruzz opened #492 "Write bio for each employee"
Let's go online with what we have:

- for all the portraits that we currently have
- Write the copy that shall accompany it

[2016-11-20 19:29] #159 closed

[2016-11-20 19:34] #300 closed

[2016-11-20 19:37] lakruzz commented on #440
@buep I'm closing this one - It doesn't seem to be reproducible

maybe @illus0r fixed this issue in another issue?

[2016-11-21 07:53] MadsNielsen commented on #491
@lakruzz I think i might be best suited to fix this one. It's something with the way the ImageIO library reads the image...corrup image, or missing metadata for the library. I'll take a look at it.

[2016-11-21 11:00] #459 closed

[2016-11-21 11:09] jonnycoull commented on #460
@illus0r or myself will send @monaslarsen @adamhenriques @meekrosoft @lakruzz  putting out an email to make sure new posts have a top image that is of the correct proportions 712x356

[2016-11-21 11:09] #460 closed

[2016-11-21 11:12] jonnycoull commented on #456
Cool! lets close.

[2016-11-21 11:12] #456 closed

[2016-11-21 11:53] jonnycoull opened #493 "Staff images"
Retouch and upload staff shots. Need list if names of staff in each location to match them up. some i can guess. so @adamhenriques @monaslarsen ill set up a meeting so we can go through them. keep an eye out.

@illus0r when this is done, we need a pic folder.

[2016-11-21 11:54] illus0r commented on #493
images are in `/images/employees/`

[2016-11-21 11:56] jonnycoull commented on #477
@illus0r scroll bar issue.

[2016-11-21 11:58] jonnycoull commented on #492
@BrucePhable contact for all staff info to write up bios.

[2016-11-21 12:03] jonnycoull commented on #464
Speak to @lakruzz to rearrange to categories to reduce amount of tags.

[2016-11-21 12:04] jonnycoull commented on #461
@illus0r to investigate this week, discuss solution week 48.

[2016-11-21 12:05] illus0r commented on #461
I'll investigate if i'll have some time after others issues are done

[2016-11-21 12:06] jonnycoull commented on #462
@illus0r to investigate week 48.

[2016-11-21 13:01] illus0r opened #494 "Show the number of posts near tags on the right column"
![image](https://cloud.githubusercontent.com/assets/797993/20483573/b81710a2-b003-11e6-9744-7ada8bb806d4.png)

@jonnycoull made this issue after our meeting

[2016-11-21 13:04] jonnycoull commented on #494
Cool @illus0r

[2016-11-21 13:11] illus0r commented on #440
@lakruzz
I see ad. And buggy images:
![image](https://cloud.githubusercontent.com/assets/797993/20483790/0bded534-b005-11e6-985b-171f4f940a64.png)

[2016-11-21 13:22] illus0r commented on #242
@jonnycoull I guess this one is to 🔫 it

[2016-11-21 13:26] illus0r commented on #487
@lakruzz sure

[2016-11-21 13:36] illus0r commented on #487
@lakruzz I'm going to create a page with suggested url and make a redirect. This page won't appear anywhere on the site navigation.

[2016-11-21 13:50] #487 closed

[2016-11-21 13:52] #242 closed

[2016-11-21 14:58] buep commented on #440
I reported based on my laptop but today still there on my phone. Both private sessions and logged into Google account in browser.
Firefox on Android.

[2016-11-21 15:04] buep commented on #441
I like the idea of a tag, but I would like not to repeat all the meta info about what a blueprint is so if we uses tags and ordinary blogs we could maybe have a blueprint meta blog post so we just can reference that in the individual blueprints?
Further what about irrelevant or done blueprints, do we just take those offline again or?

[2016-11-21 20:11] lakruzz commented on #441
We're doing the same thing with our job adds:

The are all referring back to the same story about our onboarding process. Also Ivan and Bok has implemented that stories with the same tags, appears as read-on call to action. So I think it would work fine.

...yes! Either that, or we give them a follow up section, that tells how it got implemented, and what the status currently is.

[2016-11-22 07:54] buep commented on #441
Perfect - think this is the way to do it then.

Should we create the necessary issues for the technical part or just wait for content when I have something?

[2016-11-22 09:58] jonnycoull commented on #441
Hey guys can i ask whey its called Blue prints? and not just Praqma-wiki? @buep @lakruzz

[2016-11-22 10:18] buep commented on #441
Blueprints are because the describe a blue print for things we want to invent for implement. It is an old idea.

Though that doesn't match exactly usual definition of blueprint:

... it still is a better description than just a wiki, which in my opinion is something else.

Doesn't that make sense?

We actually also have something that is more like a wiki... http://howto.praqma.net/
That should be

[2016-11-22 10:36] BrucePhable commented on #492
Ok, what's the best way to gather all this bio information? I think people will need to be chased for this - if we just wait for them to submit in their own time it'll never happen.

@lakruzz Is there a full email list for all employees? That way I can send some simple instructions for what we need - background, education, Praqma role + something interesting about themselves.

[2016-11-22 10:45] lakruzz commented on #488
HuuuuH!?

@mortench3000 Thanks for pointing this out

@adamhenriques  Was this document linked here by @mortench3000 actually sent to SKAT?

- Why does SKAT need to see CV's?
- Why is half of the document in English and the other half in Danish

[2016-11-22 10:54] adamhenriques commented on #488
@lakruzz yes.

Why does SKAT need to see CV's? - Standard procedure selling to SKAT.
Why is half of the document in English and the other half in Danish - Agreed with Laurits, since tender was in danish as cvs in english.

[2016-11-22 14:38] BrucePhable commented on #492
Here's a sample bio for @meekrosoft to test the water. Is this what you're looking for? I don't think we want a huge amount of text - just a thumbnail. Open to changes/suggestions though.

"Mike spent 10 years working through Schlumberger’s software hierarchy before leaving to seek new challenges. He joined Praqma as a partner in 2015 and is currently CEO at their Norwegian office. Away from work

[2016-11-22 18:49] martinmosegaard opened #495 "Blog post about VMware API scripting"

[2016-11-23 12:00] buep commented on #495
Read your post, nothing really to edit though I might have missed a few typos.

I have some general comments:

* you don't mention licenses, isn't it correct that vCenter is licensed, but you used 30 days trial? The same with ESXi, which is still free but as far as I remember "write"-access through API requires a license?

Else conceptually I like you share your thoughts and effort on the matter w

[2016-11-23 19:15] martinmosegaard commented on #495
Thanks for the comments @buep

I haven't heard of the ESX write-access expiring. But I would have to look into that.

I would prefer not to promise a follow-up, since sometimes that never happens :) But if you think this post is a useful start, I would like to post it and then maybe I will get to writing more advanced stuff later.

[2016-11-24 07:45] buep commented on #495
I'm good with publishing it, maybe let @adamhenriques or @praqma-thi do the English wording proof-read - I'm definitely not the best for that.

But I think it is worth getting something out on our blog related to scripting infrastructure. Even though you never get the second part.

[2016-11-24 07:45] buep commented on #495
Licensing wise ESXi might have changes, but if you're using evaluations you can't really know yet.

[2016-11-24 07:47] martinmosegaard commented on #495
I think you are right that vCenter is 30 days. I think that ESX eval of 60 days is eval of all features, then after that, you only have the free version, but where you can still use the API to work with VMs for example. I am not sure - I have never run the same VM for 60 days.

[2016-11-24 07:57] buep commented on #495
https://community.spiceworks.com/topic/260092-what-are-the-limitations-of-free-esxi
http://blogs.vmware.com/vsphere/2009/06/esxi-vs-esx-a-comparison-of-features.html

Especially this: http://www.doublecloud.org/2011/01/free-esxi-and-apicli-support/

[2016-11-24 07:57] buep commented on #495
and this https://communities.vmware.com/thread/496649?start=0&tstart=0

[2016-11-24 07:58] buep commented on #495
and this http://stackoverflow.com/questions/30055221/enable-management-api-in-vmware-vsphere-hypervisor

[2016-11-24 07:58] illus0r commented on #477
Content scrolls on expanded items only. The scrollbar will be nice even on windows.

![ihbfsgoibb](https://cloud.githubusercontent.com/assets/797993/20590522/a2b26c24-b234-11e6-9cd7-c2dc9f72f8c1.gif)

[2016-11-24 08:01] #477 closed

[2016-11-24 08:07] illus0r commented on #477
@jonnycoull I make `gif`s when the new functionality is invisible on production (it this case the whole page is unpublished)

[2016-11-24 08:11] #432 closed

[2016-11-24 08:11] #360 closed

[2016-11-24 08:11] martinmosegaard commented on #495
Thanks. That is worth mentioning.

[2016-11-24 08:44] #388 closed

[2016-11-24 09:24] jonnycoull commented on #477
@illus0r good work. were working on bios and faces to names right now.

[2016-11-24 15:27] meekrosoft commented on #405
Why was this closed @monaslarsen ?

[2016-11-24 15:38] monaslarsen commented on #405
Sorry, it was deemed covered by Lars' post by the council today, but I am
very happy to have your vote to keep it?!

[image: ____________________________________________________________]
Mona Skorstengaard Larsen
Marketing Manager
mona@praqma.com
+45 40 21 95 04 <+45%2040%2021%2095%2004>
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762>
<http://www.code-c

[2016-11-24 16:51] illus0r commented on #493
@jonnycoull what's status of this?

[2016-11-24 16:56] illus0r commented on #492
@jonnycoull how does it do?

[2016-11-24 17:37] jonnycoull commented on #493
Not close yet plus still waiting on bios.

On Thu, Nov 24, 2016 at 4:51 PM, illus0r <notifications@github.com> wrote:

--

*Jonathan Coull*
Creative Director / CEO

*email.* jc@phable.io
*web.* www.phable.io
*twitter**. *phable_io <https://twitter.com/Phable_io>
*instagram**. *phable.io <https://www.instagram.com/phable.io/>
*facebook**. *phable.io

[2016-11-24 17:38] jonnycoull commented on #492
@illus0r this will be the average copy length of the text. flow it in see how it looks.

[2016-11-24 20:24] illus0r commented on #457
@jonnycoull
Do we really need it now, as we want to rethink the basics of our tag system?
This issue is about these mockups:

![](https://cloud.githubusercontent.com/assets/797993/19934299/32f356aa-a127-11e6-8b02-38ebc52bc8e0.png)

[2016-11-25 05:40] illus0r commented on #303
@monaslarsen so what did we decide? What should be done?

[2016-11-25 08:45] jonnycoull commented on #457
I think to put it in place so it works as it may be some time till they cut
down the list

On Thu, 24 Nov 2016 at 20:24, illus0r <notifications@github.com> wrote:

[2016-11-25 10:10] monaslarsen commented on #303
We need to update the page in two steps:

- Reduce the mentioned tools to only ones we find interesting
- Make each logo clickable and create subpages for each, mainly for SEO

I still like them to open a new tab, but that should be discussed with the
web team.

Our new eventmanager, Jasmine, will start next week, and once she is
trained, I will have much more time to actually work on web instead

[2016-11-28 09:27] illus0r commented on #303
@monaslarsen great :)

[2016-11-28 09:30] illus0r commented on #492
@jonnycoull, sorry, I've missed the previous comment. So should I insert this copy to every employee now?

[2016-11-28 09:34] jonnycoull commented on #492
@illus0r not nessasry just one for now to see how it looks.

[2016-11-28 11:43] jonnycoull commented on #358
@illus0r and @lakruzz to have hangout ASAP to discuss needs of shop to praqma. Ivan is investigating how it can be executed.

[2016-11-28 11:48] lakruzz commented on #358
@jonnycoull @illus0r I'm here!

Let's hangout today (before 15:00 CET) would suit me best

[2016-11-28 11:49] illus0r commented on #494
![image](https://cloud.githubusercontent.com/assets/797993/20667338/cd425a60-b579-11e6-9365-741f32d34634.png)

[2016-11-28 11:50] jonnycoull commented on #461
@illus0r investigating solution for this,

[2016-11-28 11:51] jonnycoull commented on #493
need to match names to heads.

[2016-11-28 11:54] jonnycoull commented on #484
@meekrosoft what do you want to call this section?

[2016-11-28 12:13] jonnycoull commented on #462
@illus0r to change to floating pop up box. rotating between most relevant trending articles

[2016-11-28 12:31] lakruzz commented on #464
List only the - say - top 15 tags.

Related to #494

[2016-11-28 12:31] jonnycoull commented on #464
Closing this fixing via top 15 to show. #494 and amend that to action @lakruzz

[2016-11-28 12:31] #464 closed

[2016-11-28 12:51] jonnycoull opened #497 "2:1 crop on blog posts"
Change crops on stories.

<img width="761" alt="screen shot 2016-11-28 at 12 42 25" src="https://cloud.githubusercontent.com/assets/17589853/20668922/43df3230-b569-11e6-9138-cdebfa2e8cf2.png">
<img width="761" alt="screen shot 2016-11-28 at 12 42 25 2" src="https://cloud.githubusercontent.com/assets/17589853/20668934/502ab2c6-b569-11e6-9a3e-2648e74a271c.png">

[2016-11-28 12:51] lakruzz opened #498 "Go throug all storie images"
Should now be in 2:1 format, width minimum 800px

[2016-11-28 13:02] jonnycoull commented on #498
![alecbaldwin](https://cloud.githubusercontent.com/assets/17589853/20669235/fba273f4-b56a-11e6-878b-6485a1e53bbf.jpg)

[2016-11-28 13:05] jonnycoull commented on #498
ok forget that we'll have to do it manually.

[2016-11-28 13:06] jonnycoull commented on #497
@illus0r only start this once #498 is complete

[2016-11-28 13:10] illus0r commented on #462
![image](https://cloud.githubusercontent.com/assets/797993/20669415/2c92259e-b585-11e6-8cdd-c27633ca3bd5.png)

[2016-11-28 13:14] jonnycoull commented on #461
@illus0r 4hrs . time box.

[2016-11-28 13:19] lakruzz commented on #492
??!!!

This it the @meekrosoft  I know :-)

_"Mike enjoys pub dining, craft beer and struggles to lean cross country skiing."_

Other than that, I'm good with the format

List of employees goes here:

[code]

Be sure to count their passports as you interview them :-)

[2016-11-28 13:20] jonnycoull commented on #457
@illus0r add filter name to mobile

[2016-11-28 13:24] jonnycoull commented on #397
@illus0r to close #457 #461 #462

[2016-11-28 17:39] illus0r commented on #358
Note for myself
http://jekyll.tips/services/

[2016-11-28 17:49] adamhenriques opened #499 "add unicersal robots"

[2016-11-28 20:11] meekrosoft commented on #358
Couldn't we just use a form that sends us an email like the contacts page?

[2016-11-29 07:15] #499 closed

[2016-11-29 08:55] lakruzz commented on #440
@illus0r @jonnycoull I'm marking this one for up next, Will you prioritize this one into your next milestone

[2016-11-29 09:24] lakruzz opened #500 "Get pictures online"
@MarieLKruse has already delivered the first batch of portraits, we need to get them online, so we can see them in context.

Lets create an entry for each person we have a picture for, so we don't have to look at the mockup anymore

![image](https://cloud.githubusercontent.com/assets/155492/20703912/d45247bc-b61d-11e6-9283-2cb62c6ac944.png)

[2016-11-29 09:26] lakruzz commented on #500
Apparently this seems related to #493

[2016-11-29 09:29] lakruzz commented on #500
We can not wait for the Bios, until #492 is done we will have to go with some _Lorem Ipsum ..._ text

[2016-11-29 09:33] lakruzz commented on #493
@jonnycoull Please put pictures you have ASAP in `/images/employees/` I'll rename accordingly.

[2016-11-29 09:39] lakruzz opened #501 "Implement support for tagging"
The rouges gallery should support tagging.

Tags in the `_employees/xx.md` files

So that we can filter them on attributes like:

* Country of residence
* Nationality (Passports)
* Office location

[2016-11-29 09:41] jonnycoull commented on #493
Hi lars I'm still waiting for Marie to deliver the raw files from your cph
shoot.

I've emailed and asked but no reply since last week and asked again today.

So I can match them to the Norway ones.

Also I've asked she redo your cph ones as there was not enough variation in
the images. She mentioned she may have time to do this this week.

On Tue, 29 Nov 2016 at 09:33, Lars Kruse <notifications@g

[2016-11-29 09:48] lakruzz opened #502 "The individual employee needs to be linkable in it's own URL"
I need something like this to be valid:

http://www.praqma.com/about/employees/lakruzz

So that when we list authors in out stories, they are clickable - and take you to the bio page

Exemplified in http://localhost:4000/stories/code-alliance/
![image](https://cloud.githubusercontent.com/assets/155492/20704929/5221a9f0-b621-11e6-9174-fe6d24dbc0df.png)

[2016-11-29 09:50] lakruzz opened #503 "Rename _employees collection"
We need to rename the employees collection to `people` so the URL becomes

`http://www.praqma.com/about/people/`

Rather than

`http://www.praqma.com/about/employees/`

[2016-11-29 10:08] illus0r commented on #358
@meekrosoft if some of existing shop solutions will cover our needs we'll use it. If no — webform is a possible option. But we have to make a cart at least.

[2016-11-29 10:25] lakruzz commented on #493
@jonnycoull I still need the pictures you have ready in the `/images/employees/` so we can get _something_ up and running

[2016-11-29 10:28] lakruzz commented on #493
I'd like to get away from big-bang releases.

As soon as you have _one_ pic ready, let's get it up there and as soon as @BrucePhable has _one_ bio ready, let's get it up there

[2016-11-29 10:42] lakruzz commented on #493
Hmmm @jonnycoull

- If the CPH pic needs to be retaken - why are we then waiting for RAW files - I mean if you have already decided we're not going to use them?

- Why do we need RAW files at all? The images in the final format are something like 300x500 px right?

[2016-11-29 10:46] lakruzz commented on #484
@meekrosoft We need feedback from you on this one - We need to know what problem we're trying to solve.

I'll let it hang here for another day - and then I'll defer it to the backlog if I haven't heard from you.

[2016-11-29 11:02] jonnycoull commented on #493
Hi lars,

I'd like the images because, id still want whats done on file. also your
after an MVP now so the only way to do that is to utilise the images
already done. which can be swapped out when the new ones are done.

I need RAW because i like to tweak the file at source, standard practice.
also I always need the highest res original. low res images are of no use
to me further down the line. or

[2016-11-29 11:43] illus0r commented on #358
@jonnycoull did we want to move it to `Week 48`?

[2016-11-29 14:08] lakruzz commented on #493
@jonnycoull I get all that _in principle_

But I don't understand this one:

I'd like to se what we have - even if we don't have 35 that are done, the [natural working process](http://agilemanifesto.org/principles.html) for me would be to take the few ones that _are_ done add the to `images/employees`

Principle No. 1:
![image](https://cloud.githubusercontent.com/assets/155492/20712687/7d116fb4-b6

[2016-11-29 14:09] lakruzz commented on #493
Commit 719ba4a related to this one

[2016-11-30 05:26] Andrey9kin commented on #488
@lakruzz what is the conclusion? Statement is false as proofed by @adamhenriques (I can give more examples if necessary) but issue is marked as won't have

[2016-11-30 05:34] Andrey9kin opened #504 "Non of the job adds (except of the sales) explain where to send the CV and motivational letter"
Adds for praqtioner and wolf doesn't tell where to send info - only suggest to send email with the questions to Lars or give him a call. Was it meant to be this way?

[code]

[2016-11-30 09:05] illus0r commented on #493
Making pictures near containers is a great idea 😀

[2016-11-30 09:25] illus0r commented on #493
We can publish Thierry: he's the only guy with text and image.
Mike and Jan Krag need images for publishing.

[2016-11-30 10:59] jonnycoull commented on #493
All shots located here. @lakruzz im not sure how to process for site. pixel size etc.

https://drive.google.com/open?id=0B3mqCwER-jlkZjhSaVNSN1RhZWs

[2016-11-30 13:15] lakruzz commented on #493
@illus0r the current format is 600x400px

[2016-11-30 13:17] jonnycoull commented on #493
@illus0r can you supply me the man mock up you made so i can position heads in the right place please.

[2016-11-30 13:40] adamhenriques opened #505 "update cvr"

[2016-11-30 13:56] jonnycoull commented on #493
@illus0r how can i see the hidden build, ?

[2016-11-30 13:56] #505 closed

[2016-11-30 13:59] lakruzz commented on #493
To enable your machine to run Jekyll run this:

https://github.com/Praqma/Marcom-machine

[2016-11-30 14:00] lakruzz commented on #493
You might need some help (but give it a go - you might not)

Once you've run this - let me know - I'll take you to the next step :-)

[2016-11-30 14:03] jonnycoull commented on #493
Sorry i got lost after download. whats a terminal?

On Wed, Nov 30, 2016 at 2:00 PM, Lars Kruse <notifications@github.com>
wrote:

--

*Jonathan Coull*
Creative Director / CEO

*email.* jc@phable.io
*web.* www.phable.io
*twitter**. *phable_io <https://twitter.com/Phable_io>
*instagram**. *phable.io <https://www.instagram.com/phable.io/>
*facebook**. *phable.io

[2016-11-30 14:58] lakruzz opened #506 "Enable JC to run the web locally"
Picking up from the sidetracked dialog in #493

To enable your machine to run Jekyll run this:
https://github.com/Praqma/Marcom-machine

When that is done run the following command in your terminal:

[code]

[2016-11-30 15:00] jonnycoull commented on #506
Cool! thanks @lakruzz

[2016-11-30 15:02] lakruzz commented on #506
@jonnycoull
Should we share a hangout - I can guide you ;-)

[2016-11-30 15:05] jonnycoull commented on #506
@lakruzz yes please!

[2016-11-30 15:34] lakruzz commented on #506
@jonnycoull
From start (no terminal running) you do:

Start the terminal (<CMD>+<SPACE> -> type "Terminal" -> hit <ENTER>)

[code]

[2016-11-30 16:37] illus0r commented on #461
@jonnycoull
it looks doable with [Google Analytics superProxy](https://github.com/googleanalytics/google-analytics-super-proxy#readme), this option was suggested on Jekyll talks [in reply to my post](https://talk.jekyllrb.com/t/list-the-most-viewed-posts-without-plugins/3330). I'm somewhere in the middle [of this manual](https://www.youtube.com/watch?v=Uaap53YrmFU), but there a lot of hitches on m

[2016-11-30 17:46] illus0r commented on #493
@jonnycoull
400x600
![dharanisp](https://cloud.githubusercontent.com/assets/797993/20764167/017675c6-b73e-11e6-8c7a-1852953f758e.png)

[2016-12-01 12:49] #494 closed

[2016-12-01 13:16] #457 closed

[2016-12-01 13:24] illus0r commented on #461
Hey, @jonnycoull! Should I go on?

[2016-12-01 14:00] jonnycoull commented on #461
I think most of that is beyond my understanding but if @lakruzz ok's it them im happy to push on.
It will become more useful to have as we make more changes and social media gets better.

[2016-12-01 14:09] jonnycoull commented on #358
@illus0r do you have enough info to split this into issues, assign what you can do this week into week 48.

[2016-12-01 14:44] illus0r commented on #358
@jonnycoull right now I can suggest only a planning a timebox for about 4-8 hours to look for different solutions.

I'm trying http://simplecartjs.org/ now, there are some other options to consider, i.e. https://www.smashingmagazine.com/2014/02/create-client-side-shopping-cart/

![image](https://cloud.githubusercontent.com/assets/797993/20797884/d6db42be-b7ed-11e6-9835-b3bc8df9f90e.png)

[2016-12-01 15:02] illus0r commented on #358
http://minicartjs.com/
http://www.nopdesign.com/freecart/
And some suggestions are [in the article](https://www.sitepoint.com/10-jquery-based-shopping-carts/)

[2016-12-01 15:19] illus0r commented on #358
@lakruzz @jonnycoull
Wow, good news! 🎉

[Simplecart](http://simplecartjs.org/) just worked! I've ordered some items from praqma's site and I've received the email about the order. Adding items to the cart works instantly. We'll connect paypal if we need.

Now we can make a webshop with ease!

Here's how the cart looks like
===
It's not styled yet. We can customize it.

![image](https://cloud.githu

[2016-12-01 16:11] jonnycoull commented on #506
Hi @lakruzz ill close this now yes?

[2016-12-01 16:11] #506 closed

[2016-12-01 16:14] jonnycoull commented on #493
@lakruzz @illus0r I've cropped and uploaded to Gdrive, or if you want @illus0r i can place them somewhere in git?

[2016-12-01 16:14] jonnycoull commented on #493
https://drive.google.com/drive/folders/0BwzcaooBNQZQMklKQkJTaHIxNmc?usp=sharing

[2016-12-01 16:45] jonnycoull commented on #493
Scratch that @illus0r I've uploaded them all. (which will hopefully replace the old ones with the tweaked new ones) some have 1or more options. once we have a tag system we can see where they will arrange.

[2016-12-01 16:46] jonnycoull commented on #503
@illus0r can you easily fix this? if so assign size and week 48 if its doable this week.

[2016-12-01 16:47] jonnycoull commented on #500
a repeat of #493 all images are in the images/employees/ @illus0r

[2016-12-01 16:51] jonnycoull commented on #498
@lakruzz @illus0r where do these live? so i can edit them?

[2016-12-01 16:53] jonnycoull commented on #492
@BrucePhable this is down to close the friday. you'll need to chase up remaining staff if any. Whats the current tally?

[2016-12-01 16:55] jonnycoull commented on #498
So new size is 800x400. ? @illus0r is that right

[2016-12-01 17:15] lakruzz commented on #358
@illus0r great news.

Can we hammer out some smaller workable tasks

@jonnucoull. Id like to se a potential MVP milestone for this, including photos.

@monaslarsen @meekrosoft, lets suggest first items to go with - shoot :-)

[2016-12-01 17:26] jonnycoull commented on #358
@lakruzz @monaslarsen @adamhenriques could we take a hangout to select a MVP list of items?

looking at the trello...https://trello.com/b/GFKbayar/praqma-warehouse-merchandise

from what i can see the below is applicable...

cont delivery posters
cont delivery cards
pens
praqma flat stickers
praqma domed stickers
coder t-shirts
black praqma t-shirts?
git flow card
cont flow card

[2016-12-01 17:32] jonnycoull opened #507 "MVP layout for SHOP"
Ref design on #358
Break down/create into smaller issues.

![8f3df34e-62fb-11e6-8a1b-925d6c142433](https://cloud.githubusercontent.com/assets/17589853/20804791/2b02ae74-b7ec-11e6-9a5d-8d383d154755.jpg)

[2016-12-01 17:33] jonnycoull commented on #507
@illus0r lets have a chat ASAP, and we can set up new issues.

[2016-12-02 10:02] jonnycoull commented on #462
@illus0r to implement new box as discussed.

[2016-12-02 10:05] jonnycoull commented on #461
@illus0r lets see how actionable this is, start work on it and we'll see by monday.

[2016-12-02 10:09] jonnycoull commented on #493
@illus0r to add in images and use git handles to place them.

[2016-12-02 10:14] jonnycoull commented on #503
@illus0r rename to people.

[2016-12-02 10:16] #500 closed

[2016-12-02 10:19] jonnycoull commented on #502
@illus0r to discover

[2016-12-02 10:31] jonnycoull commented on #501
Office location • (5 offices?)
Nationality (Passports) • (multiple options)
Language (spoken) • (multiple)
job types • ( so you can search for marketing, sales, coder etc)
Weight (for sort order @lakruzz we'll need a decision on this)

[2016-12-02 10:33] jonnycoull commented on #501
can it be possible to select multiple tags? so for exe i can look for a sales man in denmark. @illus0r @lakruzz

[2016-12-02 10:40] jonnycoull commented on #492
@BrucePhable this is looking not doable for today is it? i think were 50% there. can you update please and supply what you do have? You need to supply in markdown format or supply or email straight to @illus0r ivan@dianov.org thanks.

[2016-12-02 11:04] illus0r commented on #492
@BrucePhable I'll be happy if you post them just here, in comments. It's real enjoy to use Github markrup opportunities:
# Header
## Subheader
**bold** text and so on

Please, put the Github username near the text so I could attach it to a proper picture. Thanks, Bruce!

[2016-12-02 11:17] illus0r commented on #507
@jonnycoull
- Which goods will have this dropdown? ![image](https://cloud.githubusercontent.com/assets/797993/20832017/eb5329cc-b898-11e6-9d80-0b92f8667d07.png)
- We need to keep this bar fixed on the screen so users see item are added to cart. ![image](https://cloud.githubusercontent.com/assets/797993/20832022/f752afea-b898-11e6-9f99-6fb9119138e1.png)
- What will be in the `help` page?
- This blo

[2016-12-02 11:21] illus0r commented on #502
Currently, the url of the STAFF page doesn't change after selecting another employee. So we can implement this functionality first.

[2016-12-02 11:21] jonnycoull commented on #507
• goods with things like t-shirt sizes, colours.
• yes fixed at top
• help will be issues with order who to email. (piece of copy)
• Its so it has its own look.
• No i was trying to find out how to stop people from spamming the service? maybe via a confirmation email with link?

[2016-12-02 11:22] illus0r commented on #502
So after clicking the article author you see the employee page with right person highlighted

[2016-12-02 11:37] illus0r commented on #501
@lakruzz

1. How do you imagine visitors to use these filters?
1. Who can complete [Jonathan's list of options](https://github.com/Praqma/praqma.com/issues/501#issuecomment-264423483)?

[2016-12-02 11:42] illus0r commented on #498
@jonnycoull yep, fixed that [in docs ](https://github.com/Praqma/praqma.com/blob/gh-pages/readme.md#avatar)

Do you want me to cut this new format images to make them 4x3 on the post list? Or what to do next in this issue?

![image](https://cloud.githubusercontent.com/assets/797993/20832820/6c74a0c2-b89d-11e6-89f7-498186fc8810.png)

[2016-12-02 11:46] jonnycoull commented on #498
I'm fixing the main images to be bigger and 2:1 so once that's complete
(Monday I hope) we can fix these

On Fri, 2 Dec 2016 at 11:42, illus0r <notifications@github.com> wrote:

[2016-12-02 12:01] illus0r opened #508 "Related posts: mockups for mobile"
Subtask of #462

I'll draw them!
@jonnycoull, please, fix the milestone if you need.

[2016-12-02 12:35] BrucePhable commented on #492
@illus0r I only have their real names - not their github handles. Do we need those to match up the text with the pictures?

So far we have more than half of the profiles so we're getting there. I will chase the others.

Here are the ones I have so far:

**Mike Long:** Mike spent 10 years in the Oil and Gas sector as a Software Engineer and Project Architect before leaving to seek new challenges. H

[2016-12-02 13:00] BrucePhable commented on #492
@illus0r

@jonnycoull says most of the git names reference their real names so it should be easy to match them up

[2016-12-02 13:18] BrucePhable commented on #498
@illus0r , @jonnycoull  has these ready where do u want them? please notify me.

[2016-12-02 13:19] illus0r commented on #493
@jonnycoull there're guys without pics
Renamed some images

- [ ] alexsedova
- [ ] andrey9kin
- [ ] buep
- [ ] hoeghh
- [ ] jkrag
- [ ] madsbaggesen
- [ ] martinmosegaard
- [ ] michaelmadsen
- [ ] praqmatim
- [ ] randomsort
- [ ] smadarmhansen
- [ ] thakangbaby

Hi, @praqma-thi! Can we show your real name on web? You're **Authomation Toolsmith** for some reason now :) Thierry Lacour, right?
![imag

[2016-12-02 13:32] jonnycoull commented on #493
Can't have been shot yet, must be happening next week. Use the place
holders for them for now

On Fri, 2 Dec 2016 at 13:19, illus0r <notifications@github.com> wrote:

[2016-12-02 13:34] illus0r commented on #493
@jonnycoull
I've unpublished people listed above. But to see them unpublished, do `jekyll serve` instead of `jekyll serve --unpublished`. And remove the line `published:  false` form file
![image](https://cloud.githubusercontent.com/assets/797993/20835738/26ca3bb2-b8ad-11e6-9085-62ec1d419d0d.png)

[2016-12-02 13:35] jonnycoull commented on #493
Cheers

On Fri, 2 Dec 2016 at 13:34, illus0r <notifications@github.com> wrote:

[2016-12-02 13:35] illus0r commented on #493
@jonnycoull ah, i'll better send a picture :D

![image](https://cloud.githubusercontent.com/assets/797993/20835769/49be42ee-b8ad-11e6-9b0c-aabc32b9272c.png)

[2016-12-02 13:35] illus0r commented on #493
@jonnycoull
![image](https://cloud.githubusercontent.com/assets/797993/20835782/599ea58c-b8ad-11e6-8a53-f4a2c0eb71fd.png)

[2016-12-02 13:36] illus0r commented on #493
@jonnycoull is the issue done? Or what to do else?

[2016-12-02 13:36] jonnycoull commented on #493
Cool, share with lars too

On Fri, 2 Dec 2016 at 13:35, illus0r <notifications@github.com> wrote:

[2016-12-02 13:38] jonnycoull commented on #493
@lakruzz images all in. Feedback? Hopefully this will help with the size issue on the tags?

[2016-12-03 11:02] lakruzz opened #509 "Staff portraits - needs to adhere to the laws of gravity"
Following up on #493

Hmm - Quite a lot of the pictures (almost everyone) needs to be straightened up. We need to adhere to the laws of gravity

## Before (600x400)
![timea-3-before](https://cloud.githubusercontent.com/assets/155492/20858706/b7bdc42e-b94b-11e6-8a3a-a77e099831dc.png)

## After (573x382)
![timea-3-after](https://cloud.githubusercontent.com/assets/155492/20858705/b7bd11aa-b94b-11e6-8

[2016-12-03 11:12] lakruzz opened #510 "Shoot remaining Staff protraits"
We need pictures of the following staff:

- [x] @alexsedova (Alexandra)
- [x] @andrey9kin (Andrey)
- [x] @buep (Bue)
- [x] @hoeghh (Henrik)
- [x] @jkrag (Jan)
- [x] @madsbaggesen (Mads B.)
- [ ] @martinmosegaard (Martin)
- [x] @michaelmadsen (Michael)
- [x] @praqmatim (Tim)
- [x] @randomsort (Johan)
- [x] @smadarmhansen (Smadar)
- [x] @thakangbaby (Sonny)
- [x] @jasminecrozier (Jasmine)

@MarieLKr

[2016-12-03 12:37] JKrag commented on #510
Just want to note that I will unfortunately not be in CPH on Thursday.

[2016-12-03 14:43] jonnycoull commented on #509
@lakruzz you say 600x400 is less than desired. that was the size i was supplied by yourself and ivan, im confused. what is the correct size?

[2016-12-03 15:17] jonnycoull commented on #509
@lakruzz done and uploaded took 10mins, any tweak like this i can deal with. I know this initial process has been longer than you wanted mainly down to me wanting new shots now we've discussed and sorted that I hope things will be smoother, and apologies i didn't spot the slant in the backgrounds on my run through. though it would have been nice to have been supplied the information when you knew

[2016-12-05 09:20] illus0r commented on #492
@BrucePhable just great! 👏

[2016-12-05 09:29] jonnycoull commented on #493
@illus0r @lakruzz was done sat morning, new images should be fixed. #509 for you to close if they meet your requirements?

[2016-12-05 09:32] jonnycoull commented on #510
@MarieLKruse lets have a hangout on weds to go over our shoot list, and available time slots if any when to shoot staff. @lakruzz do you have an agenda i can see or will it be available on the day? thanks.

[2016-12-05 09:45] jonnycoull commented on #498
@illus0r where should I put these pics??

[2016-12-05 09:54] illus0r commented on #492
@BrucePhable @lakruzz
What are GH names of these folks:

- [ ] Bo Nystrom
- [ ] Timothy Harris
- [ ] Johan Abildskov
- [ ] Sonny Singh
- [ ] Emily Bache
- [ ] David Christensen
- [ ] Martin Amdisen

[2016-12-05 10:35] BrucePhable commented on #492
Two more:

**Jan Krag:** Jan has been with Praqma since 2014 as a Continuous Improvement Agent. He is an accredited trainer for Docker and Github and is also a certified life coach. Jan has a truly diverse range of interests. He breeds oriental cats, builds and flies his own kites, collects Rubik’s cubes, and enjoys snowboarding. Wow!

**Hans Georg Naesheim:** Hans joined Praqma’s Oslo office in 2

[2016-12-05 10:49] illus0r commented on #462
![image](https://cloud.githubusercontent.com/assets/797993/20882359/a20c5508-baf1-11e6-9f31-d42d7f0f8b40.png)

[2016-12-05 10:50] illus0r commented on #462
![image](https://cloud.githubusercontent.com/assets/797993/20882380/b9078be2-baf1-11e6-8b84-a86dd2e2f03d.png)

[2016-12-05 11:05] adamhenriques opened #511 "add sponsors"

[2016-12-05 11:10] jonnycoull commented on #498
to email @illus0r files to replace.

[2016-12-05 11:39] martinmosegaard commented on #510
I will also not be in CPH Thursday. I will be there Friday at 3 PM.

[2016-12-05 11:44] jonnycoull commented on #493
![sofusalbertsennew](https://cloud.githubusercontent.com/assets/17589853/20883859/23c05c96-bae0-11e6-85b0-e2ece7e0e1b2.png)

[2016-12-05 11:49] jonnycoull commented on #462
@illus0r to finish and close today. so we can close milestone.

[2016-12-05 11:49] jonnycoull commented on #493
@illus0r pushing now, to close today.

[2016-12-05 11:52] jonnycoull commented on #492
11 outstanding bios. @BrucePhable to chase.

[2016-12-05 11:53] #511 closed

[2016-12-05 11:57] jonnycoull commented on #503
@illus0r after close of week 48 do this first.

[2016-12-05 11:58] #509 closed

[2016-12-05 12:12] jonnycoull commented on #507
@illus0r investigating the above. myself to look into shots of items with @MarieLKruse on thursday.

[2016-12-05 12:19] jonnycoull opened #512 "product shots for Shop MVP #507"
@MarieLKruse to shoot selected products for MVP thursday. JC on location. @monaslarsen @adamhenriques have we got the stuff? what do we want to use. I've looked at the trello shop. did you get my list?

[2016-12-05 12:28] #493 closed

[2016-12-05 13:57] BrucePhable commented on #492
Two more:

**Lars Kruse:** Lars is one of Praqma’s co-founders and is now a Partner. He is motivated by a desire to optimise the way companies produce software and is a strong advocate of Open Source. In his spare time he enjoys racing up and down mountains on his bike.

**Mona Larsen:** Mona has been with Praqma since 2015 as a Marketing Manager. Before joining us she worked as a Translator and M

[2016-12-05 16:14] BrucePhable commented on #492
Four More. We're getting there.

**Jasmine Crozier:** Jasmine became our Events Manager in late 2016. Before joining Praqma she worked for 3 years at the French embassy in Copenhagen as an Analyst. Jasmine is a volunteer at TEDxCopenhagen and helps to organise events promoting sustainability and innovation.

**Andrey Devyatkin:** Andrey comes from Russia and is CEO at Praqma’s office in Stockholm.

[2016-12-05 16:15] illus0r commented on #503
@jonnycoull @lakruzz that's great if collection's name has `s` in the end. That makes it easy to think out an evident name for an element of this collection.

`employees` — `employee`
`people` — `?`

[2016-12-05 16:29] jonnycoull commented on #503
@illus0r in this case people (is the plural) singular would be person but people is what lars wants so lets make it so please. People is good.

[2016-12-05 21:11] lakruzz commented on #488
I've never sold  CV, and I would claim that we shouldn't do it.

[2016-12-05 21:22] lakruzz commented on #501
@illus0r

The would select one or more filters, at the gallery would filter accordingly

The list might not be final, for each attribute list the valid options

[2016-12-05 21:32] lakruzz commented on #509
@jonnycoull

No, __573x382__ is less than desired; pics needs to be leveled before they are cropped, not after.

[2016-12-06 06:41] praqmaTim commented on #510
When I first saw the mail. I didn't catch the "portrait" part and read it as "Shoot the remaining staff" :laughing:

Thought maybe I should stay home :smiley:

[2016-12-06 08:41] adamhenriques opened #513 "add customer"

[2016-12-06 08:47] jonnycoull commented on #462
@illus0r ETA? then i think once done have a look at 49 to see whats possible or have a chat if needs be.

[2016-12-06 08:59] buep opened #514 "Blogpost on proxying docker containers with ease"
On behalf of @hoeghh an issue on publishing our very nice blogpost on traefik and proxy setup for container.

[2016-12-06 09:37] #462 closed

[2016-12-06 10:26] illus0r commented on #462
@jonnycoull it's live now, but different from a mockup. I had to make font smaller so there were a room for long titles.

[2016-12-06 10:33] jonnycoull commented on #462
@illus0r how can i view to close?

[2016-12-06 10:48] illus0r commented on #503
@jonnycoull on any article of praqma.com:

![lf2ffkzuje](https://cloud.githubusercontent.com/assets/797993/20922812/89f0d358-bbba-11e6-884f-5bb05c955966.gif)

[2016-12-06 10:51] #503 closed

[2016-12-06 10:52] illus0r commented on #462
@jonnycoull on any article of praqma.com:

![lf2ffkzuje](https://cloud.githubusercontent.com/assets/797993/20922812/89f0d358-bbba-11e6-884f-5bb05c955966.gif)

[2016-12-06 10:53] illus0r commented on #503
@lakruzz @jonnycoull
renamed
`employees` to `people`
`employee` to `people-person`

[2016-12-06 11:03] buep commented on #510
Our @praqmaTim you could also make sure not to be in the "remaining" group... ;-)

@lakruzz - how much of me is going to be in the picture? I need to chose a T-shirt ...

[2016-12-06 11:08] jonnycoull commented on #503
@illus0r I think a little may have got lost in translation. @lakruzz thoughts?

[2016-12-06 11:15] illus0r commented on #492
@lakruzz
What to do with current copy? I.e. Thierry have a linkedIn link, should I just wipe it?

[2016-12-06 11:20] illus0r commented on #501
@lakruzz should filters work on mobile?

[2016-12-06 11:34] illus0r commented on #497
@jonnycoull I'm supposed to leave current image proportions, scale every new wide image so it's height were the same and left-right sides were cropped. So every image will have the same visual size on the list but not on the post page. Right?

![image](https://cloud.githubusercontent.com/assets/797993/20924104/d082aff2-bbc0-11e6-90a7-f08cdecb646f.png)

[2016-12-06 11:39] jonnycoull commented on #497
@illus0r you received the images ok? im not sure cropping will work, id prefer they kept the same proportions as the main blog (wider) , otherwise were just swapping the problem around.

[2016-12-06 12:31] illus0r commented on #497
@jonnycoull
Got your images.
![image](https://cloud.githubusercontent.com/assets/797993/20925613/084ed426-bbc9-11e6-8fb4-0f6a3d458396.png)

[2016-12-06 12:33] #508 closed

[2016-12-06 12:36] illus0r commented on #498
@jonnycoull that's what you sent to me, right?

[2016-12-06 12:38] illus0r commented on #498
@jonnycoull is it a duplicate of https://github.com/Praqma/praqma.com/issues/497?

[2016-12-06 13:14] jonnycoull commented on #492
@illus0r linkdnin? i can't see that on bruce's  copy? I know @lakruzz says that he doesn't sell his staff on their cv's so id leave link off.

[2016-12-06 13:25] jonnycoull commented on #498
@illus0r this one is the blog post images them selves, #497 refers to making the same ratio image on the stories page.

[2016-12-06 16:02] monaslarsen opened #515 "Publish CoDe Conf Sthlm blog"

[2016-12-06 17:48] buep commented on #514
@monaslarsen and @adamhenriques - I made a technical review and minor proof-reading.

Please expedite and get the blog published

**The latest version is here on the branch matching the issue, also referenced above - so please make sure to edit the and commit on this branch so we don't duplicate things.**

[2016-12-06 18:58] MarieLKruse commented on #510
Hey Jonathan !
I have time tomorrow until around 2 pm - maybe at 12?

2016-12-05 10:32 GMT+01:00 jonnycoull <notifications@github.com>:

[2016-12-06 19:43] jonnycoull commented on #510
12 is cool, I'll set a reminder

On Tue, 6 Dec 2016 at 18:59, MarieLKruse <notifications@github.com> wrote:

[2016-12-06 19:58] MarieLKruse commented on #510
cool, speak tomorrow :)

2016-12-06 20:43 GMT+01:00 jonnycoull <notifications@github.com>:

[2016-12-06 19:59] jonnycoull commented on #510
Did the invite come through? I'm rubbish at google hangouts!

On Tue, 6 Dec 2016 at 19:58, MarieLKruse <notifications@github.com> wrote:

[2016-12-07 15:16] #515 closed

[2016-12-08 10:27] monaslarsen opened #516 "Fix markdown issues in blogpost"
Add spaces between hashtags and headlines on
http://www.praqma.com/stories/codeconf-sthlm-2016/

[2016-12-08 10:44] #516 closed

[2016-12-08 10:48] illus0r commented on #492
@jonnycoull
Content is in /_people/*.md files. Persons, who had no images are unpublished. We can publish the page, it will look this way. Not everyone has copy, though.

![image](https://cloud.githubusercontent.com/assets/797993/21007142/ca948510-bd4c-11e6-8d3c-8c154a5fcf91.png)

[2016-12-08 11:07] illus0r commented on #492
@jonnycoull what to do next?

[2016-12-08 11:08] monaslarsen opened #517 "Correct image on blogpost"

[2016-12-08 11:17] jonnycoull commented on #492
We should be sorting most of this by end of today

[2016-12-08 11:31] illus0r commented on #461
@lakruzz to solve this issue we should access analytics data somehow. Possible option is to set up the https://github.com/googleanalytics/google-analytics-super-proxy on one of your servers or on Google Apps (payed). Which option is better?

[2016-12-08 11:49] lakruzz commented on #322
http://www.praqma.com/about/

[2016-12-08 13:12] #322 closed

[2016-12-08 14:45] #517 closed

[2016-12-08 19:07] illus0r commented on #502
@lakruzz @meekrosoft @monaslarsen
Now to set the article author we'll use his github name. So instead of
[code]
you will use

[code]

result is the same

![image](https://cloud.githubusercontent.com/assets/797993/21023530/f9b3f03e-bd91-11e6-80ac-b0cfa166c96f.png)

`Lars Kruse` is a link to his image on `/about/people/` page.

If `author` doesn't match any of `_people`, it will be printed without a

[2016-12-09 06:30] lakruzz commented on #461
@illis0r it shall run in the cloud, somehow, setting it up as angoogle apps seems fine, but it shall rune ynder an accout the we control ourselves.

Can you make a brief description of the install and deploy procedure you plan to use (create a seperate issue for eatablishing infrastructure) then I will hook you up with someone her fra Praqma, who can work with you on that.

[2016-12-11 20:56] lakruzz commented on #503
@illus0r

You lost me - what are we talking about???

[2016-12-12 07:48] lakruzz commented on #492
@illus0r

It _is_ published - I assume that is an error since:

Please don't put stuff like this online before it's ready

[2016-12-12 08:56] jonnycoull commented on #497
@illus0r why isn't this finished?

[2016-12-12 08:59] jonnycoull commented on #492
@BrucePhable who's copy is left to supply? we need this today.

[2016-12-12 09:00] jonnycoull commented on #498
@illus0r why isn't this closed?

[2016-12-12 09:05] jonnycoull commented on #397
Only #461 to close. @illus0r I need a realistic time frame?

[2016-12-12 10:56] monaslarsen opened #519 "Draft plan for praqma.com work in Q1"
Mona will work much more on praqma.com from now on.
Let's align what content to prioritize

[2016-12-12 10:58] BrucePhable commented on #492
@jonnycoull we still have a few to chase.

@illus0r can we make a couple of amendments? First of all the spelling of **Rogues** Gallery needs correcting.

Also, can we have Kamran's name changed to **Muhammad Kamran Azeem**

[2016-12-12 11:17] jonnycoull commented on #492
@BrucePhable who? can @monaslarsen fill in some blurb?

[2016-12-12 11:25] #498 closed

[2016-12-12 11:34] #461 closed

[2016-12-12 11:36] illus0r opened #520 "Set up a server for accessing GA"
Subissue of #461

[2016-12-12 11:38] BrucePhable commented on #492
So, we still need copy for:

Dharani (on holiday in NZ, might not be in the loop)
Arinze (may also be out the loop - hasn't started yet, visa issues)
Smadar
Neeru
Leif!

[2016-12-12 11:38] jonnycoull commented on #497
@illus0r close today

[2016-12-12 11:41] lakruzz commented on #510
http://ringopumpkin.quickconnect.to/photo

[2016-12-12 11:41] #510 closed

[2016-12-12 11:42] jonnycoull opened #521 "send ivan new pics staff mvp"

[2016-12-12 11:51] jonnycoull commented on #501
<img width="190" alt="screen shot 2016-12-12 at 11 50 44" src="https://cloud.githubusercontent.com/assets/17589853/21098468/4534b6c0-c061-11e6-967a-c337994edc84.png">

[2016-12-12 11:57] jonnycoull commented on #501
build filter on the above.
using info for

Office location
Nationality (Passports)
Language (spoken)
job types

[2016-12-12 12:00] BrucePhable commented on #492
Two more bios:

**Bue Petersen:** Bue has been with Praqma for over 5 years as a Continuous Delivery Expert at our office in Allerod. He graduated from the University of Copenhagen with a Masters in Computing Science. Before joining Praqma he managed the IT department for a local law firm.

**Adam Henriques:** Adam has been with us since 2012 as our Sales and Marketing Director. He used to work fo

[2016-12-12 14:01] Sharor commented on #520
I just talked with Lars Kruse, I'll have a look at it :) @illus0r

[2016-12-12 14:39] illus0r opened #522 "Fix misspells on Rogues Gallery"
After https://github.com/Praqma/praqma.com/issues/492#issuecomment-266399552

[2016-12-12 14:43] #522 closed

[2016-12-12 14:46] #497 closed

[2016-12-12 14:52] illus0r opened #523 "Unpublish people page"

[2016-12-12 15:00] illus0r commented on #502
Unpublished the people page in #523 so commented this functionality out.
When #492 is done, uncomment one line in `_layouts/post.html` and delete next one.

[code]

[2016-12-12 15:01] illus0r commented on #502
@jonnycoull possible candidate for week 50 milestone

[2016-12-12 15:12] #523 closed

[2016-12-12 15:15] illus0r opened #524 "People tags: code"

[2016-12-12 15:16] illus0r opened #525 "People tags: layout"
#501 subtask

[2016-12-12 15:35] illus0r commented on #520
@Sharor great! Thanks!

[2016-12-12 16:34] illus0r commented on #501
Привет, @monaslarsen! 🌤  Do you have an idea who can help me to fill some part of this info?

<table>
  <tr>
    <th></th>
    <th>Office location</th>
    <th>Nationality</th>
    <th>Language</th>
    <th>Role</th>
  </tr>
  <tr>
    <td> adamhenriques </td> <td></td> <td></td> <td></td> <td></td>
  </tr>
  <tr>
    <td> alexsedova </td> <td></td> <td></td> <td></td> <td></td>
  </tr>
  <tr>

[2016-12-12 17:07] jonnycoull commented on #521
emailing now. @illus0r

[2016-12-12 18:59] lakruzz opened #526 "redirect xmas"

[2016-12-12 20:36] meekrosoft commented on #519
Great!  Is the idea to use this for brainstorming?  Should I add my 2kr here?

[2016-12-13 06:55] #526 closed

[2016-12-13 11:04] Sharor commented on #520
@illus0r
Just a quick update - I went through the github project for the google superproxy you posted in #461 and google cloud seems to allow setting up the whole server as part of their gcloud.

I spent some time fighting with the google cloud inteface, as it seems like the steps described dont actually work as described. Im currently trying to upload the superproxy, to allow setting up queries :

[2016-12-13 11:51] monaslarsen commented on #519
Yes @meekrosoft, add away!

[2016-12-13 11:58] Sharor commented on #520
![screenshot from 2016-12-13 12-57-27](https://cloud.githubusercontent.com/assets/12966451/21139571/d5a9a8dc-c133-11e6-8b00-c36040a19e55.png)

[2016-12-13 11:59] Sharor commented on #520
Is that all you need @illus0r to work with it?

[2016-12-13 12:12] monaslarsen commented on #501
Hey @illus0r, I will try to help

[2016-12-13 14:05] jonnycoull commented on #521
@illus0r you have these now so im closing this.

[2016-12-13 14:05] #521 closed

[2016-12-13 14:08] illus0r commented on #501
@lakruzz, just great! Thanks!

[2016-12-13 14:10] jonnycoull commented on #525
@illus0r this is for me right?

based on....

<img width="190" alt="screen shot 2016-12-12 at 11 50 44" src="https://cloud.githubusercontent.com/assets/17589853/21143293/f383c202-c13d-11e6-8ec6-60ec3dd915a2.png">

[2016-12-13 14:34] monaslarsen commented on #492
Neeru:
Not with Praqma any longer

Smadar:
The office manager who keeps track and keeps the loose ends tied.
Always well dressed, always tan, always on the move.
Studied physical education in Israel, was a fitness instructor in Denmark for many years, still goes running or does insane workouts every day. Likes to visit her family in warm places like her home country Israel and in California, or to

[2016-12-13 14:38] monaslarsen commented on #492
I have never met Arinze or Dharani, but maybe @meekrosoft can help us with some que words?

[2016-12-13 14:39] illus0r commented on #520
@Sharor wow, incredible! I've stuck right at the beginning of this manual 😀
My email is zor667@gmail.com, thanks!

[2016-12-13 14:44] illus0r commented on #397
@jonnycoull Lars fixed this :) #520 is the single related open issue

[2016-12-13 14:47] jonnycoull opened #528 "All shot staff pics inserted in Gallery MVP"
Insert all images supplied into MVP.

[2016-12-13 14:49] illus0r commented on #503
@lakruzz
I'm talking about changes applied to variable names. What did I make wrong?

[2016-12-13 15:09] lakruzz commented on #503
Hmmm OK (?)

but why: `employee to people-person`
why not just `employee to person`

Anyway, if it's a variable name -it think we'll survive :-)

[2016-12-13 15:14] illus0r commented on #503
@lakruzz
If i see `event` variable, it's clear enough, that it is an element of `events` array. But it's hard to guess, to which array relates `person` variable. I'd think there should be `persons` array somewhere :-) So my point was to keep relation between names of array and it's element.

[2016-12-13 15:20] lakruzz commented on #503
No - _persons_ in a group becomes _people_

http://dictionary.cambridge.org/grammar/british-grammar/person-persons-or-people

:-)

[2016-12-13 15:22] jonnycoull commented on #525
@illus0r @lakruzz for review. basic filter system using tags as i see it? then i gets the tags themselves would appear in the bio? thoughts.

![praquma staff_v3](https://cloud.githubusercontent.com/assets/17589853/21145933/e5e63e86-c147-11e6-8c29-6ade525f13b8.jpg)

[2016-12-13 15:23] jonnycoull commented on #525
sorry the grey numbers are supposed to be on all the versions, thats how many results there are. like stories has,

[2016-12-13 15:25] illus0r commented on #503
@lakruzz :D Good. Can I rename?

[2016-12-13 15:31] lakruzz commented on #503
yes please

[2016-12-14 09:02] Sharor commented on #520
You just have to visit  https://praqmatrending-152410.appspot.com/admin/activate and you should be good :)

The page you interact with is https://praqmatrending-152410.appspot.com/ otherwise. Glad to be of help!

[2016-12-14 12:17] jonnycoull commented on #528
@illus0r whats the status of this? I've had no response.

[2016-12-14 12:18] jonnycoull commented on #525
@lakruzz @illus0r what do you think?

[2016-12-14 12:19] jonnycoull commented on #520
@illus0r SO where are we at in terms of getting this sorted? thanks for the assist @Sharor

[2016-12-14 12:20] jonnycoull commented on #519
@monaslarsen @meekrosoft ill add my ROAD MAP here once its finished being written. that will hep form a plan, also mona do you have a list of planned events and dates or would that be @JasmineCrozier now? cheers.

[2016-12-14 12:29] illus0r commented on #525
@jonnycoull much better! We can plan gray digits on one of following iterations.

[2016-12-14 12:30] illus0r commented on #528
@jonnycoull Currently I work on https://github.com/Praqma/praqma.com/issues/524, I'll do this one in the evening, is it ok?

[2016-12-14 12:31] illus0r commented on #524
@jonnycoull hi there! This issue is going to take twice more time than I thought. I have to change the size.

[2016-12-14 12:32] jonnycoull commented on #525
@illus0r great. lets make it so ASAP, i think eventually we could run this through the site. its more functional that the previous version.

[2016-12-14 12:33] jonnycoull commented on #528
@illus0r coolio.

[2016-12-14 12:33] jonnycoull commented on #524
@illus0r ok mate, so with everything in the milestone are you going to hit the target?

[2016-12-14 12:34] illus0r commented on #520
![image](https://cloud.githubusercontent.com/assets/797993/21182159/b67cacae-c212-11e6-865f-8e43e3821b08.png)

@Sharor Error 400 after clicking
![image](https://cloud.githubusercontent.com/assets/797993/21182172/c527e23c-c212-11e6-97e3-26fcebfd1a3c.png)

[2016-12-14 12:37] illus0r commented on #524
@jonnycoull I beveave so

[2016-12-14 12:40] illus0r commented on #524
@jonnycoull at least tasks, that doesn't depend on other people

[2016-12-14 13:45] monaslarsen commented on #514
Assigned to Mona for getting online

[2016-12-14 13:45] monaslarsen commented on #495
Assigned to Mona for getting online

[2016-12-14 14:27] monaslarsen commented on #519
That would be Miss Event Manager Jasmine, @jonnycoull :)

[2016-12-14 15:00] JasmineCrozier commented on #519
@jonnycoull Yes we are working on a 2017 event plan, but dates are not set yet.
To give you an overview, there should be around:
- 3 CoDe Conf (one in each capital city in Q3)
- 6 CoDe Academy (Q2-Q3)
- 2 Atlassian Accelerator Day (Q1)
- 2 DevOps Days (Q2)
- 3 or 4 Day of ...
- 2 CoDe Alliance gathering
- Many many meet-ups (if I manage to gather all information, we hope for 5 or more per city)

[2016-12-14 19:41] lakruzz commented on #525
:+1: I'm happy - fine lay-out

[2016-12-14 19:58] illus0r commented on #528
@jonnycoull
![image](https://cloud.githubusercontent.com/assets/797993/21198512/bfe26cd2-c250-11e6-8786-e6ff255de8d0.png)

[2016-12-14 19:58] #528 closed

[2016-12-14 20:06] illus0r commented on #524
@jonnycoull  I'm afraid I won't be in time with this. I'll try to do it, so I'm going to strip part of functionality in first iteration:
* no checkboxes
* no URL updating after filters are changed
* no direct links to a person (needed for #502)

Will that work?

[2016-12-14 20:09] jonnycoull commented on #524
Should do we can make future issues to tackle the extra bits?

[2016-12-14 20:25] illus0r commented on #524
@jonnycoull sorry, didn't get you. What do you mean by `to tackle the extra bits`? :-)

[2016-12-14 21:14] jonnycoull commented on #524
As in, the 3 items you mentioned that you don't have time for...does that clear it up?

no checkboxes
no URL updating after filters are changed
no direct links to a person (needed for #502)

[2016-12-15 07:50] meekrosoft commented on #492
Please do not display Arinze and Dharani at the moment.

[2016-12-15 08:19] Sharor commented on #520
Hmm thats weird. I get that too now. Ill have a look at it @illus0r

[2016-12-15 11:11] illus0r commented on #524
@jonnycoull Ah, yeah. Sure :-)

[2016-12-15 11:12] illus0r opened #529 "People tags: checkboxes"
Subtask of #524

[2016-12-15 11:12] illus0r opened #530 "People tags: make URL updating after filters are changed"
Subtask of #524

[2016-12-15 11:16] illus0r commented on #524
third one already has the issue #502

[2016-12-15 11:23] illus0r commented on #520
Thanks, @Sharor! Let me know when to try again.

[2016-12-15 13:37] illus0r commented on #502
@jonnycoull I'm about to remove it from the milestone as we discussed on #524. Fine?

[2016-12-15 13:49] jonnycoull commented on #502
All cool.

On Thu, 15 Dec 2016 at 13:37, illus0r <notifications@github.com> wrote:

[2016-12-15 14:35] Sharor commented on #520
![screenshot from 2016-12-15 15-35-07](https://cloud.githubusercontent.com/assets/12966451/21227921/2acac856-c2dc-11e6-8545-f0f0ce502908.png)

[2016-12-15 14:36] Sharor commented on #520
"Progress"  :+1:

[2016-12-15 14:50] Sharor commented on #520
![screenshot from 2016-12-15 15-49-51](https://cloud.githubusercontent.com/assets/12966451/21228466/2ec88360-c2de-11e6-92b9-ec8fe591b9d6.png)
![screenshot from 2016-12-15 15-49-58](https://cloud.githubusercontent.com/assets/12966451/21228467/2fe98c44-c2de-11e6-8316-b450edd120b4.png)

[2016-12-15 14:50] Sharor commented on #520
I think it works!

[2016-12-15 14:53] #495 closed

[2016-12-15 14:55] Sharor commented on #520
Confirmed to work for @illus0r also, closing issue ! :+1:

[2016-12-15 14:55] #520 closed

[2016-12-15 18:14] meekrosoft commented on #519
Just thinking out loud here: maybe we don't want our marketing strategy discussed in public?  I will send my input via mail...

[2017-04-27 17:44] JKrag opened #8 "Add Simon to mailsignature"

[2017-04-27 17:47] #8 closed, assigned to nobody

[2017-05-04 15:28] lakruzz opened #9 "Come up with document format design"
I think we support a one-page design that _can_ be extended with sub-pages

In which case a TOC should be automatically generated.

Examples of the current design are available in:

* http://www.2git.io
* http://code.praqma.com/mailsignature/
* http://code.praqma.com/MonKit-Plugin
* http://code.praqma.com/ghreport/

[2017-05-04 15:31] lakruzz commented on #9
@JKrag @buep @MadsNielsen @groenborg @kryptag @martinmosegaard @praqma-thi

Feedback is welcome - I'd like to bring this issue up with @jonnycoull and @kryptag in the Design Workshop I have with them next week.

If you have _any_ opinions or input to this topic before then - let us know in this issue here

[2017-05-04 16:17] buep commented on #9
Not much input from my side, except make it reusable and configurable so common parts can be shared and maintain in one place. Not sure how you do it with the tech we use, but we figure it out.

Else I'm thinking we need the setup to include different parts of docs in a clever way like user docs, design docs, architecture, roadmaps, developer info etc.

Looking forward to see what you come up with

[2017-05-05 06:28] praqma-thi commented on #9
I found the drill-down single pages to be rather limiting.
Supporting a sidebar and adding some more orange wouldn't hurt at all.

[2017-05-12 14:29] jonnycoull commented on #9
@lakruzz we didn't get round to this we should have a hang out.

[2017-05-29 09:23] lakruzz opened #10 "Implement new mail signature"
In reference to Praqma/phablework#8

[2017-05-31 06:31] sofusalbertsen opened #11 "Automate the change of email signatures"
As far as I can see, Gmail provides an API to change the email footer of all the employees of praqma.
Shouldn't we automate this instead of asking 42 people to spend 5 min. each time?
https://support.google.com/a/answer/175187?hl=en&ref_topic=29816

[2017-05-31 06:46] lakruzz commented on #11
More specifically the [`sendAs`](https://developers.google.com/gmail/api/v1/reference/users/settings/sendAs) resource

[2017-05-31 06:48] lakruzz commented on #11
@sofusalbertsen good input!

[2017-05-31 09:05] lakruzz commented on #10
Have a look at #11 too

[2017-05-31 09:15] #10 closed, assigned to kryptag

[2017-05-31 09:37] kryptag commented on #11
@lakruzz how should we do this, will we all use the same signature at the same time or should people still be able to pick and choose. Because if we all use the same signature in the sense of the same banner, i dont see this being hard to implement.

[2017-05-31 09:47] sofusalbertsen commented on #11
There are three ways to do it:

### All get the same banner
Easy, no config, just push a button and go! Then everyone gets the same banner.

### Central list of who-gets-what banner.
We sometimes have two events simultaneously in two different countries. Therefore needing different banners.

### Opt-in/out through list
The icing on the cake; let people decide if they want it automated or not by pu

[2017-05-31 10:06] lakruzz commented on #11
People still need individual mail signatures - And different Banner adds

[2017-05-31 10:41] sofusalbertsen commented on #11
so the only thing needed to be chosen is if they should be able to opt out of the automatic banner update cycle?

[2017-05-31 12:09] kryptag opened #13 "Fix broken banner"
font size is to big
icons on the banner is broken

[2017-05-31 12:10] kryptag commented on #13
@jonnycoull i need the icons for the social media

[2017-05-31 12:21] kryptag commented on #13
https://drive.google.com/drive/folders/0B3mqCwER-jlkUjNOZU4xYVVkSlU SVG's here

[2017-05-31 13:07] kryptag commented on #13
![screen shot 2017-05-31 at 15 06 27](https://cloud.githubusercontent.com/assets/11290150/26633196/e5059318-4612-11e7-8d7a-c8b379cad442.png)

[2017-05-31 13:08] kryptag commented on #13
![screen shot 2017-05-31 at 15 08 15](https://cloud.githubusercontent.com/assets/11290150/26633242/086695f0-4613-11e7-890f-e7df8a8c8f7d.png)
@jonnycoull  and this is with skype

[2017-05-31 13:13] jonnycoull commented on #13
@kryptag the social links at the base need to be in regular font. and a bit of space between the icon and text,

[2017-05-31 13:15] kryptag commented on #13
@jonnycoull i will need the social icons in png format, because gmail doesnt support svg's. can i get them in 20x20 pixel ?

[2017-05-31 13:24] jonnycoull commented on #13
@kryptag updated...in here. let me know if ok.
https://drive.google.com/open?id=0B3mqCwER-jlkUjNOZU4xYVVkSlU

[2017-05-31 15:05] #13 closed, assigned to kryptag

[2017-05-31 19:08] adamhenriques opened #14 "update banner"

[2017-06-06 09:02] kryptag opened #15 "make mail banner outlook friendly"
make sure that the you dont use any css other than color, because microsoft products might break down.

[2017-06-06 09:05] #15 closed, assigned to kryptag

[2017-06-06 10:44] lakruzz opened #16 "Signature"
Here's a mail I got from @SmadarMHansen  - also not quite in order:

![image](https://cloud.githubusercontent.com/assets/155492/26825557/d360db02-4ab5-11e7-8ecc-9d1ce1444de3.png)

[2017-06-06 10:46] kryptag commented on #16
@lakruzz i need information from where this is used, because it works flawless on gmail and hotmail

[2017-06-06 12:52] kryptag opened #17 "remove all classes from mailsignature and use html style tag"
this might be a reason to why it breaks, but still doesn't make much sense because it works in all the tests i have made. Hope this will work

[2017-06-06 12:53] #17 closed, assigned to kryptag

[2017-06-06 19:33] DharaniSP commented on #16
Smadar, can you please send a mail with your new email signature to me and
florent?

We need to see if something needs to be fixed.

/Lars

On Jun 6, 2017 12:46, "Florent Haxha" <notifications@github.com> wrote:

[2017-06-07 09:33] sofusalbertsen commented on #16
@kryptag I had the same issue, removed the line breaks in mine manually and then it works :)

[2017-06-19 11:15] lakruzz opened #18 "Make sure the praqma logo don't need to be resized"
This is the reply I sometimes get from people where I used the new signature

![image](https://user-images.githubusercontent.com/155492/27282689-48d52812-54f1-11e7-83fe-b3e446f28d01.png)

The Praqma loge, must be downsized - the to size it _need_ to have - not bigger

[2017-06-19 11:16] lakruzz commented on #18
@kryptag  - one for you...

[2017-06-19 11:57] kryptag commented on #18
the new image is 160 pixels wide, so there is no css in there.

[2017-06-26 08:52] kryptag opened #19 "remove text from Social media icons"

[2017-06-26 08:59] #19 closed, assigned to kryptag

[2017-06-29 14:10] buep opened #22 "Enable waffle links for milestone tool"

[2017-06-29 21:33] lakruzz opened #23 "lose the Facebook reference in our mail signature"
Hi Florent

Short: please remove the Facebook icon + link from our mail signature

You please read up on this issue here:

https://praqma.slack.com/archives/C033A3GMJ/p1498738368942275

[2017-06-29 21:33] lakruzz commented on #23
@kryptag I'll throw this on our RunWay - it's blocking some of our emails to our customers

[2017-06-30 13:08] #23 closed, assigned to kryptag

[2017-07-02 11:29] lakruzz opened #25 "isolate the sub folder mailsignature to separate repo"

[2017-07-02 12:10] #25 closed, assigned to lakruzz

[2017-07-02 12:17] lakruzz commented on #16
closing as duplicate (continues) in Praqma/mailsignature#2

[2017-07-02 12:17] #16 closed, assigned to kryptag

[2017-07-02 12:20] lakruzz commented on #18
Closing this one and continues in Praqma/mailsignature#3 (the code base moved)

[2017-07-02 12:20] #18 closed, assigned to kryptag

[2017-07-02 12:25] lakruzz commented on #14
@adamhenriques I'm closing this one - I have _no idea_ what it is about (elaborate - please)

If you still want it, you should know, that I've moved the code to a new repo - issues on mail signatures now goes here: http://github.com/praqma/mailsignature

[2017-07-02 12:25] #14 closed, assigned to nobody

[2017-07-02 12:27] lakruzz commented on #11
Closing this one here - and continuing in Praqma/mailsignature#4 - we follow the code (which was relocated)

[2017-07-02 12:27] #11 closed, assigned to lakruzz

[2017-07-02 12:28] lakruzz opened #26 "relocate the milestone folder to a separate repo"
Same procedure as #25

[2017-07-02 12:30] lakruzz commented on #4
This is not a real thing - it's a demo.

[2017-07-02 12:30] #4 closed, assigned to bicschneider

[2017-07-02 12:33] lakruzz commented on #9
Closing this one - @kryptag is currently working on a solution in josra/josra.github.io#33 (and more) we will reuse that when it's done

[2017-07-02 12:33] #9 closed, assigned to nobody

[2017-07-02 12:57] #26 closed, assigned to lakruzz

[2017-07-02 13:00] lakruzz commented on #22
continues in Praqma/milestone#2

[2017-07-02 13:00] #22 closed, assigned to buep

[2017-07-03 05:32] buep commented on #22
It was closed with this commit actually... https://github.com/Praqma/praqma.github.io/commit/0c56c93d9ce29b57ed9bc31eaaba9a2acead2e19

But using manual commit message you risk failing ;-)

[2017-07-18 08:11] lakruzz opened #27 "Addin sami to persons.json"

[2017-07-18 08:12] lakruzz commented on #27
Aaargh - wrong repo

[2017-07-18 08:12] #27 closed, assigned to lakruzz

[2017-08-17 12:20] kryptag opened #28 "Add email to Mailsignature"
This issue was spawned by: https://github.com/Praqma/phablework/issues/60#issuecomment-323055580

[2017-08-17 12:24] #28 closed, assigned to kryptag

[2018-04-29 18:09] meekrosoft opened #29 "Can we change the name of this repo to code.praqma.com?"
Just to match the domain...I found it quite hard to find but not sure what could break if I do so...

[2018-04-29 18:18] lakruzz commented on #29
No, the naming convention of the main gitgub pages is:

`<the name of the org or user>.githib.io`

So we will have to leave the name as it is.

[2018-06-27 08:37] lakruzz commented on #29
I actually think, that it is now possi le to change the name - the naming convention restriction is not there anymore - I'll check

[2020-05-20 13:05] sami-alajrami opened #30 "HTTP does not redirect to HTTPS"
the title says it all ...