[2015-10-23 10:35] lakruzz commented on #1
Ivan has a mockup

![image](https://cloud.githubusercontent.com/assets/155492/10690494/984cd350-7982-11e5-9ee6-e6704a68019b.png)

[2015-10-23 10:37] lakruzz commented on #1
Looks better - I still thing that the sub pictures should be slightly smaller

[2015-10-23 10:38] lakruzz commented on #1
The ribbons must still be an overlay in the pircture

[2015-10-23 11:36] illus0r commented on #1
How to split this to "make header on mobile" and "make header on desktop"?

[2015-10-23 13:04] illus0r commented on #2
Hey, issue #2, why are you not closed yet? I fixed you!

[2015-10-23 14:38] illus0r opened #6 "make logo in svg"

[2015-10-23 14:41] illus0r opened #7 "Make menu markup semantic"
Just to clean up a code of nav.html include file to remove bootstrap classes like `nav navbar-nav` and so on.
Maybe the task is not necessary, I made it just not to forget

[2015-10-25 21:39] lakruzz commented on #6
@illus0r why is SVG better than PNG?

[2015-10-25 21:57] lakruzz commented on #10
@illus0r
I have now renamed the old `master` to `was-master` and then I have re-created the `master` branch from the `ivan` branch.

__Consequence__

You Ivan branch is now only a few commits behind `master`, you should update it like this:

    git fecth origin --prune
    git checkout ivan
    git merge master

Hereafter you can continue to work on the `ivan`, but we should arrange a Google hang

[2015-10-26 09:54] illus0r commented on #6
pros

+ file is smaller (page loads a bit faster)
+ it's faster to make logo retina friendly

cons

- possible issues on ansient browsers

On Mon, Oct 26, 2015 at 12:39 AM Lars Kruse <notifications@github.com>
wrote:

[2015-10-26 10:45] illus0r commented on #2
Hey, @lakruzz! How to close the issue?

[2015-10-26 11:10] illus0r commented on #6
@lakruss and I have all necessary data to make it

[2015-10-26 11:41] lakruzz commented on #2
@illus0r you are doing the right thing - it automatically gets closed when it is merged into the default branch (`master`).

So we just want you to work on master - don't we :-)

It's fixed lets go through it on the hangout later today

[2015-10-26 12:13] lakruzz opened #12 "Use folders rather than files for menu items"
Regarding 650faf1

I'd like the menu items to represent folders rather than files.

So instead of having _Training_ pointing to `/training.html` it should point to `/training/`and then the content should be put in an `index.md` file in that folder.

(as per the implementation of www.josra.org and www.code-conf.com etc.)

[2015-10-26 13:46] illus0r commented on #3
made everything excepting #14

[2015-10-26 14:24] MadsNielsen commented on #7
@lakruzz do you get this?

[2015-10-26 14:57] illus0r commented on #13
I leaved site.url var for canonical tags (better SEO)

[2015-10-27 08:27] illus0r commented on #12
@lakruzz Sure, I can make it. But I'd like to understand what for?
I considered moving all the page files to one dir like `pages` to keep root folder clean.

[2015-10-27 08:56] illus0r commented on #16
Dear, @lakruzz, I've promised to align all elements according to your mockup and I'm going to keep my promise :-) In fact It's already fixed on that cunning af9f7f2 revision

[2015-10-27 09:35] lakruzz commented on #16
Sorry - I'm just being impatient ;-) no worries

[2015-10-27 09:35] lakruzz commented on #12
In the static HTML structure generated by Jekyll the path to the file becomes part of the final URL.

So take for instance a set of training related pages like the _index_, a _git course_ and a _jenkins course_ would have the following urls:

    /pages/training.html
    /pages/git-course.html
    /pages/jenkins-course.html

Where as in my approach the same URLs will be

    /training/
    /traini

[2015-10-27 10:23] illus0r commented on #12
@lakruzz, I've got your idea, now it has a sense for me. We could go even further and group pages like this:
[code]
so all pages are in one dir in on the root but still well structured.
I see, you want to add a submenus in the future. Suggested approach will help us to generate submenus on the basis of folder nesting (instead of nav.yml)

What approach would you like more?

[2015-10-27 10:36] illus0r commented on #15
Done on local repo
Can't deliver, though

[2015-10-27 10:57] illus0r commented on #1
Main banner will be improved in #14
Now header looks like
![image](https://cloud.githubusercontent.com/assets/797993/10756054/9b1d18b4-7cb2-11e5-9771-adaf0da18623.png)

[2015-10-27 11:26] illus0r commented on #16
Now like on the picture (on local repo)

![image](https://cloud.githubusercontent.com/assets/797993/10756054/9b1d18b4-7cb2-11e5-9771-adaf0da18623.png)

[2015-10-27 14:19] lakruzz commented on #12
No thanks.

`pages` in this context it pretty redundant - it's a web site!  ...everything (from an end-user's perspective) is _pages_.

There wouldn't be one single page that I could show that _wouldn't_ be in `pages`  ... that's redundancy by definition :-)

If the only thing we gain from that is that the root seems more tidy, it's a far to high price to pay for ugly URLs - since we're the only o

[2015-10-27 15:12] lakruzz commented on #17
@illus0r I pushed behind your back - you should always make sure that you keep yourself in sync with origin/master ...right!

[2015-10-27 16:33] illus0r commented on #12
@lakruzz how could you think so weird thinks about me? :)
I didn't intend to make ugly urls.
You can place files wherever you want and set their urls by frontmatter.

file `/pages/training.html` with frontmatter
[code]
will be available on `http://new.praqma.com/training/` only.

[2015-10-27 19:15] lakruzz commented on #12
@illus0r I'm so sorry!
I'm flat on the floor - I've got nothing to say:

Honestly I've never used permalink for anything except in the `_config.yml`where I usually set:

    permalink: none

because I don't want the dates to be part of the URL in posts. But the way you use it is smart - thanks for being smarter than me.

AND i discovered myself that using categories in in the front matter solves t

[2015-10-27 19:45] lakruzz commented on #18
Closing to with 8bebc0f3f4434ef55a16ff2135ecd6459466ee8a

[2015-10-27 19:46] lakruzz commented on #18
@illus0r

Please remember to sync to this commit - before you contiue :-)

[2015-10-27 19:58] illus0r commented on #12
@lakruzz Oh, I enjoy working with you :)
I didn't know about categories, thanks, we will use them for blog.

вт, 27 окт. 2015, 22:15, Lars Kruse <notifications@github.com>:

[2015-10-28 08:10] lakruzz opened #20 "Training courses - subpage design"
![praqmaweb-training](https://cloud.githubusercontent.com/assets/155492/10782826/bfe5b376-7d53-11e5-906b-0e607903ee89.jpg)

This is the page shown for a training course e.g.  `http://www.praqma.com/training/jira-admin.html`

- [ ] It shall be divided in 1/4 for a course menu 2/4 for content and 1/4 for a "fact-box panel"
- [ ] The course menu shall show all the trainings available (all pages in `/

[2015-10-28 08:16] lakruzz commented on #12
@illus0r
I'll close this issue - it's more a strategy for going forward than it is an actual issue - glad we had the discussion though - I Learned something.

[2015-10-28 08:16] #12 closed

[2015-10-28 08:59] lakruzz commented on #7
@illus0r
You need to add a more thorough description - Based on your header I don't know what this issue is about, so I can't put prio on it.

Please
- [] fill in the description field
- [] Remove the "Action - needs grooming" label
- [] Assign it back to me

[2015-10-28 09:00] lakruzz commented on #8
@illus0r
You need to add a more thorough description - Based on your header I don't know what this issue is about, so I can't put prio on it.

Please
- [ ] fill in the description field
- [ ] Remove the "Action - needs grooming" label
- [ ] Assign it back to me

[2015-10-28 09:10] lakruzz opened #21 "Training - index page"
![praqmaweb-trainingfront](https://cloud.githubusercontent.com/assets/155492/10783857/fb5c107e-7d5a-11e5-8198-b6953c30ecde.jpg)

The training index page has it's own lay-out has the same division as the individual training pages (issue #20)

- [ ] 1/4 for course menu, 2/4 for content 1/4 for right sidebar (there is a separate issue for this)
- [ ] The course menu behaves as on the individual train

[2015-10-28 11:31] illus0r commented on #23
@lakruzz so you want to mix blogpost names with tags into one hip?

* Network of Traces prototype
* Return of the Memory Map plugin
* Josra charter - Pending Changes
* Josra + Academia
* First tag
* Second tag
* Git
* Fetured
* Another tag

I'd like to distinguish them.

Or you want to make the first item in *the tag list* to be a link to the blog (*newest* is the same, as your *blog front page*)?

[2015-10-28 12:06] illus0r opened #24 "Show blog post tags on the right sidebar"
Task as a part of #23

![image](https://cloud.githubusercontent.com/assets/155492/10784918/f9b1d406-7d60-11e5-9e77-b19419102ac3.png)

The right sidebar on blog index #22  and blog posts #19 is listing a short list of options and a search field.

This can be implemented as a nav-bar

just tags used in blog posts - when a tag is clicked, the posts that has the tag are listed - sorted by date

[2015-10-28 12:11] illus0r commented on #23
We need to make one more task for **newest** and close the issue as a duplicate.

[2015-10-28 12:15] lakruzz commented on #23
@illus0r

Yep, like this - definitely

[2015-10-28 14:06] illus0r commented on #22
@lakruzz sure, we can consider another approach instead of JS tag filtering. Like [here](http://christianspecht.de/2014/10/25/separate-pages-per-tag-category-with-jekyll-without-plugins/)

pros: no JS hacking, faster, less unnecessary code on page.
cons: you'll have to make a new empty file for every new tag.

[2015-10-28 14:17] lakruzz commented on #22
@illus0r
The [approach you point to](http://christianspecht.de/2014/10/25/separate-pages-per-tag-category-with-jekyll-without-plugins/) is fine - we can get started this way.

The cons you mention might be something that we might want to automated at a point, but for now i'm OK with this approach.

IN the snippet snown

    {% for post in site.tags[page.tag] %}
      <li>
        {{ post.date | da

[2015-10-28 14:18] illus0r commented on #24
@lakruzz Just to check if I got it right:

* **Newest** — all blog posts. I can get there by sidebar menu only.
* **Featured** — by tag `featured`. Url is `www.praqma.com/blog/`. I can get there by main menu
* **GIT** — by tag `GIT`. Url is `www.praqma.com/blog/?tag=git`. I can get there by sidebar tag list or by... I don't see tag references on blog subpages. But we can add if you want.
* Another

[2015-10-28 14:22] illus0r commented on #22
@lakruzz how much `.caption`s may we have on page?

[2015-10-28 14:27] illus0r commented on #26
Should **all** posts go to RSS or just featured?

[2015-10-28 14:35] lakruzz commented on #24
Right! You got it!

True you dont see a tag-list on each individual blog post, but I'm on the same page as you: Of course we need the tags on each individual blog to be listed as part of the layout of #19  - Feel free to add it where you want - and we can run it by our graphical designer later!

[2015-10-28 14:37] illus0r commented on #20
@lakruzz hey, I'll need a mobile mockups for all new pages. It's easier to add than subtract.
If you wish, I can make them according to a corresponding task.

[2015-10-28 14:40] lakruzz commented on #22
Actually we would need _as much_ as required to make it look good in the Lay-Out.

There is roughly 60-65 chars in each line and we need somewhere between 2 1/2 and 4 lines to look good so I'd say:

__At least the size of a tweet (140 chars) but no more than 2 tweets (280 chars)__

[2015-10-28 14:45] lakruzz commented on #20
Please feel free to create the mobile pages according to what you find being best practice.

When we go to smaller sized screens it's typically all the fancy graphics that's being thrown over board anyway.

The mobile pages I trust that you can do equally as good as our graphical designer.

Give it your best shot - and let me know when you have something ready and I'll give you some feed-back on t

[2015-10-28 14:48] illus0r commented on #19
@lakruzz one thing confuses me.
Usually color is a usability tool: we code similar  elements with a similar colors. Now I can not understand the meaning of orange color on provided mockups: sometimes orange is a link, in other cases orange is a bage (like data), sometimes is a webform placeholder, sometimes just a text.

I remember your words about my interfering into design, so I'll implement cur

[2015-10-28 14:48] lakruzz commented on #26
All posts - but don't start on this one - It's on the backlog, it's not important and actually, we would probably rather have people signing up for our news letter than subscribing to RSS feeds (We want to know who they are - people can subscribe to feeds anonymously)

[2015-10-28 14:52] illus0r commented on #19
@lakruzz is this orange text a blockquote?
![image](https://cloud.githubusercontent.com/assets/797993/10792125/79591bc0-7d9c-11e5-9c23-eeeaad50e221.png)

[2015-10-28 14:56] lakruzz commented on #19
I think that you are right that there is a bit of confusion in this area.

I'll have a chat with our graphical designer. I'm thinking that I'd like to use the orange test for headers, rubrics, label captions etc and then the links will have to be - _something else_ ...with out exactly knowing what exactly that is.

On http://www.code-conf.com/cph15/program/ we're using orange text for links
On htt

[2015-10-28 14:57] lakruzz commented on #19
Nope - it's just a graphical effect - adding orange effect - eye candy!

[2015-10-28 15:02] illus0r commented on #4
is it obsolete?

[2015-10-28 15:04] lakruzz commented on #27
@illus0r
Feel free to copy the content from the [Josra blog](https://github.com/josra/josra.github.io/tree/master/blog/_posts) to this repo and play with it (hack it as much as you want)  - so you have some volume to work with.

[2015-10-28 15:05] illus0r commented on #27
@lakruzz yeah, just wanted to ask for this info) Thanks

[2015-10-28 15:06] lakruzz commented on #4
Hmm right!

_maybe_

I'd like not to spend too much time on it right now.  I've moved it to the backlog.  This is one of the things we can add later.

What do you think? Top or bottom?

[2015-10-28 15:08] illus0r commented on #22
@lakruzz can I make a label **In progress** or like this?

[2015-10-28 15:13] lakruzz commented on #22
You mean a label in the GitHub issue system, to indicate which one your working on?
Fine!

Good idea! I made a white "[Work In Progress](https://github.com/Praqma/praqma.github.io/labels/Work%20In%20Progress)" label!

[2015-10-28 15:19] illus0r commented on #22
@lakruzz I like it!
Current milestone is flooded by a plenty of tasks and subtasks. I'll create even more of them. Can we dedicate a separate milestone for a blog?

[2015-10-28 15:19] illus0r commented on #29
@lakruzz I set a milestone for a subtask, if I create it after a task with a corresponding milestone set by you. Now you didn't ask for this feature explicitly.

[2015-10-28 15:22] lakruzz commented on #29
Actually we're using Mailchimp.

The naked (bare minimum) embedded HTML I generated from mailchimp looks like this

    <div id="mc_embed_signup">
    <form action="//praqma.us5.list-manage.com/subscribe/post?u=4cd7193551aaee65c6da509a1&amp;id=24ac966787" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc

[2015-10-28 15:25] lakruzz commented on #29
:+1:
...works for me - I'll pull the brake if i disagree.

[2015-10-28 15:28] illus0r commented on #29
arrr, didn't understand :(

[2015-10-28 15:29] lakruzz commented on #22
Right - I created a milestone "[Blog related](https://github.com/Praqma/praqma.github.io/milestones/Blog%20related)"

But most of the stuff was moved there anyway :-)

But I like it - lets work with the blogs first!

[2015-10-28 15:32] lakruzz commented on #29
* When you create a sub task off another, you will assign it to the same _milestone_ and give it the same _priority_
* If either milestone og priority needs to be changed - I'll do it ...no worries!

[2015-10-28 15:33] illus0r commented on #22
@lakruzz here we go!
How much blog posts will we have? Will we use a pager?

[2015-10-28 15:34] lakruzz commented on #30
I've thrown this to the backlog.

Let's not spend time on this right now

[2015-10-28 15:35] lakruzz commented on #22
...not for now - we'll take it when it becomes a problem.

[2015-10-28 15:43] illus0r commented on #19
@lakruzz we'd beter keep in mind, github can not resize pictures. We have two ways:

* make two copies (by hand or automatically) and include two images to frontmatter (or include one and alter url via the liquid)
* let it be. Use the same big image for blog index. The loading time will expand.

[2015-10-28 15:51] lakruzz commented on #19
Let's go with

for now!

[2015-10-28 21:19] illus0r opened #31 "Main banner bug on firefox+windows"
![default](https://cloud.githubusercontent.com/assets/797993/10803304/8bc22406-7dd2-11e5-8ef9-0a7fa4d9b8f8.png)

Extra space between ribbon lines

[2015-10-29 13:15] illus0r commented on #28
yep

[2015-10-30 09:19] illus0r commented on #29
@lakruzz got it

[2015-10-30 09:21] illus0r commented on #20
@lakruzz yep! We can work this way.

[2015-10-30 09:25] illus0r commented on #4
@lakruzz it depends on your goals. What's a main purpose of the site?

[2015-10-30 11:53] illus0r opened #32 "Highlight *blog* main-menu link on all all blog related pages"
![image](https://cloud.githubusercontent.com/assets/797993/10845085/143b4df0-7f16-11e5-8763-72b756b1f664.png)

Should be selected on all tag-pages and post-pages
Now works on `/blog/` only

[2015-10-30 12:09] illus0r commented on #23
Decomposed into #25 and #24

[2015-10-30 13:04] illus0r opened #33 "Style tags and search"
![image](https://cloud.githubusercontent.com/assets/155492/10784918/f9b1d406-7d60-11e5-9e77-b19419102ac3.png)

[2015-10-30 13:06] illus0r commented on #24
I'll make styling in #33

[2015-10-30 13:06] #24 closed

[2015-10-30 13:06] illus0r commented on #25
I'll make styling in #33

[2015-10-30 13:08] illus0r opened #34 "Make nice urls"
for
- [ ] tag pages
- [ ] posts

![image](https://cloud.githubusercontent.com/assets/797993/10846392/81cb0d24-7f20-11e5-8a75-ad8856ac0da0.png)

[2015-11-03 08:14] #34 closed

[2015-11-03 08:15] illus0r commented on #34
at the same time made urls for training courses

[2015-11-03 09:06] illus0r commented on #33
@lakruzz I used a google default search box in order to save time. If you need, I can precisely follow a mockup.
Now it looks like this:
![image](https://cloud.githubusercontent.com/assets/797993/10904275/128e3c32-8223-11e5-89b1-c0012e582887.png)

[2015-11-03 09:13] illus0r commented on #33
Small bugs
![image](https://cloud.githubusercontent.com/assets/797993/10904437/3315363a-8224-11e5-9e9c-e11477e14e97.png)

![image](https://cloud.githubusercontent.com/assets/797993/10904449/4c30c38c-8224-11e5-989c-cc5b26913437.png)

[2015-11-03 09:28] illus0r commented on #22
@lakruzz I made posts look like this

![image](https://cloud.githubusercontent.com/assets/797993/10904624/d1cc1d1a-8225-11e5-9f19-0859fddd9a91.png)

There is no date on mockup. Should it be?

[2015-11-03 09:39] lakruzz commented on #33
@illus0r It's good enough for now - we might come back and change it later

[2015-11-03 09:44] lakruzz commented on #22
The blog post date is fine, thanks.  The format of the icon/avatar is not quite right, you're using a 2:1 format (width:height)  I'd rater want a standard 4:3 format.

Also I'd like this page to be wrapped up soon, Are we challenged by capturing the picture? If so I'm ready to have as a prerequisite, that the blog editor must point to it explicitly as part of the front matter

[2015-11-03 09:44] illus0r commented on #33
@lakruzz oh, just fixed.
Another thing: google search not mobile friendly now. We can close the task and make new one, when you need to fix it.
![image](https://cloud.githubusercontent.com/assets/797993/10905030/827f5a8a-8228-11e5-83d2-4dae9ac9f72f.png)

[2015-11-03 09:46] lakruzz commented on #33
Right!

[2015-11-03 09:46] #33 closed

[2015-11-03 09:55] lakruzz commented on #31
Currently the ribbon over the big picture is more like a box - than it is a ribbon:

![image](https://cloud.githubusercontent.com/assets/155492/10905217/0bb936d2-8219-11e5-889a-143b753be415.png)

I would like it to be as on the original mockup:

![image](https://cloud.githubusercontent.com/assets/155492/10905263/4fd1903a-8219-11e5-89dd-c92e7cee4bbb.png)

So that the colored background follows the

[2015-11-03 10:03] lakruzz commented on #32
@illus0r - This is implemented right? Shouldn't this issue be closed?

(If not then please clarify - then I'm not sure what this issue is about)

[2015-11-03 10:05] lakruzz commented on #29
@illus0r I'v bumped the prio on this one from should have to _must have_.

[2015-11-03 10:12] #32 closed

[2015-11-03 10:16] illus0r commented on #32
@lakruzz yep, just fixed. I need to be more precise in description writing :)
Link `blog` was highlighted when you are on `/blog/` page. But when you are on `/blog/linkchecker-dockerized/`or on `/blog/markdown/` link was inactive. You could only guess, on what page are you.

[2015-11-03 10:16] lakruzz commented on #19
@illus0r I've changed this issue form Size - too big and Prio 1 to simply having a label named "briefing"  as it appears that we're not actually working on this issue but use it to brief and discuss issues and then to spawn other smaller cases off from it.

This is a good approach, I just don't want it to sit in our milestone and give the impression that we still have a lot of work to do here - wh

[2015-11-03 10:22] lakruzz opened #35 "Load pitures on blog index page"
![image](https://cloud.githubusercontent.com/assets/155492/10905780/d7db8348-821c-11e5-84c2-c4b1b195dafe.png)

use picture formater 4:3 and not 2:1 as in the curret state:

![image](https://cloud.githubusercontent.com/assets/155492/10905810/09daadba-821d-11e5-8f89-ef9889291347.png)

[2015-11-03 10:24] lakruzz commented on #35
@illus0r You seem to be online, but I cant get hold of you on neither Slack, Google chat or mail - apparently only through mentions on GitHub Issues - can we meet in a chat room - Our Slack channel perhaps?

[2015-11-03 11:51] illus0r commented on #22
@lakruzz switched an image format.

do you mean "this issue will be over soon"?

Did not understand :-)

[2015-11-03 12:07] illus0r commented on #35
@lakruzz Which images to use? I can find'em myself on the Internet.

[2015-11-03 12:09] illus0r commented on #29
@lakruzz great. I like **must have** :)

[2015-11-03 12:35] lakruzz commented on #22
Yep! _Wrap up_ = _close_ :+1:

[2015-11-03 12:37] lakruzz commented on #22
I was just wondering if, the reason why there aren't any pics on the blog index has to do with the fact that I wanted it to be grabbed from the 1st pic in the content is a challenge - If that's the case, then lets just add the avatar/icon directly in the front matter - then it's easy.

[2015-11-03 12:40] lakruzz commented on #35
Right :+1:
... at this point _any_ picture will do - I just want to see the _mechanics_ working - then I can have some og my colleagues update the pictures to even _look good_ later

[2015-11-03 12:45] lakruzz commented on #35
All right - sorry!

I See you are doing it already:

    ---
    title: GiJeLi setup
    tags: [Featured, Gijeli, Wiki, MarkDown, Ruby]
    avatar: /images/blog/placeholder.png
    author: Lars Kruse
   ---

This is Perfect! then _I_ (not _you_!) will go and update the pictures!

I believe we can close this one then?

[2015-11-03 12:49] illus0r commented on #22
@lakruzz I can take images from this mockup, if you wish. But they are too small for a post page. I'll take custom images from the internet.

[2015-11-03 12:51] lakruzz commented on #22
As mentioned in #35 - You're off - I'm on it :+1:

[2015-11-03 12:52] #35 closed

[2015-11-03 13:45] illus0r commented on #22
@lakruzz :-)

вт, 3 нояб. 2015, 15:51, Lars Kruse <notifications@github.com>:

[2015-11-03 13:47] illus0r commented on #19
@lakruzz what a relief! Thanks for that

вт, 3 нояб. 2015, 13:16, Lars Kruse <notifications@github.com>:

[2015-11-03 13:51] illus0r commented on #31
@lakruzz I struggled a lot with this ribbon. Tried three different methods,
and decided to get back later.
How to manage such situations in the future? Should I make tasks for such
bugs?

вт, 3 нояб. 2015, 12:55, Lars Kruse <notifications@github.com>:

[2015-11-03 14:12] lakruzz commented on #31
@illus0r Be sure to notify me when something like that is taking more time than anticipated - I'll help you prioritize:

1) Either I really, really want it, and we will schedule more time for the task

or

2) We can discuss a simpler alternative solution that can be implemented within our original estimate.

[2015-11-03 15:40] lakruzz commented on #31
@illus0r sorry for the mess - should only have been one commit.  Anyway I solved it by a bit of a hack, but I would rather have that we leave it for now and - we can probably come up with a snippet of liquid code that des the right (same) thing - But I really want to move on.

[2015-11-03 15:55] illus0r commented on #31
@lakruzz wow! Use a liquid is a great idea. Tomorrow I'll have a look at your changes in code

[2015-11-03 18:58] lakruzz opened #36 "Text box on main picture shall also be a link"
![image](https://cloud.githubusercontent.com/assets/155492/10918262/0c555d40-8265-11e5-9f4e-475539045f78.png)

Currently the text box isn't a link, it should be - pointing to the same URL as the picture itself

[2015-11-04 08:23] lakruzz opened #37 "Add copy and samples training"
I need to give Ivan something to work with

[2015-11-04 08:27] lakruzz opened #38 "html files should be MarkDown"
...in https://github.com/Praqma/praqma.github.io/tree/master/pages

[2015-11-04 09:01] lakruzz commented on #20
@illus0r

In relation to #37 I've added two files in `pages/training/*` I want you to use them instead of the ones you are currently using in `_training`

[2015-11-04 12:20] illus0r commented on #29
@lakruzz I changed text a bit to make it consistent: the same names for the same things. I'd like to go futher: now a site visitor can only guess what he is subscribing for. I believe, a slight text change can improve conversion.  So, could you clarify: why this subscription is useful for a visitor?

[2015-11-04 12:43] illus0r commented on #29
@lakruzz and good time to think, how search and newsletter blocks should be arranged on mobile. Now they are above other content.

![image](https://cloud.githubusercontent.com/assets/797993/10938387/d1d3c78c-830a-11e5-8d39-d2dcd1d00822.png)

[2015-11-04 13:57] illus0r commented on #31
@lakruzz I changed a bit your solution: var in `_config` is only one, it's split up into parts by <br> tag.
You'll be able to have a look after jenkins accept my commit

[2015-11-04 13:57] #31 closed

[2015-11-04 13:57] illus0r commented on #31
sorry for solving a backlog task, it was really small

[2015-11-04 14:03] illus0r opened #39 "Change training pages"
In relation to #37 I've added two files in pages/training/* I want you to use them instead of the ones you are currently using in _training

[2015-11-04 14:04] illus0r commented on #20
@lakruzz made #39 after your comment

[2015-11-05 12:13] illus0r opened #40 "Style a post page"
![image](https://cloud.githubusercontent.com/assets/797993/10968015/a85d84c2-83cf-11e5-92aa-801657703d20.png)

After task #19

output
- [x] date
- [x] tags
- [x] image
- [x] caption {: .caption}
- [x] orange highlights {: .highlight}

write styles for everything:
- [x] page title
- [x] date
- [x] tags
- [x] captions {: .caption}
- [x] orange highlights {: .highlight}

[2015-11-05 12:21] illus0r commented on #21
@lakruzz what a relationship is between left column (pictures) and middle one (course descriptions)?
I see some of them intersect, though there are more items in left column.

[2015-11-05 12:25] illus0r commented on #20
@lakruzz
- what happens after I click `Register`?
- what does symbol `E` on the buttons mean?

[2015-11-05 12:27] illus0r commented on #21
@lakruzz some left column pictures look disabled. Shouldn't we search for a better solution?

[2015-11-05 13:14] #38 closed

[2015-11-05 13:37] lakruzz opened #41 "Loose the watermark in the custom search field"
![image](https://cloud.githubusercontent.com/assets/155492/10969784/b5be2d06-83ca-11e5-8aa2-78e33976ff15.png)

I found a suggestion to [how it can be done](http://www.frontlinearts.com/replaceremove-watermark-from-google-custom-search-text-box)

[2015-11-05 13:41] lakruzz commented on #20
You should'n consider that - it's part og the content (MarkDown) on the individual page :-)

[2015-11-05 13:48] lakruzz commented on #21
At this point simply focus on

- [ ] Grab the pictures from all the relevant pages
- [ ] Show them in DIVs that are quadratic in size - two on each row
- [ ] The title of the pages should be underneath each picture
- [ ] Each picture should be a link to the individual page

The actual content is simply MarkDown, you dont need to address that - just produce a `_layout` called training.

do you unde

[2015-11-05 14:13] lakruzz commented on #29
Great - Looks fine for now, let's move on to next issue.

@illus0r  i closing this one with 1bf18f5 ...which is included in 9fd5895

[2015-11-05 14:24] lakruzz opened #42 "What are users subscribing to?"
A spin off from case #29

@illus0r:

[2015-11-05 14:27] illus0r commented on #21
@lakruzz you mean the content of `/training/` is formed from markdown without liquid. And all pictures should be collected from `site.trainig` collection and titled with corresponding titles.

[2015-11-05 16:14] #37 closed

[2015-11-05 16:16] lakruzz commented on #39
It's closed.

[2015-11-05 16:16] #39 closed

[2015-11-06 11:22] illus0r commented on #21
Should it look like this?
![praqma-trainings](https://cloud.githubusercontent.com/assets/797993/10995940/b0a8d042-8491-11e5-84db-9017b29f7a44.png)

[2015-11-06 11:29] monaslarsen opened #43 "Add crisp copy for training courses"

[2015-11-06 13:00] lakruzz commented on #21
Right, but then maybe the picture should still be in a 4:3 format and then use the remainder 4:1 fir the caption, so the total space used is square.

[2015-11-06 13:36] illus0r commented on #21
all right

[2015-11-06 13:37] illus0r commented on #21
@lakruzz have a look, I've put all training pages together. No styles, content only.

[2015-11-08 21:15] illus0r opened #44 "Main banner mobile bug"
![image](https://cloud.githubusercontent.com/assets/797993/11022724/e440ca54-8676-11e5-9298-d24f9c336934.png)

[2015-11-09 07:31] lakruzz commented on #20
![image](https://cloud.githubusercontent.com/assets/155492/11028148/3021b0f6-86bc-11e5-9fe4-892dfaaeba63.png)
The font in the right sidebar should be smaller, and the headings in bold text

[2015-11-09 10:37] lakruzz commented on #40
This is now more related to styling in general, I'm taking it off the blog milestone and putting it on the backlog for now

[2015-11-09 10:58] lakruzz opened #45 "Organize left index in square tiles"
As described in #21

![image](https://cloud.githubusercontent.com/assets/797993/11032071/db5cb9f2-86e9-11e5-8056-92d63ae52cc3.png)

Avatars should be 4x3 so avatar+caption were a square.

- [ ] made common styles
- [ ] an active item is highlighted
- [ ] mobile testing

[2015-11-09 10:59] illus0r opened #46 "Style training menu (left column)"
![image](https://cloud.githubusercontent.com/assets/797993/11032071/db5cb9f2-86e9-11e5-8056-92d63ae52cc3.png)

Avatars should be 4x3 so avatar+caption were a square.

- [ ] common styles
- [ ] highlight an active item
- [ ] mobile testing

[2015-11-09 11:01] lakruzz opened #47 "Styles in right sidebar on training sub pages"
![image](https://cloud.githubusercontent.com/assets/797993/11032534/60b832a4-86ed-11e5-92d4-ef34aab5c3cd.png)

According to mockup #20

[2015-11-09 11:06] illus0r commented on #46
#45

[2015-11-09 11:06] #46 closed

[2015-11-09 11:23] illus0r opened #48 "Style content on a training page"
![image](https://cloud.githubusercontent.com/assets/797993/11032339/dd7c775c-86eb-11e5-9db0-3b3bbf486c2e.png)

- [x] subheader
- [x] caption
- [x] *Register* button
- [x] eye candy orange text

[2015-11-09 11:24] illus0r opened #49 "Styles on the training index page"
![image](https://cloud.githubusercontent.com/assets/797993/11032442/9497308a-86ec-11e5-9fe9-4d8c411f51e0.png)

- [x] by Praqma is orange
- [x] dates are orange

[2015-11-09 11:29] illus0r opened #50 "Style the right sidebar on the training index page"
![image](https://cloud.githubusercontent.com/assets/797993/11032636/0f2e2654-86ee-11e5-9a17-6e2507f40c22.png)

[2015-11-09 11:45] lakruzz commented on #48
Dont style the register button - we will take this to the backlog

The orange eye-candy text it made with `class="highlight"`

    _Sample highlight text_{: .highlight}

[2015-11-09 11:55] lakruzz commented on #45
@illus0r Added a new label type "Up Next" I'll use it to indicate to your what I'd like to see next.
When youstart working on something and put the "work in progress" label on it - you can take my "Up next" label off.

If you are done with an issue, and I haven't put the "Up next" label on any thing then your next issue is: "The case with the highest prioritization and the smallest estimate"

OK

[2015-11-09 11:58] lakruzz commented on #48
I'd like to argue that tis is a small - not medium issue - especially not the "register" button is not part of it.   agree?

[2015-11-09 12:27] illus0r commented on #45
Got it.

[2015-11-09 12:31] illus0r commented on #48
@lakruzz yep. One more time: small - less than ah hour, medium — 2-3 hours.

[2015-11-09 12:31] illus0r commented on #48
right?

[2015-11-09 12:36] lakruzz commented on #48
Yep!

[image: ____________________________________________________________]
Lars Kruse M.Sc.
Partner & Co-founder
lak@praqma.net
+45 20 87 25 30 <+45%2020%2087%2025%2030>
Skype: lakruzz
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762>
<http://www.code-conf.com/day-of-docker-osl15/?src=mailbanner>

On 9 November 2015 at 13:31, illus0r <notifications@githu

[2015-11-09 12:38] illus0r commented on #48
Would you like me to estimate without margins?

[2015-11-09 12:54] lakruzz commented on #48
Yes - in general a _good_ estimate is a _precise_ estimate.

So estimating someting to 7 hrs, but reporting it as 9, is equally bad as reporting it as 5.

7 is 7 :-)

If you want to put it down as 9 it's really 9 that's the estimate - not 7 as in

9 is 9 :+1:

[2015-11-09 15:12] illus0r commented on #45
@lakruzz
Delivered. Works on different screen sizes. Links don't look like squares, because I tried to make them readable. But if you with we can spend some time to make them better.
![image](https://cloud.githubusercontent.com/assets/797993/11037107/22776314-870d-11e5-9961-0171f23c4439.png)

[2015-11-09 15:16] lakruzz commented on #45
Fine for now, we can revisit the subject when we get som feed-back from my colleagues - I'm closing it!

[2015-11-09 15:16] #45 closed

[2015-11-10 09:38] illus0r commented on #47
![image](https://cloud.githubusercontent.com/assets/797993/11058974/dea27c1e-87a7-11e5-8a9e-c762b46e19e6.png)

[2015-11-10 09:42] #47 closed

[2015-11-10 10:16] #50 closed

[2015-11-10 11:07] illus0r commented on #49
@lakruzz I made it look like this.
There is no case with several paragraphs withing one header, so I've made this case in `training.md` and rearranged text blocks by margins to make it look well.

![image](https://cloud.githubusercontent.com/assets/797993/11060915/6a4d31bc-87b4-11e5-8eee-6d71d3c53823.png)

[2015-11-10 11:16] lakruzz commented on #49
@illus0r slightly confused about this comment:

hmmm normally a header should't span multiple lines/paragraphs

I'm not sure I understand!

I tried to look at `training.md` but I'm not seeing the same version as you display here.  Did you push yet?

[2015-11-10 11:24] illus0r commented on #49
@lakruzz Just delivered

oh, I tried to say not
[code]
but
[code]

[2015-11-10 11:33] lakruzz commented on #49
right!

Still not _quite_ sure what we're talking about: I agree that paragraphs shouldn't be inside a header tag - but was that the case? where?

Also your showing me samples in html, but our content is in markdown so it would look like

     ## header

    paragraph

    paragraph

which would automatically render to

    <h2></h2>
    <p></p>
    <p></p>

I see in the markdown you have introduc

[2015-11-10 11:56] illus0r commented on #49
I'm not sure if the subject is significant, but I wanted to explain difference from the initial mockup. As you can see, I've added margin-bottom for h2 elements to make such semantic units:
[code]
look solid.

[2015-11-10 12:09] lakruzz commented on #49
Ooh!
I didn't catch the we were at that level of detail :-)

It's clearly a matter of opinion and therefore I also foresee that this is the level of detail that we will be discussing internally in Praqma as soon as the Minimum Viable Product is out.

At his point, you're free to make/implement your suggestions, and we will evaluate them later.

[2015-11-10 12:40] illus0r commented on #48
![image](https://cloud.githubusercontent.com/assets/797993/11062611/5b97ff1e-87c1-11e5-9147-e97edfe286ee.png)

[2015-11-10 12:40] #48 closed

[2015-11-10 12:44] illus0r commented on #49
Yep! So we go on

[2015-11-10 12:44] illus0r commented on #49
@lakruzz should we close it?

[2015-11-10 12:59] illus0r commented on #48
@lakruzz Result you'll be able to see on http://new.praqma.com/training/code-jenkins/ after jenkins is up.

[2015-11-10 13:45] lakruzz commented on #49
Yep - I'm closing

[2015-11-10 13:45] #49 closed

[2015-11-10 13:51] illus0r commented on #41
@lakruzz
![image](https://cloud.githubusercontent.com/assets/797993/11063995/4f5691fc-87cb-11e5-8a1f-2e44fcada1f8.png)

[2015-11-10 13:52] illus0r commented on #41
Text is an image, it was the fastest solution

[2015-11-10 13:55] lakruzz commented on #41
OK

[2015-11-10 13:55] #41 closed

[2015-11-10 13:57] lakruzz commented on #30
Let's go with this one next - I want this new header instead :+1:

[2015-11-10 14:03] illus0r commented on #30
@lakruzz woohoo! I'll do it tomorrow

[2015-11-11 12:13] #44 closed

[2015-11-11 12:21] lakruzz commented on #30
The "Case Stories" menu should be taken out - we're not going to use it in the MVP

[2015-11-11 12:39] lakruzz commented on #4
I've discussed it with my colleagues, we're back to (almost) the original plan:

- [ ] Use the four icons Twitter, LinkedIn, Mail and Phone
- [ ] Make them stick to the bottom of the page as it resizes In small screens present i just before the footer
- [ ] Use the grey (semi transparent black) color
- [ ] Dont implement the hover=black effect - it's not important.

OK?

[2015-11-11 14:03] illus0r commented on #40
@lakruzz

![image](https://cloud.githubusercontent.com/assets/797993/11092650/fce38f4e-8895-11e5-9959-05c85ac6d736.png)

[2015-11-11 14:10] lakruzz commented on #40
Nice!

[2015-11-11 14:21] illus0r commented on #4
@lakruzz
Searching for a phone or email will be a pain. Why don't we just show them in a text?

[2015-11-11 14:26] illus0r commented on #30
done and delivered

[2015-11-11 14:28] #40 closed

[2015-11-11 14:32] illus0r commented on #4
What should I do, if I want to copy your phone or email into clipboard?

[2015-11-11 14:37] illus0r commented on #4
and, to be sure, are you talking about this place for buttons? I marked it with red :red_circle:
![image](https://cloud.githubusercontent.com/assets/797993/11093299/7f9ae88e-889a-11e5-9c53-24819bb9b2b6.png)

[2015-11-11 15:55] lakruzz opened #51 "The tagline is too small"
![image](https://cloud.githubusercontent.com/assets/155492/11095366/ee61dc88-8894-11e5-94d9-f206af0a2f17.png)

The tagline: _The Continuous delivery Company_ is too small in the header (e.g. www.praqma.com)

[2015-11-11 16:00] lakruzz opened #52 "The Newsletter subscription should come before the search formular"
![image](https://cloud.githubusercontent.com/assets/155492/11095506/8d33c132-8895-11e5-80fb-d32bcb0eb6f6.png)

...in the right sidebar on `/blog` the search field should be below the newsletter signup fields

[2015-11-11 16:06] lakruzz commented on #4
Yes, It should stick to the buttom (so it's always visible, even when the window is resized`

[2015-11-11 16:06] lakruzz commented on #4
Good point, go ahead and implement :+1:

[2015-11-11 19:31] meekrosoft opened #53 "The front page is too dark and too close"
All the pictures are dark and you have to zoom out to make sense of the page.  My 2cents, but its how I feel.

[2015-11-11 19:49] lakruzz commented on #53
@meekrosoft

Does that mean:

- [ ] on the front page?
- [ ] in general = literally _all_ pictures?

So what you say is that it's simply to large! it should be more dense?

I tend to agree on that! - I zoom out to about 75% and that seems to be just about the proportions that feels right.

[2015-11-11 19:54] meekrosoft commented on #53
On the zoom level: yes, I think it is too large.  It is hard on the eyes and confusing because you don't land in an understandable context.  At default zoom level I have no idea what I'm looking at.  Does that make sense?

[2015-11-11 20:03] lakruzz commented on #53
Yep!

## On the topic of the pictures

The ones we have here are sample images, we will have to address the issue of the quality of the images being used, page-by-page when we're narrowing in and start focusing on content.

[2015-11-11 20:09] lakruzz opened #54 "Size (in general) is too large"
# 100%
![image](https://cloud.githubusercontent.com/assets/155492/11101551/d0f7dd8c-88b7-11e5-9b54-19dd6f68a422.png)

When the web opens in a default sized browser window att 100% it's hard to read the context

# 75%

![image](https://cloud.githubusercontent.com/assets/155492/11101569/efb82bd2-88b7-11e5-9d42-609fae0872aa.png)

When it's zoomed out to 75% the proportions of the page are closer to m

[2015-11-11 20:10] lakruzz commented on #54
This case closes #53 as a duplicate

[2015-11-11 20:11] lakruzz commented on #53
Closing this one as a duplicate of #54

[2015-11-11 20:11] #53 closed

[2015-11-11 20:26] lakruzz commented on #54
@illus0r can you try to take `$container-large-desktop:` in `/_sass/helpers/_variables.scss`down a notch - something closer to 950px - 990px (currently it's 1120px)

And then lets' see how that works.

(I'm taking the liberty to size this as small - although I know it's your job to make the estimates :-) )

[2015-11-12 11:40] illus0r commented on #54
@lakruzz you're right! A tiny task. Changed to 960px. I'll push after I understand a cause of constant squashing in git

[2015-11-12 11:41] illus0r commented on #54
answered in the #git-flow

[2015-11-12 15:33] illus0r commented on #4
This takes more time, than I supposed. Now it looks like
![image](https://cloud.githubusercontent.com/assets/797993/11122123/bf613a06-896a-11e5-92c5-d0bb1cf86ee8.png)
But it interferes with other content...
![image](https://cloud.githubusercontent.com/assets/797993/11122146/e9b834ee-896a-11e5-8931-f72933113594.png)
...until I use white background:
![image](https://cloud.githubusercontent.com/asset

[2015-11-13 09:41] monaslarsen opened #55 "Add Mastering Git training content"

[2015-11-13 10:40] #54 closed

[2015-11-13 10:51] illus0r commented on #36
fixed just to test new `git new-task` alias. Just moved a line of code

[2015-11-13 10:51] #36 closed

[2015-11-13 10:52] illus0r commented on #52
just moved one line, done

[2015-11-13 10:52] #52 closed

[2015-11-13 11:39] illus0r commented on #4
Improvised a little bit, made a kind of overlay.
![image](https://cloud.githubusercontent.com/assets/797993/11145157/bd3745b4-8a13-11e5-8733-51dce0a8bb6e.png)

Not so bad on gray as well:
![image](https://cloud.githubusercontent.com/assets/797993/11145172/d8c8d3a6-8a13-11e5-9f29-24e5a032eae3.png)

A font bug on mobile, will fix it after your feedback.
<img src="https://cloud.githubusercontent.com/

[2015-11-13 11:43] illus0r commented on #21
@lakruzz Do we still need this task?

[2015-11-13 12:32] illus0r commented on #26
@lakruzz implemented the simplest RSS feed without the atom plugin. I use **[Feedly](http://feedly.com/)** to read my feeds, so Praqma looks like
![image](https://cloud.githubusercontent.com/assets/797993/11145988/69e0dd14-8a1b-11e5-9e58-c6bbaeb8513a.png)

[2015-11-13 12:34] illus0r commented on #8
@lakruzz let's close it. We will make a independent task when we need a dropdown menus

[2015-11-13 13:08] lakruzz opened #56 "rename menu items"
- [x] "Consulting" should be named "services"
- [x] "Contact" should be "About us"

[2015-11-13 13:15] lakruzz opened #57 "The Services index"
page `/services` should be an index of sub content like the other ones you did (Training and blog)

I'd like it to presented like the smaller pictures on the front page - but in two rows - So it will become

Six subpages (I'll make sure you get sample copy  asap)

But imagine that these pages (like the training and blog pages) have the front matter you expect:

Avatar, index prio, caption etc

And

[2015-11-13 13:17] lakruzz opened #58 "Upload sample copy for services"
So that #57 have som volume to work with

[2015-11-13 14:09] #58 closed

[2015-11-13 14:10] lakruzz commented on #57
I have closed #58 @illus0r you're good to go

[2015-11-13 14:13] lakruzz commented on #57
...And I have a mock-up for you:

![image](https://cloud.githubusercontent.com/assets/155492/11147848/1feb6fb4-8a19-11e5-866b-2d9ebbe8d4fc.png)

[2015-11-13 15:03] #21 closed

[2015-11-13 15:07] lakruzz commented on #26
HI Ivan

How does this work - what's the commit that implemented this?

[2015-11-16 11:44] #7 closed

[2015-11-16 11:47] lakruzz commented on #4
It looks fine

Let's just get the icons right and then wrap it up

[2015-11-16 11:47] illus0r commented on #57
@lakruzz
1. pictures in `images` folder don't match this mockup. Which to use?
2. I used a fontmatter captions for now. Am I right?
3. I want to make a service index page according to the mockup and change some styles on the frontpage to match this mockup as well (frontpage styles are slightly different now)

[2015-11-16 11:54] illus0r commented on #26
@lakruzz [this one](https://github.com/Praqma/praqma.github.io/commit/556fe129a5002bd9cd74e155692e2464f020cebc)

[2015-11-16 11:54] lakruzz commented on #57
1) You can use the pictures from Tenna's mock-up - they are prettier than mine :+1:  (it's not _very_ important at this point, we will go through to content and pics later)

2) Yes

3) Fine - go ahead :+1:

[2015-11-16 11:55] illus0r commented on #26
[code]
This line tells to a rss reader, what to read.

[2015-11-16 14:11] illus0r commented on #57
@lakruzz Delivered!

[2015-11-16 14:21] lakruzz opened #59 "Services - subpage"
We need some lay-out on the services subpage

(e.g. http://new.praqma.com/services/assessments/)

It could be a right sidebar with access to the other services pages in a small index - some level of both improved usability and eye candy is required.

Give it a shot!

[2015-11-16 14:23] lakruzz commented on #57
Fine, great job!

Please - make it a habit to mention the issue in your commit messages, so we get a reference to the commits that contributed to this issus.

let's continue on #59

[2015-11-16 14:23] #57 closed

[2015-11-16 14:25] #20 closed

[2015-11-16 14:30] lakruzz opened #60 "Training index"
![image](https://cloud.githubusercontent.com/assets/155492/11184270/efcb70c6-8c76-11e5-86d7-198b2a71d2e1.png)

Could we try to get the index of the training left menu bar closer to the original mockup:

![image](https://cloud.githubusercontent.com/assets/155492/11184155/5cbc0048-8c76-11e5-8b85-3f23c0328ec5.png)

- [ ] Menu items that aren't selected at semi-transparent
- [ ] Menu items are perfect

[2015-11-16 14:32] #56 closed

[2015-11-17 09:26] lakruzz opened #61 "About us - Index page"
The About us menu is an index with 4 sub pages

- People
- Offices
- Partners
- Jobs

The mock up looks like this:
![image](https://cloud.githubusercontent.com/assets/155492/11207328/ea253ed8-8d14-11e5-9cff-d8430192ef68.png)

I would like you to load the pages dynamically: That is, look for subpages and load the ones you find (as with the training subpages) - I'll upload som sample markdown that e

[2015-11-17 09:28] lakruzz opened #62 "Offices sub-page"
![image](https://cloud.githubusercontent.com/assets/155492/11207497/daf51dec-8d15-11e5-8e2c-305fb8bf8ba0.png)

[2015-11-17 09:29] adamhenriques commented on #62
Lars,

Vil det ikke give mening at tilføje Stockholm kontor for at vise vores
tilstedeværelse?

[image: ____________________________________________________________]
Adam Henriques
Sales & Marketing
ah@praqma.net
+45 28 12 90 94 <+45%2028%2012%2090%2094>
Skype: adamhenriques
Praqma
www.praqma.com
CPH, OSL, STHLM
+45 36 PRAQMA <+4536772762>
<http://www.code-conf.com/day-of-docker-osl15/?src=mailban

[2015-11-17 10:15] lakruzz commented on #62
Yes! And to eave out the office in Malmö, where we actually don't have an office :-)

[2015-11-17 10:54] lakruzz commented on #62
I've added a list of offices in `/_data/offices.yml`

[2015-11-17 11:08] illus0r opened #63 "Training menu: make a mockup with training titles closer to original"
Subtask of #60
![image](https://cloud.githubusercontent.com/assets/155492/11184270/efcb70c6-8c76-11e5-86d7-198b2a71d2e1.png)

Could we try to get the index of the training left menu bar closer to the original mockup:

![image](https://cloud.githubusercontent.com/assets/155492/11184155/5cbc0048-8c76-11e5-8b85-3f23c0328ec5.png)

[2015-11-17 11:10] illus0r opened #64 "Style training menu according to the mockup"
Subtask of #60
Mockup will be made in #63

[2015-11-17 11:11] illus0r commented on #60
@lakruzz made two subtasks #63 and #64

[2015-11-17 11:35] lakruzz commented on #61
@illus0r Iv'e added som copy and samples - let me know if it makes sense

[2015-11-17 11:41] lakruzz opened #65 "Add copy for customers"
The information about all our customers should be added to

<https://github.com/Praqma/praqma.github.io/blob/master/_data/customers.yml>

in the format:

    -
      company:
      url:
      logo:
      caption:

- [ ] All logos should be put in the folder /images/customers/
- [ ] All logos should be in `.png`
- [ ] All logos shall be in the format 2:1 (width:height)

[2015-11-17 11:42] lakruzz opened #66 "Add copy for partners"
The information about all our customers should be added to

https://github.com/Praqma/praqma.github.io/blob/master/_data/partners.yml

in the format:

    -
      company:
      url:
      logo:
      caption:

- [ ] All logos should be put in the folder /images/partners/
- [ ]  All logos should be in .png
- [ ]  All logos shall be in the format 2:1 (width:height)

[2015-11-17 13:26] lakruzz opened #67 "Tags on blogs - we need a plan!"
Exemplified in `http://new.praqma.com/blog/linkckecker-jekyll-flavor/`

![image](https://cloud.githubusercontent.com/assets/155492/11212582/ff897f06-8d36-11e5-8605-0d77a6b32b68.png)

There are tags on the blog post that I cant click on:

![image](https://cloud.githubusercontent.com/assets/155492/11212604/20f23d18-8d37-11e5-9d46-0103efe48e88.png)

We need a strategy for how to get this to work.

[2015-11-17 13:35] lakruzz opened #68 "Blog index on tags interfeers with posts"
Using `http://localhost:4000/blog/markdown/` as an example:

![image](https://cloud.githubusercontent.com/assets/155492/11212665/893b7c04-8d37-11e5-8ba5-0edda242a617.png)

This page is an index of all the posts tagged with _markdown_  but it also means that the the index and the posts are now competing ofr this namespace.

Imagine I had a blog post named "MarkDown" - they wouldn't be able to co-ex

[2015-11-17 14:03] monaslarsen commented on #61
![offices](https://cloud.githubusercontent.com/assets/13627068/11213426/4e0a9f98-8d3c-11e5-830c-c632ec9f6c6f.png)
![ikoner-01](https://cloud.githubusercontent.com/assets/13627068/11213428/4e0dcc2c-8d3c-11e5-831e-004cb794999c.png)
![jobs](https://cloud.githubusercontent.com/assets/13627068/11213427/4e0ad508-8d3c-11e5-981f-c8a2db93123f.png)
[Ikoner.pdf](https://github.com/Praqma/praqma.github.io/fil

[2015-11-17 14:04] monaslarsen commented on #61
![offices](https://cloud.githubusercontent.com/assets/13627068/11213459/766b5dd8-8d3c-11e5-8f6c-3b49e5a06eaa.png)
![ikoner-01](https://cloud.githubusercontent.com/assets/13627068/11213458/766a83a4-8d3c-11e5-9772-291408a2e530.png)
![jobs](https://cloud.githubusercontent.com/assets/13627068/11213461/766ee976-8d3c-11e5-89bf-c7bc47baf993.png)
![partners](https://cloud.githubusercontent.com/assets/1362

[2015-11-17 14:41] illus0r commented on #59
@lakruzz delivered, how do you like it?
![image](https://cloud.githubusercontent.com/assets/797993/11214436/4ed41560-8d52-11e5-85f1-6a602a5baf3c.png)

[2015-11-17 14:47] illus0r commented on #67
@lakruzz if a blog post uses a tag that's not presented by corresponding `tag-page` file, I show it anyway, but in gray. If you want to make `http://new.praqma.com/blog/linkckecker-jekyll-flavor/`'s tags clickable, add a `_tag-pages/Jekyll.html` and so on.

[2015-11-17 14:47] illus0r commented on #67
Should I add all necessary tag-pages?

[2015-11-17 14:52] illus0r commented on #68
@lakruzz set medium size, because of possible complications with an active menu item highlighting. But I hope, I'll do it much faster. Should I set `small` instead?

[2015-11-18 10:37] illus0r commented on #61
Hey, @lakruzz! What do you mean by *dynamically*? Should we use an ajax or just automate menu generation like I did for *services* and *blog*?

[2015-11-18 10:39] illus0r commented on #61
i'm pretty sure you didn't mean an *ajax*, I've asked just in case

[2015-11-18 13:14] illus0r commented on #61
@lakruzz I've made a first approach, now *about* index looks like on the pic. Which text do we need? From the `.md` file or from the mockup? I'm going to style the text after your feedback.
![image](https://cloud.githubusercontent.com/assets/797993/11241845/fda839ec-8e0e-11e5-8fc1-91ae4c423fd2.png)

[2015-11-18 13:22] illus0r commented on #61
And, I've noticed the titles on the menu and on the page (marked up by markdown) are different. Ex. *PARTNERS* link brings us to *OUR LOVELY CLIENTS*. I'd recommend to use the same names for both in order not to confuse a visitor. So I didn't remove first title from a template yet, now it's like on the pic
![image](https://cloud.githubusercontent.com/assets/797993/11242051/5d1096da-8e10-11e5-89fd-

[2015-11-18 13:41] #68 closed

[2015-11-18 14:02] illus0r commented on #51
Right, that's what I saw in chrome:
![image](https://cloud.githubusercontent.com/assets/797993/11242658/2adcc87e-8e14-11e5-9b66-cb577e5ef360.png)
and firefox:
![image](https://cloud.githubusercontent.com/assets/797993/11242680/565477fe-8e14-11e5-8803-78cc29e33b06.png)
and safari:
![image](https://cloud.githubusercontent.com/assets/797993/11242914/ee13b5ae-8e15-11e5-8572-7626b26ecd6e.png)

Looks li

[2015-11-18 14:31] illus0r commented on #51
@lakruzz I found myself looking for an answer for a half of an hour. I can test on iPad only, but there's no developer console. I have to install Safari on Linux or Windows first, so I've changed a time estimation.

[2015-11-19 09:36] lakruzz opened #69 "Create customers sub page"
A spin off from #61
![image](https://cloud.githubusercontent.com/assets/155492/11267042/3faa5312-8ea9-11e5-9a72-1a2f9280bba3.png)

- [ ] The subpages under about us, should have a right side-bar wit easy access to the other about sub pages

[2015-11-19 09:38] lakruzz opened #70 "Create Partners sub page"
A spinn off from #61

![image](https://cloud.githubusercontent.com/assets/155492/11267090/86ecfebe-8ea9-11e5-8d62-5f917c540807.png)

related (similar) to  #69

[2015-11-19 09:39] lakruzz commented on #61
@illus0r
Right, so partners should be partners and customer should be customers :+1: It's just me being too quick on the save-as function :-)

What I meant by dynamically is that I don't know if we will _always_ have exactly 4 elements on this page - it might be more or or less.  I just want you to load the pages you find - in rows of 4, then we'll have to manage it on the content side.

It would

[2015-11-19 09:39] #61 closed

[2015-11-19 09:40] lakruzz commented on #67
@illus0r

Hold on for this one - I'm might have a suggestion I'd like to make - an hour or two - and I'll be back...

[2015-11-19 09:43] lakruzz commented on #59
Maybe I'd like it to be somewhat more visual - and less _wall og text_ the tha avatars/icon images from the service pages be part of each menu item some how?

What do you think?

[2015-11-19 09:48] lakruzz commented on #51
Ahh  I wasn't refering to the logo, but to the tagline:

![image](https://cloud.githubusercontent.com/assets/155492/11267296/c8a2f11e-8eaa-11e5-9bd8-eab0f98a9bef.png)

I just want it to be bigger - as per the original mock-up.

I'm actually using chrome myself - never used Safari :green_apple:

[2015-11-19 10:05] illus0r commented on #59
@lakruzz great, I have an idea about how to implement this.

[2015-11-19 10:34] illus0r commented on #62
Sometimes on the mockup I see VAT, sometimes CVR/VAT. What to use?

[2015-11-19 10:54] illus0r commented on #62
@lakruzz and we can make maps even greater. I't hard to operate in a stamp-sized window.
![image](https://cloud.githubusercontent.com/assets/797993/11268971/f98e0966-8ec4-11e5-8f3d-ed6568cc1b82.png)

[2015-11-19 11:00] illus0r commented on #62
and, sure, we can
![image](https://cloud.githubusercontent.com/assets/797993/11269067/ce811adc-8ec5-11e5-8672-4db3fb922dee.png)

[2015-11-19 11:06] illus0r commented on #62
Or combined case:
![image](https://cloud.githubusercontent.com/assets/797993/11269214/b0687b3e-8ec6-11e5-83c7-f5581b4200d7.png)

[2015-11-23 15:16] lakruzz opened #71 "Copy for Assessments""
https://github.com/Praqma/praqma.github.io/blob/master/_services/assessments.md

[2015-11-23 15:16] lakruzz opened #72 "Copy for Continuous Delivery conferences and meetups"
https://github.com/Praqma/praqma.github.io/blob/master/_services/code-conf.md

[2015-11-23 15:17] lakruzz opened #73 "Copy for "Consulting""
https://github.com/Praqma/praqma.github.io/blob/master/_services/consulting.md

[2015-11-23 15:18] lakruzz opened #74 "Copy for "Josra""
https://github.com/Praqma/praqma.github.io/blob/master/_services/josra.md

[2015-11-23 15:18] lakruzz opened #75 "Copy for "Service level Agreement""
https://github.com/Praqma/praqma.github.io/blob/master/_services/sla.md

[2015-11-23 15:19] lakruzz opened #76 "Copy for "tool specialists""
https://github.com/Praqma/praqma.github.io/blob/master/_services/tool-specialists.md

[2015-11-25 09:13] lakruzz opened #77 "Services - a communication strategy"
@meekrosoft and @lakruzz are meeting in Göteborg on Dec 17th to go through and try to identify Praqma's signature services, have to communicate and present them.

This might affect the services description on the web site so currently the following tasks are to be considered sub tasks to this one:

- [x] Copy for "tool specialists" #76
- [x] Copy for "Service level agreement" #75
- [x] Copy for "J

[2015-11-25 09:15] #67 closed

[2015-11-26 10:14] monaslarsen opened #78 "Copy for Training/ Atlassian Jira Administration"

[2015-11-26 10:43] monaslarsen opened #79 "Copy for Training/ Docker Training for Administrators and Operations"

[2015-11-26 10:44] monaslarsen opened #80 "Training/ Introduction to Docker"

[2015-11-26 10:44] monaslarsen opened #81 "Copy for Training/ Mastering CoDe with Jenkins"

[2015-11-26 10:45] monaslarsen opened #82 "Copy for Training/ Mastering git"

[2015-11-26 10:46] monaslarsen opened #83 "Copy for Training/ Git Bootcamp"

[2015-11-26 10:47] monaslarsen opened #84 "Copy for About/ People"

[2015-11-26 10:48] monaslarsen opened #85 "Copy for About/ Jobs"

[2015-11-26 10:48] monaslarsen opened #86 "Copy for About/ Offices"

[2015-11-26 10:48] monaslarsen opened #87 "Copy for About/ Partners"

[2015-11-26 13:12] monaslarsen opened #88 "Caption is too large"
![image](https://cloud.githubusercontent.com/assets/13627068/11423752/66020336-9447-11e5-8a0f-2dab0d5b3c65.png)

The Caption text on the training page is too large.

[2015-11-26 13:12] monaslarsen commented on #88
@lakruzz do you agree?

[2015-11-27 11:45] lakruzz commented on #87
Duplicate of #66

[2015-11-27 11:45] #87 closed

[2015-11-27 13:54] monaslarsen opened #89 "Create markdown files of blog posts from old praqma.com"

[2015-12-14 10:19] lakruzz commented on #69
We need a page with the same purpose as http://www.praqma.com/Customers

And we need the info that generates it to be editable from the yaml file

[2015-12-15 10:39] monaslarsen opened #90 "Adjust sizes of headline levels"
Right now, level 3 headlines are bigger than level 2 headlines

[2015-12-15 18:20] illus0r commented on #69
@lakruzz On the other pages menu is on the left. I'll do the same here. However, if you want to move it right, I'll do it easily.

[2015-12-15 18:29] illus0r commented on #69
@lakruzz should I use client logo list from praqma.com?

[2015-12-15 19:07] illus0r commented on #70
@lakruzz
what's difference from #69?

[2015-12-15 19:49] lakruzz commented on #70
one is partners, another is customers...

[2015-12-16 14:54] monaslarsen commented on #55
duplicate of #82

[2015-12-16 14:54] #55 closed

[2015-12-18 10:15] monaslarsen opened #91 "Write copy for Jenkins plug-in development"

[2015-12-22 14:16] lakruzz commented on #62
I Like option ![option 2](https://cloud.githubusercontent.com/assets/797993/11269067/ce811adc-8ec5-11e5-8672-4db3fb922dee.png) better

[2015-12-22 14:21] lakruzz opened #92 "404s will have to be redirected"
We have a lot of organic SEO build up that goes to the current www.praqma.com.

I have added a [`redirects.yml`](https://github.com/Praqma/praqma.github.io/blob/master/_data/redirects.yml)  file to `_data` and I would like that to redirect to new locations.

[2015-12-23 10:18] lakruzz commented on #75
This one should be the "Praqma Support Plan" instead of the SLA.

@meekrosoft  will you take this? and consider to keep @adamhenriques in the loop, he sent a mail to intaractcrm (dec 22nd, copied to info@praqma.com) containing:

Well put Adam :+1:

Llet's make this Consistent. @les-praqma is working on the contractual draft, so he might be a play too.

[2015-12-23 10:23] lakruzz opened #93 "Give a hand with the training"
@meekrosoft, can you give @monaslarsen a hand/review on her training pages:

- [ ] #78 Jira administration
- [ ] #79 Docker admins
- [ ] #80 Docker intro
- [ ] #81 Mastering CoDe with Jenkins
- [ ] #82 Mastering git
- [ ] #83 Git bootcamp
- [ ] #91 Jenkins plugin development

and consider if there is anything else we need in the MVP.

We need the presentations to be consistent and homogeneous: sam

[2015-12-23 10:28] lakruzz commented on #93
Hmmm seems like #91 is a training description too?

[2015-12-23 16:17] lakruzz commented on #92
I have created a `404.md` as documented [here on GitHub](https://help.github.com/articles/custom-404-pages/)  that works.

Now we need to make that 404 do something smart.

[2015-12-23 16:21] lakruzz commented on #92
Found this guy's blog on the topic: http://haacked.com/archive/2015/07/28/github-pages-redirect-handling/

and are not testing the https://help.github.com/articles/redirects-on-github-pages/ plugin, which should be supported by GitHub pages

[2015-12-23 16:23] lakruzz commented on #92
https://github.com/jekyll/jekyll-redirect-from

[2015-12-23 17:01] illus0r commented on #69
I've finished collecting logos (asked a freelancer to help me finding bigger logos from http://www.praqma.com/Customers list)
And have put some styles on. I'm already out of a timebox, but I need time for a side menu. I know, that's not good, but I forgot about this part of task :grimacing:

[2015-12-23 17:07] #92 closed

[2015-12-23 17:19] lakruzz commented on #92
I have made a redirect in our DNS from 404.praqma.com to new.praqma.com which means that we can test the redirects live.

Example:

http://www.praqma.com/services/health should point to http://new.praqma.com/services/assessments/

Go to the file in our repo and add the `redirect_from` in the frontmatter

    redirect_from:
      - /services/health/

To test it simply imagine that the site was 404

[2015-12-24 11:43] illus0r commented on #69
@lakruzz now it's like this
![image](https://cloud.githubusercontent.com/assets/797993/11994241/1a5ca61e-aa4c-11e5-96ca-b31aaa2b97e4.png)

[2015-12-24 11:43] illus0r commented on #69
Can we close?

[2015-12-24 13:56] illus0r opened #94 "Style a partners page"
subtask of #70

[2015-12-25 09:44] lakruzz opened #95 "Add redirects from the old site"
Everything on the old web should point to _something_. Look st our googe analytics, and make sure that st leas everything that is browsed within the last month is tsken care of

[2015-12-25 09:47] lakruzz opened #96 "Style our 404 page"

[2015-12-25 10:02] lakruzz opened #97 "Blog posts: All tags should work"
Currently only some of the tags in blogs are clickable, and tag pages must be manually generated.

All tags must work automatically.

I had had this  working in an early version on code-maturity using cgi and js.

[2015-12-25 10:11] lakruzz opened #98 "Add Google analytics to header"
...don't enable this before were ready to change the CNAME

[2016-01-04 08:46] hoeghh opened #99 "Aarhus adress is wrong"
On the footer and under http://new.praqma.com/about/offices/ the adress for Aarhus is still in Nørre Allé. We moved to Incuba.

It should look like this now :

Praqma Aarhus
Incuba science park
Åbogade 15
8200 Århus N

[2016-01-04 12:06] illus0r commented on #98
@lakruzz
I've taken this code from the old site's source. After switching CNAME I'll try if it works
[code]

[2016-01-04 12:17] illus0r commented on #70
to be styled in #94

[2016-01-04 12:17] #70 closed

[2016-01-04 13:00] lakruzz commented on #98
Hold your horses!!!

Have a look at how https://github.com/josra/josra.github.io/blob/master/_includes/head.html includes [googleanalytics.js](https://github.com/josra/josra.github.io/blob/master/javascripts/googleanalytics.js)

You just need to copy the script and change:

    - ga('create', 'UA-52125577-1', 'josra.org');
    + ga('create', 'UA-33979353-1', 'praqma.com');

:-)

[2016-01-04 13:34] #94 closed

[2016-01-05 14:10] illus0r commented on #90
Came up with this. Looks pretty good on all pages excepting this one

![image](https://cloud.githubusercontent.com/assets/797993/12117030/f87c94c8-b3ce-11e5-805f-62c9579b127c.png)

[2016-01-05 14:19] illus0r commented on #97
@lakruzz
So I'm going to implement your previous solution. I'll use a single page with a `js` driven filtering.

[2016-01-05 14:31] illus0r commented on #97
I'll use `window.location.hash` and make urls like `http://localhost:3000/blog/#newest`

[2016-01-05 14:32] illus0r commented on #97
I'll take 4 hours for timebox and let you know the result

[2016-01-05 15:05] illus0r commented on #59
@lakruzz
Looks like this

![image](https://cloud.githubusercontent.com/assets/797993/12118223/47baaf14-b3d6-11e5-81b4-0f7afcc250d6.png)

[2016-01-05 15:07] illus0r commented on #59
On mobile the menu goes after the main content

![image](https://cloud.githubusercontent.com/assets/797993/12118354/0ef875c0-b3d7-11e5-801b-d06877eb5189.png)

[2016-01-08 07:40] lakruzz commented on #90
looking fine - I'm closing it.

[2016-01-08 07:40] #90 closed

[2016-01-08 07:43] lakruzz commented on #69
Looks fine, I'm closing it :+1:

[2016-01-08 07:43] #69 closed

[2016-01-08 07:44] lakruzz commented on #59
Very nice - I'm closing :+1:

[2016-01-08 07:44] #59 closed

[2016-01-08 08:58] lakruzz commented on #88
Ivan we need to beautify the use of fonts in general.

- [ ] The caption should be same size as body text - only in difference is that it should  be bold-face.
- [ ] On the blog posts, the body text is grey - i think it's too light

![image](https://cloud.githubusercontent.com/assets/155492/12194188/45a24c9a-b5ee-11e5-8929-c1294e1506f8.png)

[2016-01-08 08:59] lakruzz commented on #97
Hi @illus0r what's status on this one? Is it still labeled work in progress?

[2016-01-08 09:01] lakruzz commented on #99
@illus0r please estimate this one - I assume it's small! - Right?

[2016-01-08 09:02] lakruzz commented on #88
@illus0r please estimate this one - I assume it's small! right?

[2016-01-08 09:14] lakruzz commented on #64
@illus0r it seems to me that this one is a duplicate of #63, cant we jus close it?

[2016-01-08 09:19] lakruzz opened #100 "Icon images for all training classes"
![image](https://cloud.githubusercontent.com/assets/155492/12194495/c9842be4-b5f0-11e5-8eb1-38062639f2ba.png)

All icons for training classes should be recognizable in the same format and that should all be different (each class has it's own icon).

- [ ] Define some guidelines (e.g)
  * Size
  * Transparent background
  * Unmasked to the boarder
- [ ]  Create a file called `_styleguide.md` and pu

[2016-01-08 09:24] lakruzz commented on #100
@illus0r I've assigned this task to @monaslarsen , but if you have any viewpoints or demands on the size or proportions of the images used, then please not them here

[2016-01-08 09:26] lakruzz commented on #100
@monaslarsen start by estimating the task (cases aren't workable unless they have both priority and estimate) - It's the assignee who sets the estimate

[2016-01-08 10:53] lakruzz commented on #43
we have specific issues for each training class now

[2016-01-08 10:53] #43 closed

[2016-01-08 11:46] lakruzz commented on #89
![image](https://cloud.githubusercontent.com/assets/155492/12197253/ca5ef46c-b605-11e5-9997-75e08585ce03.png)

[2016-01-08 12:13] illus0r commented on #97
@lakruzz i spent few time on work last days, I want to speed up now. I've looked for a ready plugin for implementing this task, tryed [Isotope](http://isotope.metafizzy.co/), but it brings a lot of unnecessary stuff like *masonry* and + 5 other libraries.

So I decided to write `js` myself.

But I just thought about finding and customizing your ready script

[2016-01-08 13:02] illus0r commented on #99
@lakruzz precisely!

[2016-01-08 13:08] lakruzz commented on #85
@buep has written a short draft for a part time student employee to manage our IT at all sites, please share with @meekrosoft and let's get this online too

[2016-01-08 13:08] illus0r commented on #88
Why not to make blog text `#333333`?

![image](https://cloud.githubusercontent.com/assets/797993/12198547/116bc9a4-b622-11e5-96c5-1d03809d79b6.png)

[2016-01-08 13:19] illus0r commented on #63
@lakruzz what do you like in mockup? It's not clear to me for now, how to keep square form and put the labels into squares and to keep them legible. May be I'm solving an unnecessary task and you'll correct my task vision.

Hmm, we can show labels on mouse hover thought. But not for iPads.

![img](https://cloud.githubusercontent.com/assets/155492/11184155/5cbc0048-8c76-11e5-8b85-3f23c0328ec5.png)

[2016-01-08 14:43] buep commented on #85
@meekrosoft find my draft here: https://docs.google.com/document/d/1xQxlTmULYcEUnI9P1Aa8guiw4g2JNjqp49kiZ9WxEmM/edit

Shared with Praqma org.

Let me know when we are ready... input on the announcement is very welcome... think it was hard to write actually.

[2016-01-08 17:13] lakruzz opened #101 "Create site map for the old site"
Create a site map for the current www.praqma.com and mark which pages should be redirected

[2016-01-08 17:15] lakruzz opened #102 "Create site map for the new site"

[2016-01-08 17:34] lakruzz commented on #102
found https://www.xml-sitemaps.com
 which generated:
[new.praqma.com-urllist.txt](https://github.com/Praqma/praqma.github.io/files/83037/new.praqma.com-urllist.txt)

[2016-01-08 17:35] lakruzz commented on #101
Used https://www.xml-sitemaps.com to generate
[www.praqma.com-urllist.txt](https://github.com/Praqma/praqma.github.io/files/83042/www.praqma.com-urllist.txt)

[2016-01-08 18:22] lakruzz commented on #102
- [ ] / | /index.html
  - [ ] /services/
    - [ ] /services/consulting/
    - [ ] /services/assessments/
    - [ ] /services/josra/
    - [ ] /services/tool-specialists/
    - [ ] /services/code-conf/
    - [ ] /services/sla/
  - [ ] /training/
    - [ ] /training/docker-admin-ops/
    - [ ] /training/docker-intro/
    - [ ] /training/git-bootcamp/
    - [ ] /training/git-mastering/
    - [ ] /tr

[2016-01-10 17:21] lakruzz commented on #101
* [ ] /
	* [ ] /services
	* [ ] /services/2ndline
	* [ ] /services/atlassianservices
	* [ ] /services/bldconfmgr
	* [ ] /services/clearcase
	* [ ] /services/continuous-integration
	* [ ] /services/health
	* [ ] /services/inabox
	* [ ] /services/jcisupport
	* [ ] /services/opensourcesla-0
	* [ ] /services/plainvanilla
	* [ ] /services/swverification
	* [ ] /services/toolsupport
* [ ] /cases
* [ ] /

[2016-01-11 08:50] lakruzz commented on #63
I get your point.

The oragen line in the buttom is what is indicating which tile is selected.

But to begin with, could you simply make them look more like tiles, so that the border isn't just around the image, but includes the image caption

[2016-01-11 10:28] #75 closed

[2016-01-11 12:02] lakruzz commented on #88
Fine!

[2016-01-11 12:06] illus0r commented on #97
necessary improvements:
- [ ] Scroll to top after reload
- [ ] Activate tag links on post pages
- [ ] Highlight active tag links
- [ ] Handle wrong hash values

[2016-01-11 12:08] lakruzz commented on #97
Regarding handling wrong hashes, simply let the 404 page handle it

[2016-01-11 12:08] lakruzz commented on #97
Looks fine - doesn't seem that we're that for out

[2016-01-11 13:09] meekrosoft opened #103 "Create a collection for the jobs listings"
We need a collection page for the jobs listings in the about page.  It should be a sub collection in the about.

---

Complementing @meekrosoft:

@illus0r, Mike already added a handful of job postings that we want on our web. But we still only want the four original about_us pages, so we need to come up with a way of organizing these job postings under jobs.

Maybe we can publish the in the blog f

[2016-01-11 13:10] meekrosoft commented on #85
Added with commit 5757450c73e4e17f80959fb23f3c6a388e4a8f45

Would love some feedback!  Can see it here: http://new.praqma.com/about/jobs/ops-student/

[2016-01-11 13:35] buep commented on #85
I think it is perfect... nice changed you did to my draft :-)

We could maybe add a skill around good network understanding... as there will be quite some work around this. But if it scares students away... don't. I think the most important things are covered.

[2016-01-11 13:51] praqma-thi opened #104 "Review and publish Job DSL blog post"
Some time ago I wrote a blog post about working with the Jenkins Job DSL.

It needs reviewing before we can publish it.

It can be found here.
https://docs.google.com/document/d/19yzV6HnTVKwZ_VKcyFYeKLMxVA3dDQu4aG5XZYcixfU/edit#heading=h.txt81zj0tufp

[2016-01-11 14:09] #85 closed

[2016-01-11 19:18] meekrosoft commented on #66
Other than docker, who do we add?

[2016-01-11 19:19] meekrosoft commented on #66
Right now the yaml is in line in the partners.md.  Should this be moved to the yaml file in _data?

[2016-01-11 19:36] meekrosoft commented on #66
I have added docker to the page

[2016-01-11 20:19] lakruzz commented on #103
I'm marking this as a briefing, lets decide on an approach and then spawn cases off from this one.

[2016-01-11 21:12] meekrosoft opened #105 "Copy for Training"
The training collection page needs some copy

[2016-01-11 21:13] meekrosoft commented on #105
First draft added with this commit 1279448bd10c1b62d527448b7b1e023827091c51

[2016-01-12 11:08] lakruzz commented on #100
@monaslarsen Are you working on this one ?

[2016-01-12 11:11] lakruzz commented on #101
I'll ignore all the tag-pages

[2016-01-12 11:12] monaslarsen commented on #100
Not yet, sorry, just finishing the urgent DOD presentation for potential sponsors. But this issue is my next top prio

[2016-01-12 11:31] lakruzz opened #106 "Add spec shell case story"
The case story at http://www.praqma.com/events/specshell needs to be added as a blog post, tagged with `customer-case`

[2016-01-12 11:34] lakruzz opened #107 "Add Grundfos case story"
Take the content of http://www.praqma.com/cases/grundfos into a blog post and tag it with `customer-case`

[2016-01-12 11:36] lakruzz opened #108 "Add Visual reporting customer case"
Take content of http://www.praqma.com/events/visualreporting to a blog post and tag is as `customer-case`

[2016-01-12 11:38] lakruzz opened #109 "Add Nordea customer case"
Take content of
http://www.praqma.com/events/jiratraining to a blog post and tag it with `customer-case`

[2016-01-12 11:40] lakruzz opened #110 "Add Yxlon customer case"
Take contetn from http://www.praqma.com/cases/yxlon and create a blog - tag it with `customer-case`

[2016-01-12 11:42] lakruzz opened #111 "Add Atmel customer case"
take content from http://www.praqma.com/cases/atmel and create a blog post, tag it with `customer-case`

[2016-01-12 11:44] lakruzz opened #112 "Create a customer case tag page"

[2016-01-12 11:45] lakruzz commented on #112
related to #106, #107, #108, #109, #110 and #111

[2016-01-12 12:57] lakruzz opened #113 "Menu entry for customer cases"
We don't have a menu entry for customer cases anywhere - should n't we have that? Or should we just put it on the customer page?

I thing Ill do that

[2016-01-12 12:58] lakruzz commented on #113
I'll fix it in #65

[2016-01-12 12:58] #113 closed

[2016-01-12 12:58] #111 closed

[2016-01-12 12:59] lakruzz commented on #112
I fixed it, but then @illus0r  implemented a new approach to tags!

Now it's related to #65 and #113 instead

[2016-01-12 14:42] #65 closed

[2016-01-12 17:16] lakruzz commented on #112
closed with 577ccf8

[2016-01-12 17:16] #112 closed

[2016-01-12 17:32] #66 closed

[2016-01-12 17:32] #105 closed

[2016-01-12 17:34] #110 closed

[2016-01-12 17:47] lakruzz commented on #109
closed with b4bb05d

[2016-01-12 17:47] #109 closed

[2016-01-12 18:03] #107 closed

[2016-01-12 18:14] lakruzz commented on #105
Ooops the last commit to this case was misplaced! #106

[2016-01-12 18:14] lakruzz commented on #106
close with 803830a

[2016-01-12 18:14] #106 closed

[2016-01-12 18:20] illus0r commented on #97
@lakruzz pushed and testable on http://new.praqma.com/
didn't implement *Sort tag list alphabetically*, I'll make it a separate task

[2016-01-12 18:21] illus0r opened #114 "Sort blog tag list alphabetically"
![image](https://cloud.githubusercontent.com/assets/797993/12272634/9442a3a4-b972-11e5-92ee-bc70f42b4344.png)
 subtask of #97

[2016-01-12 18:22] #108 closed

[2016-01-12 18:24] #97 closed

[2016-01-12 19:30] illus0r opened #115 "Style traning details"
![image](https://cloud.githubusercontent.com/assets/797993/12274431/fab28376-b97b-11e5-8183-1fd62eafa202.png)

[2016-01-12 23:23] lakruzz commented on #101
Using [google analytics](https://analytics.google.com/analytics/web/#report/content-pages/a33979353w61397473p62870669/%3Fexplorer-table.plotKeys%3D%5B%5D%26explorer-table.rowStart%3D0%26explorer-table.rowCount%3D100/) to determine which pages are important to have redirects from.

[2016-01-13 08:49] #80 closed

[2016-01-13 08:49] #79 closed

[2016-01-13 08:49] #93 closed

[2016-01-13 08:49] #91 closed

[2016-01-13 08:49] #83 closed

[2016-01-13 08:49] #82 closed

[2016-01-13 08:49] #81 closed

[2016-01-13 08:49] #78 closed

[2016-01-13 10:05] #99 closed

[2016-01-13 10:10] lakruzz opened #116 "Rename blogs to stories"

[2016-01-13 11:25] #62 closed

[2016-01-13 13:06] illus0r opened #117 "Fix bug with `margin-bottom` of h2"
You can see, "ONE DAY INTENSIVE HANDS-ON TRAINING" and "GET SOLID UNDERSTANDING" has different margins at the bottom. In fact they have `margin-bottom: 0;`. I need to fix it and check all the pages to find and fix regressions.

![image](https://cloud.githubusercontent.com/assets/797993/12294982/35ace5c8-ba0f-11e5-83bc-daf1ba82db4c.png)

[2016-01-13 13:13] monaslarsen opened #118 "Finish frontpage of new.praqma"
- [ ] Decide on the four stories that shall be on the cover
- [ ] Find suitable pics for each

Front page is controlled by the content of:
https://github.com/Praqma/praqma.github.io/blob/master/_data/front.yml

[2016-01-13 13:16] illus0r commented on #63
@lakruzz I'm not satisfied with current result, but decided to publish to get feedback.
Works on different sizes. Some tiles should have more crispy edges when active
![image](https://cloud.githubusercontent.com/assets/797993/12295252/f26c5738-ba10-11e5-951c-9682038f57ee.png)

[2016-01-13 13:17] illus0r commented on #63
ouch, I've commited with `#62` in comment.

[2016-01-13 13:50] lakruzz commented on #117
It's the list - isn't it! - If it was a paragraph it would render differently.

[2016-01-13 13:54] lakruzz commented on #117
Paragraphs has:

[code]
 (top AND bottom), `<UL>` doesn't,

It's not the `<h2>` that's the problem, it's the `<P>``

[2016-01-13 13:55] lakruzz commented on #117
- [ ] Paragraphs should not have top margin, only bottom margin

[2016-01-13 19:58] meekrosoft opened #119 "Call to action on every services page"
We need a call to action - link to contact form, newsletter subscription, conference link on every main page

[2016-01-13 20:12] #73 closed

[2016-01-13 21:18] lakruzz opened #120 "Add picture support in pages"
Styles!

[2016-01-13 21:24] #71 closed

[2016-01-13 21:24] #120 closed

[2016-01-14 11:22] #64 closed

[2016-01-14 11:35] illus0r commented on #117
@lakruzz hold on :) We need this margin! If you at some point don't want to touch `h2`'s margins, we should add vertical margins to `ul`s.

All `h`s but not `h2` have bottom margins. I see no problems with unifying all `h`'s margins to prevent unexpected behavior in the future.

[2016-01-14 11:41] illus0r commented on #102
Now that

  - [ ] /blog/
    - [ ] /blog/tag/newest/
    - [ ] /blog/tag/jenkins/
    - [ ] /blog/tag/markdown/
    - [ ] /blog/employees/

Should be changed with something like

  - [ ] /blog/
    - [ ] /blog/#Newest
    - [ ] /blog/#Jenkins
    - [ ] /blog/#Markdown
    - [ ] /blog/#Employees

and so on

[2016-01-14 11:53] #88 closed

[2016-01-14 12:59] illus0r commented on #51
@lakruzz please, have a look how it looks like on your macbook. I've aligned it on iPad, more testing needed. Throw me a screenshot if any problems.

[2016-01-14 13:21] illus0r commented on #103
Reorganizing your job posts is definitely a good idea :) I like first two approaches: referring to blog posts and adding new collection. First one looks nicer to me.

## Linking to job blog posts
cons:

* we may want to reproduce the look of blog index on `/about/jobs/`, it'll cause code duplication. But I can make a simple mockup - just text links to posts, that'll be the simplest solution.

## A

[2016-01-14 13:25] illus0r commented on #103
@lakruzz can I start withing this task? Size is `medium`

[2016-01-14 13:28] illus0r commented on #98
@lakruzz can I finally wrap this up?

[2016-01-14 14:13] lakruzz commented on #98
Put the js in place but comment it out, and put a TODO in the comment, I'll make it active when i change the DNS and CNAME in the final push :🎉

[2016-01-14 14:17] lakruzz commented on #103
I'm ok with both 1 and 2. I know @meekrosoft is in favor of 2. So let's give the man what he wants!

Make a three level deep nested collection!

[2016-01-14 14:32] illus0r commented on #103
@lakruzz oops, I've accidentally implemented first solution before your comment. You can have a look at http://new.praqma.com/about/jobs/
Second solution seamed less usable to me.

But I still can redo the task with another

[2016-01-14 14:33] lakruzz commented on #51
closed with 5ba0e0c :+1:

[2016-01-14 14:33] #51 closed

[2016-01-14 14:48] lakruzz commented on #63
I think we'll wrap it up for now.

give @monaslarsen and @meekrosoft a chance to comment, and if they don't object, let's ship tis for the MVP

[2016-01-14 15:50] lakruzz opened #121 "Menu is not updating"
The Home menu item stays active even when I click on another page:

![image](https://cloud.githubusercontent.com/assets/155492/12329150/35b8561c-badf-11e5-907b-75b75fa4d79f.png)

![image](https://cloud.githubusercontent.com/assets/155492/12329162/3ca2cf70-badf-11e5-88de-26ae21b43f78.png)

Only when i go to a sub page (e.g. /stories/employees/) is it corret updated:

![image](https://cloud.githubus

[2016-01-14 15:50] #116 closed

[2016-01-14 16:58] illus0r commented on #121
@lakruzz wow! Looks funny on screenshots. But I didn't manage to reproduce it on http://new.praqma.com/

[2016-01-14 19:13] #86 closed

[2016-01-14 21:27] #74 closed

[2016-01-15 00:00] lakruzz opened #122 "tags that contains white spaces are not supported."
continuous delivery
Atlassian Jira

...etc

[2016-01-15 08:18] #76 closed

[2016-01-15 08:33] lakruzz commented on #117
@illus0r: Right I agree on H's should be the same.

I meant the `<P>`...it shouldn't have any margin at the top - _only at the bottom_.

[2016-01-15 08:35] lakruzz commented on #103
@illus0r @meekrosoft Good enoug for MVP, But probably not for going forward.

Let's leave it for now - Mike, are you OK with that?

[2016-01-15 08:37] lakruzz commented on #121
Me neither - actually!

But running locally ...hmmm?

[2016-01-15 09:18] meekrosoft commented on #103
Yup, perfect is the enemy of done!

On Fri, Jan 15, 2016 at 9:35 AM, Lars Kruse <notifications@github.com>
wrote:

[2016-01-15 19:22] #72 closed

[2016-01-18 08:06] #103 closed

[2016-01-18 08:07] #122 closed

[2016-01-18 08:08] lakruzz commented on #121
Cant reproduce!

[2016-01-18 08:08] #121 closed

[2016-01-18 08:10] lakruzz commented on #118
This now seems to be the show stopper, apart from the front page, we're pretty much ready to go live - let's have a dialog about this one:

W need 4 stories to put on the front - any suggestions?

@meekrosoft @monaslarsen

[2016-01-18 08:11] #63 closed

[2016-01-18 08:12] lakruzz commented on #60
Duplicate of #63

[2016-01-18 08:12] #60 closed

[2016-01-18 08:35] lakruzz opened #123 "Move the Jenkinsfavs story to the new web"
take this one http://www.praqma.com/stories/jenkins-favs to a post in the `_posts` dir

make sure to add a redirect in the front-matter:

[code]

Hmmm or even better - just simply name the markdown `jenkins-favs` ...that should do it :-)

[2016-01-18 13:01] illus0r commented on #96
@lakruzz
I'm going to

* [ ] Change text to help a visitor to find a page he need.
* [ ] Add a search form to google through the site.

[2016-01-18 13:39] illus0r commented on #96
@lakruzz, text may require some improvement. I tried not to leave your potential client face to face with a problem, but suggest a solution.

![image](https://cloud.githubusercontent.com/assets/797993/12392678/bf0d8700-be01-11e5-9350-d25e63282984.png)

[2016-01-18 15:01] lakruzz opened #124 "posts needs a polish"
In responsive mode (small screen) both the subscription box and the tags box are displayed before the actual post - that doesn't work well on a phone.

Also the addresses in the footer take up more space than that actual content - this is not optimal. find a solution that works.

It needs to look nice!

The blog avatar is shown at the bottom of the page in full width. The pic was designed to be an

[2016-01-18 15:13] lakruzz commented on #96
Fine

- [ ] Please refer to the blog as "stories" instead (Blog is not used anywhere anymore)
- [ ] _Serach_ should be spelled __Search__

[2016-01-18 15:15] #84 closed

[2016-01-18 15:28] lakruzz commented on #118
@monaslarsen

Mona can you fill in a bit of update on this issue?

- [ ] Have you chosen 4 stories?
- [ ] Have you chosen the pic's to match it?

What's the status?

[2016-01-18 15:41] praqma-thi opened #125 "'large' images overlap side menu"
### Issue & How to reproduce
Applying `{: .pic .large .center}` to images in blog posts causes them to possibly overlap the side menu.

I pushed a branch called `jenkins-favorites` containing a WIP blog post (stories/top-jenkins-plugins/).
I marked two images with `{: .pic .large .center}`, the larger of the two overlaps with the side menu.

We probably want the size of images in blog posts to be

[2016-01-18 16:10] illus0r commented on #125
Similar things happens on ​*traning pages*​ on mobile, I will fix as well

[2016-01-18 16:41] #125 closed

[2016-01-18 16:46] #96 closed

[2016-01-18 16:59] illus0r commented on #124
yep, they look stupid. I'll remove them, I think, that's the best solution :)

[2016-01-18 18:50] monaslarsen commented on #118
Hey @lakruzz

I have chosen the content I find relevant, added images and adjacent links.

I would like some help tomorrow on how to tame ribbon sizes and image sizes

[2016-01-18 21:22] lakruzz opened #126 "Make the old Drupal site reply on was.www.praqma.com"
I have made the DNS CNAME setting `was.www.praqma.com` -> `gateway.praqma.com``

Which matches the setting for `www.praqma.com`

But when I browse to http://was.www.praqma.com I get a 404 from the Apache server.

I need to have the Apache server on gateway.praqma.com (and maybe also Drupal itself) accept the header and reply to that request.

Anyone with Apache/Drupal experience know how to accomp

[2016-01-19 08:23] lakruzz commented on #100
![image](https://cloud.githubusercontent.com/assets/155492/12413170/35e8bada-be8d-11e5-899d-8caaef51cdcc.png)
ics for training

- [ ] The pic is 1130x1124 it's 2.5 MB. it's far too big to use as a icon - it simply takes too long to load.  Use pictures that are more lightweight
- [ ] The pictures should be more alike - some are icons, some are pictures, that's a mess - Describe a set of guidelines

[2016-01-19 12:28] praqma-thi commented on #123
Available on http://new.praqma.com/stories/top-jenkins-plugins/
Added Job DSL and Green Balls, dropped Additional Users plugin (topped out at 100 installs).
Organized the plugins on scope (server, pipeline, job) and added an overview with clickable links to make post navigation easier.

[2016-01-19 12:29] #123 closed

[2016-01-19 14:43] #104 closed

[2016-01-19 15:18] #118 closed

[2016-01-19 16:16] monaslarsen opened #127 "Customize headlines and correct external links"

[2016-01-19 16:18] monaslarsen commented on #127
Make all texts on frontpage around 140 characters

[2016-01-19 16:25] illus0r commented on #124
* [ ] Also the addresses in the footer take up more space than that actual content - this is not optimal. find a solution that works.

* [ ] The blog avatar is shown at the bottom of the page in full width. The pic was designed to be an avatar - it was never supposed to go that large. Either show it in a small formate, with text wrapping it in the top - or don't show it at all.

@lakruzz So you wa

[2016-01-19 16:37] lakruzz commented on #124
No - I don't think I want the addresses at the bottom when we're in small screen mode - just hide it - it's a MVP - right :-)

[2016-01-19 16:44] illus0r commented on #124
@lakruzz wow, good. I like your method :) I'll hide them soon.

[2016-01-19 16:45] illus0r commented on #124
Is that still relevant task?

[2016-01-20 10:49] lakruzz commented on #124
@illus0r

Yep it's relevant.
we have a problem with the subscription list box and the and the tags/search box.

In small screen mode the show before the content and the tag list is really loooong -  and it will only grow longer.

I doesn't work!

Do you have any suggestions on a solution your self? otherwise I suggest:

The subscription box, should go below content, in small screen mode.

The tag

[2016-01-20 11:18] lakruzz opened #128 "Avatar in right panel of stories"

[2016-01-20 11:21] lakruzz commented on #128
@illus0r - that shouldn't be too hard - should it :-)

[2016-01-20 11:22] lakruzz commented on #128
In small screen layout the avartar could either be hidden - or shown in the top - what do you think?

[2016-01-20 13:14] monaslarsen opened #129 "Change help text on front page"

[2016-01-20 14:01] #129 closed

[2016-01-20 14:56] lakruzz opened #130 "MVP minor prettyfications"
Small proof reading changes, and prettyfications that needs to go somewhere.

Commit against this issue. - don't close it - It will be reused.

[2016-01-20 14:57] lakruzz commented on #124
Hi @illus0r

I made a small hack - maybe you wanna review/improve? 6b1b1a7

[2016-01-20 14:58] lakruzz commented on #124
...Still need to make it look good on sm

[2016-01-20 15:04] #95 closed

[2016-01-20 15:11] lakruzz opened #131 "Create new google analytics to track OLD site"
Created property ID `UA-33979353-4` for was.www.praqma.com and changed the configuration in our Drupal site setup

[2016-01-20 15:13] #131 closed

[2016-01-20 15:18] #98 closed

[2016-01-20 15:19] lakruzz commented on #128
closed in 6b1b1a7 but referring to #124 which will be reviewed by @illus0r

[2016-01-20 15:19] #128 closed

[2016-01-20 15:22] #77 closed

[2016-01-20 15:23] #102 closed

[2016-01-20 15:25] lakruzz commented on #126
@wolfie

I  added the following to `/etc/apache2/httpd.conf`

[code]

and restarted the service:

[code]

[2016-01-20 15:25] #126 closed

[2016-01-20 15:26] lakruzz commented on #89
This is an ongoing process - Ill close this on in the context of MVP and we can create new ones as we go forward - we will have to monitor google analytics

[2016-01-20 15:26] #89 closed

[2016-01-20 15:27] lakruzz commented on #100
Moving this out of the MVP milestone - we're not done, bot in OK shape for MVP

[2016-01-20 15:31] lakruzz commented on #101
Moving this issue to the "workable" milestone - We're not done yet, but in OK shape for MVP

[2016-01-20 15:32] lakruzz commented on #124
We need to look at this, stilll, But I'm moving the issue out of the MVP milestone and into `workable` We'er in OK shape to go live

[2016-01-20 15:33] lakruzz opened #132 "Change the DNS setting - GO LIVE!!!"

[2016-01-20 15:34] lakruzz commented on #130
Taking this to the `workable` milestone - the MVP is taking off!

[2016-01-20 15:36] monaslarsen commented on #127
closed with 282c0ce

[2016-01-20 15:37] #127 closed

[2016-01-20 15:49] #132 closed

[2016-01-20 15:53] wolfie commented on #126
I have a feeling that you didn't mean to mention me here :)

[2016-01-20 15:56] lakruzz commented on #126
Hi @wolfie!

_he he_

Wolfie is our server - I used @ in the litterate meaning "at" Wolfie ...

You're dismissed :+1:

[2016-01-20 15:58] lakruzz commented on #132
@meekrosoft @monaslarsen @illus0r @praqma-thi The DNS is updated, The CNAME file is changed and pushed - we're just waiting fro the DNS server to replicate!!!! -

Max 4 hrs!

:+1:

[2016-01-20 15:59] wolfie commented on #126
:D Thank you.

Nevertheless, it was nice to meet you @lakruzz , and remember to avoid working too late today. Maybe have mid-week beer, while remembering this funny occurrence!

[2016-01-20 16:58] illus0r commented on #124
![image](https://cloud.githubusercontent.com/assets/797993/12456011/16f2530c-bfaf-11e5-98c4-09c3f6adc6ed.png)

Yep, I saw the post avatar has found his new place on the right sidebar. As you said it looks weird on mobile, it can be a good idea to move it to another place or just to hide on smartphones

@lakruzz, I'll do some paper sketches then.

* [ ] make a new post layout
   * [ ] find a place

[2016-01-20 16:58] buep opened #133 "Bues test stories"
![screenshot from 2016-01-20 17 57 30](https://cloud.githubusercontent.com/assets/1579826/12456282/6145fce8-bf9f-11e5-955e-989ba15b2da4.png)

[2016-01-20 16:59] buep opened #134 "Tags with white spaces don't work"
Under stories, selection Atlassian Jira tag.
![screenshot from 2016-01-20 17 58 56](https://cloud.githubusercontent.com/assets/1579826/12456338/93d79608-bf9f-11e5-9539-cd21b917db62.png)

[2016-01-20 17:02] buep opened #135 "Training image for docker loads to slow (too big?)"
![screenshot from 2016-01-20 18 00 34](https://cloud.githubusercontent.com/assets/1579826/12456420/fd7204d6-bf9f-11e5-8847-b2a037d07d86.png)

[2016-01-20 17:04] buep opened #136 "Sample post should be removed"
![screenshot from 2016-01-20 18 04 04](https://cloud.githubusercontent.com/assets/1579826/12456461/3c08f5ec-bfa0-11e5-96e7-de1c3f552c80.png)

[2016-01-20 17:05] buep commented on #134
Others of the search list items do not work either... like Warning pluign

[2016-01-20 17:09] illus0r commented on #124
@lakruzz which brunch to use for development? Not master, I guess :)

[2016-01-20 17:11] illus0r commented on #124
and let me know if our cozy `git deliver` process had changed

[2016-01-20 17:14] buep opened #137 "Validate avatar pics on posts"
Original title was: Why a 4x3 image on many stories?

![screenshot from 2016-01-20 18 13 50](https://cloud.githubusercontent.com/assets/1579826/12456774/9df1b2e8-bfa1-11e5-830a-39cb4784dbe5.png)

[2016-01-20 17:22] Andrey9kin opened #138 "Too big picture (the one from Day of Docker)"
<img width="1440" alt="screen shot 2016-01-20 at 18 20 07" src="https://cloud.githubusercontent.com/assets/1671664/12456988/96977a5e-bfa2-11e5-93b5-3c502c42aff4.png">

[2016-01-20 18:25] buep commented on #138
See also #135 - maybe someone should write little test checking image size is reasonable upon delivery?

[2016-01-20 18:28] buep opened #139 "They can't all be partners"
![screenshot from 2016-01-20 19 27 35](https://cloud.githubusercontent.com/assets/1579826/12458830/0540346a-bfac-11e5-9124-ff7f4ded7d59.png)

[2016-01-20 18:33] buep opened #140 "Can't click on heading - I like that"
Firefox on Linux.

Most other places on our website, one can click both the image and heading

![screenshot from 2016-01-20 19 31 15](https://cloud.githubusercontent.com/assets/1579826/12458956/90585a78-bfac-11e5-9597-e4e6cd93512c.png)

[2016-01-20 18:34] Andrey9kin commented on #138
Good point

[2016-01-20 18:37] buep opened #141 "Floating box annoying (matter of taste)"
Personally I really hate such floating boxes following my page around. Distract me, and hides content I like to see.

If you scroll to the bottom of the page, you are even not sure if it is hiding the last piece of information (eg. phone number for our Stockholm office).

![screenshot from 2016-01-20 19 35 45](https://cloud.githubusercontent.com/assets/1579826/12459090/45c5961e-bfad-11e5-8875-a550

[2016-01-20 18:38] buep commented on #141
![screenshot from 2016-01-20 19 38 17](https://cloud.githubusercontent.com/assets/1579826/12459113/604a86c0-bfad-11e5-8ab4-4fa8d9f033fe.png)

Do it hide something? I can't tell

[2016-01-20 18:42] buep opened #142 "Why is telefone number a link?"
![screenshot from 2016-01-20 19 41 22](https://cloud.githubusercontent.com/assets/1579826/12459213/d5552e2a-bfad-11e5-9c4c-786967294ed9.png)

Failing to click it of course...

![screenshot from 2016-01-20 19 38 17](https://cloud.githubusercontent.com/assets/1579826/12459221/de5e62e8-bfad-11e5-9515-5c841a78870e.png)

[2016-01-20 18:48] lakruzz commented on #142
@buep
If you're on a device that can make calls (a smart phone, or if you've registered Skype or something similar to make outgoing calls)  then the link protocol `tel:` will ...make the call :+1:

[2016-01-20 18:48] #142 closed

[2016-01-20 18:50] lakruzz commented on #139
Right:

- [ ] Update captions for the collection under /about/

[2016-01-20 18:52] lakruzz commented on #137
MVP!!!

- [ ] Go through - and validate - avatar pics on _all_ posts

[2016-01-20 18:55] lakruzz commented on #133
- [ ] Delete it

[2016-01-20 18:58] lakruzz commented on #134
Original title was: No such page, selecting http://www.praqma.com/stories/#Atlassian%20Jira

@buep: When referencing URL's don't mention them in the header, do it in either the description or a comment - they don't get marked up in the title.

[2016-01-20 19:18] lakruzz commented on #141
Agree - we should think of  fix/solution - any suggestions?

@illus0r Any ideas - you're the expert!

[2016-01-20 19:20] lakruzz opened #143 "Add pipeline verification that pic's aren't too big"
Related to #138 and #135

[2016-01-20 19:21] lakruzz commented on #135
Same issues also mentioned in #100

[2016-01-20 19:24] lakruzz commented on #138
Too big picture (the one from Day of Docker) at http://www.praqma.com/services/code-conf/

@Andrey9kin moved the URL out of the title and into either a comment or description. Titles don't get marked up

[2016-01-20 19:34] #136 closed

[2016-01-20 19:36] lakruzz commented on #133
closed with  96adafa  together with #136

[2016-01-20 19:36] #133 closed

[2016-01-20 19:42] #139 closed

[2016-01-20 19:51] #138 closed

[2016-01-20 19:54] lakruzz opened #144 "Style facts on training pages"
The facts in the bottom of the training pages shoul dbe styled better:
![image](https://cloud.githubusercontent.com/assets/155492/12461191/d70dda6e-bfb7-11e5-8c61-ddefcd47a392.png)

[2016-01-20 20:14] lakruzz opened #145 "Praqma gijeli knowledgebase presentation"
This story needs rework

- [ ] Tell it like a story
- [ ] Find a suitable avatar

https://github.com/Praqma/praqma.github.io/blob/master/_posts/2015-05-08-praqma-gijeli-knowledgebase-presentation.md

[2016-01-20 20:15] #137 closed

[2016-01-20 20:15] #135 closed

[2016-01-20 20:23] lakruzz commented on #134
This is a Firefox issue - Links work in Chrome and Safari - but not in Firefox - haven't tried IE

- [x] Chrome
- [x] Safari
- [ ] Firefox
- [ ] Internet Explorer

[2016-01-20 20:38] illus0r commented on #124
@lakruzz Suggestion for a **story index** and **post** design. All tweaks are for mobile only, they will not impact on desktop representation.

![image](https://cloud.githubusercontent.com/assets/797993/12461813/dc91ffec-bfcb-11e5-8b3d-f11217fbdde9.png) ![image](https://cloud.githubusercontent.com/assets/797993/12461856/0ceff72a-bfcc-11e5-80f2-5fa682e2c678.png)

Some tips:
* **search post by tag**

[2016-01-20 20:45] illus0r commented on #124
I'll decompose this task into smaller parts after your feedback

[2016-01-20 20:46] illus0r commented on #124
What does `Type - Implementation` mean?

[2016-01-20 21:12] buep commented on #145
No clue how this markdown file ended on our website, it originates from our pinside repository. It is never supposed to be a blog.

[2016-01-21 06:54] praqma-thi opened #146 "Filtering on story tags with spaces in them redirect to a 404 page"
Clicking on a tag to filter blog posts redirects to a 404 page when it has a space in it.
e.g. www.praqma.com/stories/#Job DSL

Happens on Firefox 43.0 (Linux)

[2016-01-21 07:35] praqma-thi opened #147 "Stories: Tag filter menu causes awkward resizing"
When resizing the window, the tag filter menu sometimes behaves rather weird and takes up a lot of space.
See below for an example.

Firefox 43.0 (Linux)

![resize](https://cloud.githubusercontent.com/assets/12794699/12474228/c68739bc-c019-11e5-8a33-29fa8b0feeb6.png)

[2016-01-21 07:46] Andrey9kin opened #148 "Stories: show newest stories by default"
At the first look stories looks outdated and only after some time I figured that I have to select newest on the right to see the recent stories.
Such way of sorting is a bit counterintuitive, at least for me.
The issue is subjective so see it more as a suggestion for improvement rather than a real issue.

[2016-01-21 08:32] lakruzz commented on #146
Duplicate of #134

[2016-01-21 08:32] #146 closed

[2016-01-21 08:33] lakruzz commented on #134
Also registered by @praqma-thi in #146

[2016-01-21 08:35] lakruzz commented on #134
@illus0r: Here's what we will do:

search and replace white spaces with dashes, both when you generate pages, and when you link to them, so that:

http://www.praqma.com/stories/#Atlassian%20Jira (firefox)
http://www.praqma.com/stories/#Atlassian Jira (chrome)

becomes:

http://www.praqma.com/stories/#Atlassian-Jira

You dig?

[2016-01-21 10:08] monaslarsen opened #149 "Write How We Work guides for all types of content"

[2016-01-21 10:11] monaslarsen commented on #149
E.g. "Minimum image requirement for stories is one avatar-image and one additional illustrative image"

[2016-01-21 10:11] meekrosoft opened #150 "Training page layout is confusing"
What do I click?  It is hard to intuit that clicking the logos is how to find more information.  I also think the 3 column layout is not a good choice.  YMMV

<img width="1105" alt="screen shot 2016-01-21 at 10 36 03" src="https://cloud.githubusercontent.com/assets/145429/12476627/f8b6a380-c02a-11e5-950f-a59b8965b52d.png">

[2016-01-21 10:12] adamhenriques opened #151 "Responsive design problem for Iphone"
There are some issues with responsiveness when accessing the page from Iphone - the main pic covers some of the text as shown below.

![img_3727](https://cloud.githubusercontent.com/assets/8004259/12477433/cda40534-c02f-11e5-832b-70bbf51ace81.PNG)

[2016-01-21 10:29] KamranAzeem opened #152 "Employees page need to be updated"
http://www.praqma.com/stories/employees/
I heard that Waqar is no longer with Praqma, but the page says he is there and working on something!

Thanks!

[2016-01-21 10:32] KamranAzeem commented on #152
Also the site gives a feel that I am watching "Sin City" Only the blood has (bright yellow) color, rest is black and white. :)

[2016-01-21 11:22] monaslarsen commented on #151
@illus0r, can you make the black banner fit inside the image in responsive design?

If not, can you let me know what the limitation are for the text I write in it?

[2016-01-21 11:33] monaslarsen commented on #147
Can you solve this without further instructions  @illus0r?

[2016-01-21 11:37] monaslarsen commented on #152
Thanks @KamranAzeem. I will change this issue to "Write a story about new employees since autumn 2014"

[2016-01-21 11:45] monaslarsen commented on #152
Write a new story to succeed the one from autumn 2014

[2016-01-21 11:55] lakruzz commented on #151
We already discussed this problem in slack: https://praqmacollaborator.slack.com/archives/web/p1453282379000002

But maybe the solution is also partly in content: The title can not span 3 lines - only two...

But we still need a bit of adjustment I think

[2016-01-21 11:57] lakruzz opened #153 "Title in main pic on front can only span 2 lines"
Related to #151

![image](https://cloud.githubusercontent.com/assets/155492/12479877/714304b6-c03e-11e5-950e-a8e7e63c0d3d.png)

[2016-01-21 11:58] lakruzz commented on #151
Work #153 before this one!

[2016-01-21 14:09] monaslarsen commented on #150
Hey @meekrosoft @adamhenriques @Andrey9kin

I have talked to Lars about changing the layout of this collection, to the design used for the "Services" collection.
Any objections or input before I ask Ivan to do it?

I

[2016-01-21 14:21] monaslarsen commented on #148
I am also open to discussing this, but as you see, the featured stories are still in chronological order - they are just selected based on their more general informative level and human touch, over the more tech oriented content.
As we ARE a tech shop, I won't object to changing to "newest" as default setting..

[2016-01-21 14:34] lakruzz opened #154 "Add pic for student job position"

[2016-01-21 14:36] #154 closed

[2016-01-21 14:46] monaslarsen commented on #42
I agree @illus0r.

How about something like this @lakruzz?

"Subscribe to our Continuous Delivery Newsletter and be in the know on all things CoDe"

"Sign up for our CoDe newsletter: News, techtalk, and the best events in your region"

[2016-01-21 14:51] monaslarsen opened #155 "Change slogan font to "Loved by the King""

[2016-01-21 15:23] #153 closed

[2016-01-21 15:24] lakruzz commented on #148
Both "Newest" and "Featured" are useful -it's really a matter of what should be default?

It can be set in the `_config.yml` (lines 9-10)

https://github.com/Praqma/praqma.github.io/blob/master/_config.yml

Lets leave it with Featured for a while and revisit this issue later.

[2016-01-21 15:43] monaslarsen opened #156 "Create "Our team" page"
Our employees ARE Praqma. I am in favor of a page with all employees represented - BW photos, collages or croquis, I'm open to suggestions.

[2016-01-21 22:00] #134 closed

[2016-01-22 11:00] illus0r commented on #151
@lakruzz Hey, I can make font smaller if there are more than one `<br>` in the ribbon text

[2016-01-22 13:11] #151 closed

[2016-01-22 13:13] illus0r commented on #147
Sure!

[2016-01-22 13:23] meekrosoft commented on #150
No objections on my side

[2016-01-22 13:32] monaslarsen commented on #150
Hey @illus0r .
Please change the layout of this collection, to the design used for the "Services" collection

[2016-01-22 14:24] adamhenriques opened #157 "Upcoming Trainings"
Can we somehow get an overview of all upcoming trainings or get dates on the courses sheduled?

[2016-01-22 14:28] adamhenriques opened #158 "Atlassian Services Landingpage"
Will we create underpages where we elaborate on services we provide e.g atlassian services and tools. The landing page http://www.praqma.com/services/atlassianservices from Atlassian.com is dead now - can we redirrect it or should we have it changed?

[2016-01-22 14:30] adamhenriques opened #159 ""Tool specialist Box" colorsheme"
The colorsheme of the Toold Specialist box is opposite of the remaining boxes - cant we have it like the other boxes?

[2016-01-22 15:09] meekrosoft commented on #157
Yes, the training landing page should have a list of the upcoming courses.

[2016-01-22 15:12] monaslarsen commented on #157
I will sketch a design that both makes the training types easier to overview AND gives a pretty calendar/list etc for the scheduled events

[2016-01-22 15:30] #147 closed

[2016-01-24 13:57] lakruzz opened #160 "fix mail signature"

[2016-01-25 09:16] #158 closed

[2016-01-25 11:02] illus0r opened #161 "About us mobile bug"
<img src="https://cloud.githubusercontent.com/assets/797993/12549106/00cc8bf4-c36c-11e5-8b68-dcebf1020991.png" width="300">

[2016-01-25 12:23] lakruzz opened #162 "Add mail signature banners images"

[2016-01-25 12:28] #162 closed

[2016-01-25 12:47] illus0r opened #163 "Use `JEKYLL_ENV` to disable google analytics for development"
It's really easy
[code]

[2016-01-25 13:04] lakruzz commented on #163
Fine - then we need a `_dev_config.yml` that sets the `jekyll.production` to crab and then locally run

[code]

It's one more thing to remember though, and there will be a lot of people contribution - I guess a lot will still just run plain

[code]

Could we make it a system environment variable? Utilizing some of these ideas:

https://gist.github.com/nicolashery/5756478

[2016-01-25 14:42] adamhenriques opened #164 "Tools landing page"
We are mentioning some tools at http://www.praqma.com/services/tool-specialists/ and some are left out.

We haev visual studio on but no IBM rational tools for example. How do we do this?

What is the strategy here - should we mention all tools (we do claim to know all) or shouls we split it us in two "most popular" and "the rest"?

[2016-01-25 15:08] lakruzz commented on #164
@adamhenriques @meekrosoft

* Do we want subpages, a collection underneath tools, where each tool get's a more thorough description
* What are the guidelines for mentioning tools here

[2016-01-26 14:33] lakruzz opened #165 "Praqma innovator - job ad"

[2016-01-26 15:21] #165 closed

[2016-01-27 09:06] #160 closed

[2016-01-27 09:10] lakruzz commented on #124
@illus0r I like your suggestion. @monaslarsen and @meekrosoft are you OK with this too - please give your feed-back on this case. (Which I've changed to a briefing)

[2016-01-27 09:12] lakruzz commented on #124
![image](https://cloud.githubusercontent.com/assets/155492/12608788/611ddad0-c4de-11e5-838f-bedf7e9d2e30.png)

_Implementation_ means that it's related to developing features in the code
_Content_ means that it's related to writing content

[2016-01-27 09:13] #130 closed

[2016-01-27 09:13] #101 closed

[2016-01-27 09:16] lakruzz commented on #155
@monaslarsen you need to elaborate on this before it becomes workable.

We need a description, Why "Jinky" is it a webfont? Where to find it? etc

[2016-01-27 09:18] monaslarsen commented on #124
The suggestion in the left row looks good to me, it contains all the information the visitor could want, in a nice and simple design.

[2016-01-27 09:31] lakruzz commented on #161
Right - feel free to come up with a solution -Go!

[2016-01-27 09:48] lakruzz opened #166 "listing of stories should be a function"
We list the stories on the tag pages using the page `/pages/stories.html`

I would like this to become a function that can be used else where too.

E.g. take that code snippet to /_include/func/list-stories.html`

And then use it like this:

[code]

Where:

* `tag`  is the tag to display
* `max` is the maximum number of posts to display (`0` or `null` (unset) means `all`)
* `avatar-alignment` is o

[2016-01-27 09:53] lakruzz commented on #166
The user story for this function is:

* On the  `/about/jobs/` I'd like to insert the job listings instead af just pointing to them
* On then `/about/customers/` I'd like to insert a list the customer cases in the bottom
* On the front page underneath the images, I'd like to insert a listing of the featured stories, with flexing alignment of the  avatars.

Turing the semantic code in `/pages/stori

[2016-01-27 09:59] lakruzz commented on #166
The implementation of the parameters are prioritized like this:

*  `tag` (required)
* `avatar-alignment` (default or unset = `left`
* `sortby` (default or unset is `newest`
* `max` (default or unset means `all``

[2016-01-27 09:59] lakruzz commented on #166
@illus0r, @meekrosoft  - feel free to comment.

[2016-01-27 09:59] lakruzz commented on #166
@illus0r you set the estimate for this one

[2016-01-27 16:50] illus0r commented on #166
So one *stories page* per *tag*? Do you intend to add *story pages* by hand?

[2016-01-27 18:18] lakruzz commented on #166
I don't understand you question.

for `tag=jobs` I'd like something like:
![image](https://cloud.githubusercontent.com/assets/155492/12623514/c9f28884-c52a-11e5-8a8a-1acec27eb181.png)

[2016-01-29 12:37] illus0r commented on #166
@lakruzz
In previous version of `stories` we had several tag pages, created manually. So when we used a new *label* in frontmatter of a post, we had to create a new `tag-page` file for that *label*. But we changed to `js` approach to avoid this manual routine.

Now we put all the posts to a single story page, but show only matching the current tag.

If we'll change to `{% include /func/list-storie

[2016-01-29 13:26] illus0r commented on #163
nope.
Just tested on [my project](https://github.com/illus0r/dianov.org/commit/30ad72c314691b899a7c5cf1f02553c76ec27690#diff-7d022dd158b090bf0d55b0cef3d14865). Just
[code]
does the job. I see it on gh only, no `--config` mess at all

[2016-01-29 13:42] lakruzz commented on #163
Nice

- [ ] Implement!
- [ ] Document usage of the environment variable in the README.md
- [ ] Maybe even add a convenient `serve` script that sets the variable (lime @JKrag did [here](https://github.com/Praqma/code-maturity/blob/gh-pages/serve))

[2016-01-29 13:47] illus0r commented on #163
@lakruzz Good! No need to add `JEKYLL_ENV ` somewhere, adding condition is enough. So no need to document it.

[2016-01-29 14:02] lakruzz commented on #163
Hmmm - how does `jekyll.evnironment`get a value assigned?

[2016-01-29 14:23] illus0r commented on #163
DEV
![image](https://cloud.githubusercontent.com/assets/797993/12677835/b5c1a43e-c6ac-11e5-8440-143dbecc7f24.png)

PROD
![image](https://cloud.githubusercontent.com/assets/797993/12677899/09e3d7e4-c6ad-11e5-9a5b-49c55826c864.png)

[2016-01-29 16:31] lakruzz commented on #166
I only need it on a few selected tags

- Jobs (on about/jobs)
- Featured (on the front page)
- Customer case (on about/customers

[2016-01-29 17:07] lakruzz commented on #163
Hmmm - I'm still puzzled @illus0r - enlighten me:

How does that snippet of code know if its' running in production or not? How is `jekyll.evnironment` assigned a value?

[2016-01-29 21:36] meekrosoft opened #168 "Contact form include"
We need a page with a contact form - visitors must be able to send us an request.  I don't know how this was done on the old site, and have no idea how to do it on the new site.  Perhaps there is a mail chimp integration we can use?

[2016-01-31 08:36] lakruzz opened #169 "Enable comments on posts"
A few abilities I'd like to see in context of comments on blogs:

- [ ] It would be required to have som kind of notification when a comment is added to a blogpost
- [ ] The comments should behave well in responsive design
- [ ] Comments should be enabled by lay-out, but the individual page should be able to override is `true|false` in the front matter

[2016-01-31 13:11] lakruzz opened #170 "CO:DE spelling on front page"
![image](https://cloud.githubusercontent.com/assets/155492/12702283/8e70e786-c824-11e5-8291-6e1ddb25130a.png)

Should be __CoDe__

[2016-01-31 13:30] #170 closed

[2016-02-01 11:01] lakruzz opened #171 "testing ghi"

[2016-02-01 12:55] illus0r commented on #163
@lakruzz
I'm not sure about details, but Parker Moore (https://github.com/jekyll/jekyll owner) wrote this last comment on https://github.com/jekyll/jekyll/issues/1219

I can dig into the subject and elaborate, if you want

[2016-02-01 13:57] illus0r commented on #166
That's doable! I'll leave the same filtering mechanism for stories, it will use the blog include as

I'll set defaults:
[code]
So we'll use

`{% include /func/list-stories.html %}` for **stories**,

`{% include /func/list-stories.html tag=featured max=3 sortby=weight %}` for the **frontpage** and

`{% include /func/list-stories.html tag=jobs %}` for **jobs**

[2016-02-01 16:53] illus0r commented on #166
- [x] Move code to include
- [ ] Rearrange styles to make them work not on **stories** pages only.
- Implement
 - [x] weight and date sorting
 - [x] tag filtering
 - [ ] limiting output
 - [ ] avatar alignment

[2016-02-01 18:04] illus0r opened #172 "Output posts on Jobs page"
Subtask of #166

I'll need to #174 rearrange styles to complete this

[2016-02-01 18:06] illus0r opened #173 "Output posts on frontpage"
Subtask of #166

I'll need to #174 rearrange styles to complete this

[2016-02-01 18:08] illus0r opened #174 "Rearrange styles for stories"
to use them not on blog pages only.

BTW, on what pages are you going to use `avatar-alignment = right`?

[2016-02-01 18:12] illus0r commented on #166
@lakruzz I've broke this task down into #172, #173, #174
Can we close this?

[2016-02-01 21:49] #166 closed

[2016-02-01 21:52] lakruzz commented on #174
Any - potentially - but let's consider it a separate task - it's less important

[2016-02-02 11:02] illus0r opened #175 "Mobile: collapse tag list into dropdown"
Subtask of #124

![image](https://cloud.githubusercontent.com/assets/797993/12747506/69acfbd2-c9b5-11e5-8386-529d731d53dd.png)

[2016-02-02 11:04] illus0r opened #176 "Mobile: move google search form into the collapsed main menu"
SUbtask of #124

Because it looks through all the site, not stories only.

[2016-02-02 11:06] illus0r opened #177 "Mobile: *subscribe for news* button"
Subtask of #124

- [ ] should be shown instead of current block
- [ ] should open a form in a popup window

![image](https://cloud.githubusercontent.com/assets/797993/12747622/21a523f4-c9b6-11e5-95a0-62f1474d62e0.png)

[2016-02-02 11:08] illus0r opened #178 "Mobile: on post pages show avatar under the title"
Subtask of #124

![image](https://cloud.githubusercontent.com/assets/797993/12747674/6f8dd20a-c9b6-11e5-9772-c71467b99d3e.png)

[2016-02-02 11:10] illus0r commented on #124
@lakruzz I've broke down this into small peaces. Every of them got the same priority and milestone, as this issue.

[2016-02-02 17:13] meekrosoft commented on #168
I've created a proof-of-concept on this branch and it seems to work well enough:
https://github.com/Praqma/praqma.com/tree/contact

It needs a bit of styling, but otherwise ok.  Then the question is: how do we incorporate it into the user experience?  Would love some feedback on this.

[2016-02-02 17:43] #171 closed

[2016-02-02 17:45] lakruzz commented on #143
This issue needs an design/implementation suggestion and an estimate

[2016-02-02 19:06] lakruzz commented on #163
Right - I see it.
It's still mysterious, that there is som much debate about wether it works or not, but your test seems to verify that we're OK.

Lets implement.

[2016-02-02 19:10] lakruzz commented on #119
@meekrosoft I get a sense that this on is in progress right - are you woking on it? Whats the status of this issue?

Is this still a size 0, did we spin off other issues from this?

[2016-02-02 19:15] lakruzz commented on #145
It's already removed

[2016-02-02 19:16] #145 closed

[2016-02-02 19:18] lakruzz commented on #141
@illus0r Could we do something here I agree with @buep

- Move it to the bottom right corner, så it doesn't interfere with content?
- Hide is unless it in the footer area?
- Something - you'r the UX expert :-)

[2016-02-02 19:19] lakruzz commented on #141
@illus0r I set the priority to small - please poke me if you change it.

[2016-02-02 19:21] #100 closed

[2016-02-02 19:29] lakruzz commented on #150
This case needs an estimate: @illus0r ?

[2016-02-02 19:31] lakruzz commented on #173
OK

[2016-02-02 19:32] lakruzz commented on #172
OK

[2016-02-02 19:35] lakruzz commented on #117
@illus0r did this end - or what happended

[2016-02-02 19:40] lakruzz commented on #155
@monaslarsen this case needs a description/justification - The font's that are easy to use on web are the ones available at https://www.google.com/fonts

What's wrong with the one we have?

[2016-02-03 08:47] meekrosoft commented on #168
Ok, it is available on praqma.com/contact
I will create a separate issue for styling

[2016-02-03 08:50] #168 closed

[2016-02-03 08:58] meekrosoft opened #181 "Contact form style"
We need some nice styling for the contact form on praqma.com/contact

[2016-02-03 08:59] adamhenriques opened #1 "Vision document for code.praqma.com"
**This issue used to state our vision on how to organize CoDe pipelines and documentation for our software development; Praqma as well as Josra, Internal as well as public**
# Doctrines
- [ ] All individually releasable components, utilities or products shall be documented within the repository it self, directly on the integration branch.
- [ ] Documentation shall be published automatically as par

[2016-02-03 09:09] adamhenriques opened #182 "Registration for training"
We need links from all training classes pointing to eventbrite so that people can sign up - or embed widget for eventbrite payment to keep people on out site.

[2016-02-03 09:15] meekrosoft commented on #119
This is indeed getting broken down into smaller steps.  I am not sure how to link issues,  but this is the breakdown so far:

Issue 180 - Added a contact page
Issue 181 - Style the contact page

[2016-02-03 09:21] meekrosoft opened #183 "Create a "Free Consultation" page"
We need a goal for the website.  That goal should be scheduling a meeting with us.

[2016-02-03 09:30] meekrosoft commented on #183
An example:
https://www.inboundgroup.com/no/1time

[2016-02-03 10:56] illus0r commented on #163
@lakruzz I've done this in cd1d8d4
I had a look at Google Analytics, all correct: I see fresh visits and don't see localhost pages.

And, as I just read in [Google Help](https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies-user-id), we can skip jekyll condition at all. We have already restricted traffic by `praqma.com` in `praqma.com/javascripts/googleanalytics.js`:

[c

[2016-02-03 11:37] illus0r commented on #141
@lakruzz Yep, I don't like overlapping stuff too.

We can just slightly shift it to right, but that's not good for our purpose, as we wanted to make phone noticeable.

![image](https://cloud.githubusercontent.com/assets/797993/12780929/1da20c28-ca82-11e5-9f9c-a9e8971e4c3e.png)

Can we show this info inside the header instead? There is a room for some extra information there. I can suggest a mockup

[2016-02-03 13:46] #124 closed

[2016-02-03 14:20] lakruzz commented on #141
@illus0r Yes - better - give it a go!

[2016-02-03 14:27] lakruzz commented on #183
Hi @meekrosoft

I'm curious, how did you select the "prio 2..." label? it seems like - however you did it - it created a new label type with a duplicated name, instead of using the one that was already there?

[2016-02-03 14:46] meekrosoft commented on #183
I have no idea! :-D  I guess I selected it from the dropdown on waffle...

On Wed, Feb 3, 2016 at 3:27 PM, Lars Kruse <notifications@github.com> wrote:

[2016-02-03 14:48] lakruzz commented on #183
:+1:

[image: ____________________________________________________________]
Lars Kruse M.Sc.
Partner & Co-founder
lak@praqma.net
+45 20 87 25 30 <+45%2020%2087%2025%2030>
Skype: lakruzz
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762>
<http://www.josra.org/blog/An-automated-git-branching-strategy.html?src=mailbanner>

On 3 February 2016 at 15:46, Mike Lo

[2016-02-03 15:15] lakruzz commented on #181
@illus0r You are our UX expert - can you attend to this, Give us your best, make it shine!

Start by adding an estimate, so we can mark it workable

[2016-02-03 15:16] #161 closed

[2016-02-03 15:17] illus0r commented on #161
![image](https://cloud.githubusercontent.com/assets/797993/12786477/5cf9f9f6-caa2-11e5-96e6-c0f543be8832.png)
Good now! Tested in chrome

[2016-02-03 17:45] lakruzz commented on #182
Currently the training pages  in `/_training` has the following front matter:

Sample from Docker intro

[code]

We should add an extra entry there like this:

[code]

The semantics should then be:

__IF__ there is one or more scheduled events
__THEN__ Display them on the page, as a call to action.

I'll let our UX expert @illus0r come up with an implementation of what that would look like.

[2016-02-03 17:47] lakruzz commented on #182
@adamhenriques

For all the files listed in https://github.com/Praqma/praqma.com/tree/gh-pages/_training, can you provide the relevant info for each file:

[code]

So that @illus0r has something to work with...

[2016-02-03 17:48] lakruzz commented on #182
@illus0r can you put an estimate on this one?

[2016-02-03 18:31] lakruzz opened #184 "Release Bues post on Jenkins Documentation"
http://inside.praqma.com/praqmablogs/automated-jenkins-plugin-documentation.html

[2016-02-03 18:33] lakruzz opened #185 "Show newest instead of featured stories as default"

[2016-02-03 18:41] #184 closed

[2016-02-05 14:28] adamhenriques commented on #182
@lakruzz

**Introduction to Docker**

Oslo Feb 15&16, 9:00 -17:00
https://docker-intro-oslo.eventbrite.co.uk

Stockholm Feb 22&23rd, 9:00 -17:00
https://docker-intro-sthlm.eventbrite.co.uk

Copenhagen March 7&8, 9:00 - 17:00
http://docker-intro-cph.eventbrite.co.uk

Aarhus March 14&15, 9:00 - 17:00
http://docker-intro-aarhus.eventbrite.co

[2016-02-05 14:35] meekrosoft commented on #119
I have pushed this work to a branch
https://github.com/praqma/praqma.com/tree/call-to-action

Please look and give feedback on this.
<img width="1037" alt="screen shot 2016-02-05 at 15 35 17" src="https://cloud.githubusercontent.com/assets/145429/12849100/1ef34efa-cc1e-11e5-83b7-fd8057302ef3.png">

[2016-02-05 14:36] #183 closed

[2016-02-05 14:48] adamhenriques commented on #182
@lakruzz

**Docker Administration & Operations**

Stockholm March 29&30 9:00-17:00
https://docker-ops-and-admin-sthlm.eventbrite.co.uk

Copenhagen, April 19&20 9:00-17:00
http://docker-ops-and-admin-cph.eventbrite.co.uk

[2016-02-06 06:35] adamhenriques opened #186 "Entrypage from cellphone on Stories"
Entring "Stories" the pages responsiveness scales so that the first thing shown is Sign Up for Newsletter and "Search" directory - could we change this so that newest stories come in the top?

![image](https://cloud.githubusercontent.com/assets/8004259/12865112/d4314a8a-cca3-11e5-88c2-d3134020b979.png)

[2016-02-06 06:43] adamhenriques opened #187 "Training page - cellphoneview problem"
Clicking a course on Traing page, all courses maintain and then the chosen course description opens below, which you have to scroll to find. Could we open description in new full page?

[2016-02-06 09:38] lakruzz commented on #185
@illus0r

What's the purpose of the setting
[code]

I would like http://www.praqma.com/stories/#Newest to be the default over http://www.praqma.com/stories/#Featured - and I expected that the change made in 593556d  would have achieved that.

[2016-02-06 09:57] lakruzz commented on #187
This is related to #150. Don't work on this case until #150 is groomed and prioritized.

[2016-02-06 10:00] lakruzz commented on #186
This is related to #185 in terms of selecting newest over featured as default, but the issue that is starts on the top f the page rather than scrolls down to the actual stories still needs to be fixed - regardless what tag is default.

[2016-02-06 10:01] lakruzz commented on #186
@illus0r I assigned it to you with a needs grooming label, I need an estimate

[2016-02-06 10:24] lakruzz commented on #174
In reference to #166

[2016-02-08 08:31] meekrosoft commented on #181
It is pushed to the call-to-action branch

[2016-02-08 08:35] adamhenriques opened #188 "Pictures for sharing on social media et al - how to solve??"
When we share a link on different social media, LinkedIn etc to the different landing pages on the webpaage like tainings and services, it doesnt capture an icon/picuture to show with the link.

Eg. sharing an update on linkedin with a link to http://www.praqma.com/training/jira-admin/ - linkedin onlu shows text, but no icon matching the text (see pic below) How do we get this?

![skaermbillede 20

[2016-02-08 13:46] illus0r commented on #150
@lakruzz @monaslarsen mm, good! I like idea of unification. It looks like 2-hour problem, is that `small` or `middle`?

[2016-02-08 13:49] illus0r commented on #150
@lakruzz @monaslarsen

Switching to 2 col will take extra time. I'll fix my estimation

[2016-02-08 15:19] illus0r commented on #186
@lakruzz
As I understood @adamhenriques wants to push main content to top, since it's more important than **newsletter form** and **tag filter**. If I understood correctly, it duplicates #175 (collapse tag list) and #177 (move newsletter form into modal window)

[2016-02-08 15:34] illus0r commented on #185
Good, I'll try to do it. I'll have to move some `js` logic into `html` so to be able to set `js` variables by `liquid`

[2016-02-08 15:50] illus0r commented on #182
@lakruzz
As I understood we need to provide a way to sign up for training courses from _training pages_ (like http://www.praqma.com/training/git-mastering/)

Currently signing up is possible on outer websites so we want to provide a noticeable link to these websites.

Am I correct? If so, I'll make a design and implement it

[2016-02-08 15:53] illus0r commented on #186
@lakruzz my problem vision is slighly differ from yours, I can be wrong. What's your opinion? I need to know it to set estimation

[2016-02-08 17:39] lakruzz commented on #182
@adamhenriques @illus0r

Or even better: Have it all happen on our own site:
Example: http://www.code-conf.com/day-of-containers-sthlm16/

[2016-02-08 17:42] lakruzz commented on #186
@adamhenriques will you review #175 and #177 and evaluate if they cover your scenario - is this case essentially a duplicate?

[2016-02-09 12:03] adamhenriques commented on #186
@illus0r Yes, it would be nice to haven main content to the top instead of tag filter - so its a dublicate. Ill resolve it.

Thanks

[2016-02-09 12:03] #186 closed

[2016-02-09 12:11] illus0r commented on #186
Thanks for feedback, @adamhenriques!

[2016-02-09 12:20] lakruzz commented on #163
...Cool - we will skip this then, this seems to implemented the praqmatic way already :-)

[2016-02-09 12:20] #163 closed

[2016-02-09 13:02] illus0r commented on #117
@lakruzz I have not touched this yet.

[2016-02-09 13:04] illus0r commented on #117
it's my fault to create issue and bring your attention to it. The issues' subject is a rubbish I should fix without any tasks.

[2016-02-09 13:07] lakruzz commented on #117
@illus0r

Do we agree on this then:

- [ ] All headers (at all levels) should have the same bottom margin
- [ ] Paragrap (`<p>`) should only have margins at the bottom - never at the top

[2016-02-09 13:14] illus0r commented on #117
@lakruzz

The margin should correspond to `h`'s height. So they can be equal in `em`s :grinning:

Margins collapse, so I didn't care about it.

![margins collapse](http://aryo.lecture.ub.ac.id/files/2013/02/margin-collapse.png)

[2016-02-09 13:20] lakruzz commented on #117
hmmmm - but wasn't this the original problem???

Anyway if the original problem is solved then kill this issue.

[2016-02-09 13:23] illus0r commented on #143
@lakruzz we can use the power of [Gulp](http://gulpjs.com/) i.e.
or something similar

[2016-02-09 13:25] illus0r commented on #169
@lakruzz
Will https://disqus.com/ or https://www.spot.im/ suit our needs?

[2016-02-09 13:43] illus0r commented on #141
@lakruzz arr, I'd better be more precise asking a question: did you mean

or

?

[2016-02-09 13:44] lakruzz commented on #169
@illus0r

Hmmm - don't know really  - So far we have been using google plus comments

Example (implementation):
https://github.com/josra/josra.github.io/blob/master/_includes/google-comments.html

Example (utilization):
http://www.josra.org/blog/An-automated-git-branching-strategy.html

Personally I like this better both Spot and Discuss are Twitter/facebook centric - not sure I like that. I expec

[2016-02-09 13:58] illus0r commented on #182
@lakruzz the best option! Let's cut out unnecessary links! :scissors:

[2016-02-09 14:00] adamhenriques commented on #182
I agree - that would be the best solution!

[image: ____________________________________________________________]
Adam Henriques
CMO
ah@praqma.net
+45 28 12 90 94 <+45%2028%2012%2090%2094>
Skype: adamhenriques
Praqma
www.praqma.com
CPH, OSL, STHLM
+45 36 PRAQMA <+4536772762>

On Tue, Feb 9, 2016 at 2:59 PM, illus0r <notifications@github.com> wrote:

[2016-02-09 14:06] illus0r commented on #182
@lakruzz will we stick with https://www.eventbrite.com/?

[2016-02-09 14:09] illus0r commented on #117
Good!

[2016-02-09 14:09] #117 closed

[2016-02-09 14:20] lakruzz commented on #141
- [x] slightly shift it to right

[2016-02-09 14:29] monaslarsen opened #189 "new mailbanner pic"

[2016-02-09 14:33] #189 closed

[2016-02-09 16:28] lakruzz commented on #182
embedded -as on : http://www.code-conf.com/day-of-containers-sthlm16/

[2016-02-10 13:46] illus0r commented on #182
Good!

[2016-02-10 14:46] illus0r commented on #181
- [ ] style the submit btn
- [ ] make responsive

@meekrosoft how should I push, BTW? Without `deliver`, I guess?

[2016-02-10 19:52] #181 closed

[2016-02-11 09:44] monaslarsen opened #190 "Styling issues of Info box on Training pages"
Training pages: Info boxes at bottom of each training are not styled

[2016-02-11 12:10] lakruzz commented on #1
I'm taking over #1 - I want the first issue to be the vision statement!

[2016-02-11 13:26] adamhenriques opened #2 "Proofreading on customarcases"
Some of the case stories need proof reading fx. http://www.praqma.com/stories/grundfos-case/ has "#" some places in the text.

[2016-02-11 13:26] #2 closed, assigned to nobody

[2016-02-11 13:28] adamhenriques opened #191 "Proofreading on customercases etc"
Some of the case stories need proof reading fx. http://www.praqma.com/stories/grundfos-case/ has "#" some places in the text.

[2016-02-11 13:32] monaslarsen commented on #191
Isn't this a styling issue @illus0r ? Shouldn't hashtags create headlines?

[2016-02-11 13:48] lakruzz commented on #2
Hej mester.

Er du godt opmærksom på, at du ikke skal ind i praqma/praqma.github.io mere
- den er omdøbt til Praqma/praqma.com.

[image: ____________________________________________________________]
Lars Kruse M.Sc.
Partner & Co-founder
lak@praqma.net
+45 20 87 25 30 <+45%2020%2087%2025%2030>
Skype: lakruzz
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762

[2016-02-11 13:49] adamhenriques commented on #2
Yes, så det godt og slettede lige efter, beklager.

[image: ____________________________________________________________]
Adam Henriques
Sales & Marketing
ah@praqma.net
+45 28 12 90 94 <+45%2028%2012%2090%2094>
Skype: adamhenriques
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762>
http://www.code-conf.com?src=mailbanner16

On Thu, Feb 11, 2016 at 2:48 PM,

[2016-02-11 15:02] lakruzz commented on #155
Jinky:
![image](https://cloud.githubusercontent.com/assets/155492/12979662/e88b08e8-d0d8-11e5-98a4-45e1f695679b.png)

[2016-02-11 15:09] lakruzz commented on #155
[Nothing You Could Do](https://www.google.com/fonts/specimen/Nothing+You+Could+Do):

![image](https://cloud.githubusercontent.com/assets/155492/12979836/ce5d1758-d0d9-11e5-8522-6f9e21abe05c.png)

[2016-02-11 15:19] monaslarsen commented on #155
@lakruzz
I go for friendly gut feeling, not too slanted, easy to read:

Handlee https://www.google.com/fonts/specimen/Handlee

[2016-02-12 12:48] adamhenriques opened #192 "Link to Code-Conf.com from praqma.com"
We should have a  link to code-conf.com from Praqma.com on http://www.praqma.com/services/code-conf/ or at least some kind of reference.

[2016-02-15 05:28] adamhenriques opened #193 ""Request free cunsultation" box covers logo in mobile version"
![image](https://cloud.githubusercontent.com/assets/8004259/13040540/9006ebe2-d3ad-11e5-9562-ac5760debb27.png)
The box for free consultation covers logo and menu in mobile version

[2016-02-15 14:40] les-praqma commented on #148
When I see a story/news list on a web page, where the top entry is from 2014 I conclude that nothing is happening in that company - or that their webpage is not being updated. I don't search for new entries first. So if we dont have anything newer than 2014 at top under Features, I think we should immediately change to Newest

[2016-02-15 16:35] lakruzz commented on #148
Duplicate #185

[2016-02-15 16:35] #148 closed

[2016-02-15 18:19] lakruzz commented on #182
@adamhenriques I closed this with a quick fix

have a look at http://www.praqma.com/training/docker-intro/

The scheduel is delivered as yaml in the front matter of the file:
https://raw.githubusercontent.com/Praqma/praqma.com/gh-pages/_training/docker-intro.md

[code]

[2016-02-15 18:22] lakruzz opened #194 "Add dates for the Docker admin course"
related to #182

[2016-02-15 18:28] #194 closed

[2016-02-15 18:29] lakruzz commented on #182
Actually I'm not using the url, so this is sufficient:

[code]

[2016-02-15 18:33] lakruzz commented on #144
I commented out the facts when I closed #182 (8954347)

We would like the fact back on, but not until they are styled and look good!

[2016-02-16 07:49] adamhenriques commented on #182
Great thanks

[image: ____________________________________________________________]
Adam Henriques
Sales & Marketing
ah@praqma.net
+45 28 12 90 94 <+45%2028%2012%2090%2094>
Skype: adamhenriques
Praqma
www.praqma.com
DK: CPH, Aarhus, Allerod
NO: OSL
SE: STHLM
+45 36 PRAQMA <+4536772762>
<http://www.code-conf.com?src=mailbanner16>

On Mon, Feb 15, 2016 at 7:19 PM, Lars Kruse <notifications@github.co

[2016-02-16 12:10] illus0r commented on #193
@adamhenriques
@lakruzz
We can enlarge `body`'s top margin and make overlapping link smaller (to avoid competing with header).

[2016-02-16 12:11] illus0r commented on #193
or just hide

[2016-02-16 12:11] illus0r commented on #193
Or to find out a completely different mockup :)

[2016-02-16 12:19] illus0r commented on #191
@monaslarsen @adamhenriques
Hmm, [gijeli article](https://raw.githubusercontent.com/Praqma/praqma.com/gh-pages/_posts/2014-06-18-GiJeLi-tool-stack-howto.md) works well though.
Try adding space after `##` and extra newline under

[2016-02-16 12:22] illus0r commented on #155
@monaslarsen @lakruzz may be we'd use some markerboard handwriting?

[2016-02-16 12:52] lakruzz commented on #193
Just adding to top margin isn't a good solution - then rather hide it, or get a UX expert to come up with something clever :+1:

[2016-02-17 09:26] monaslarsen opened #195 "Update Day of Containers image"

[2016-02-17 10:28] #195 closed

[2016-02-17 11:46] illus0r commented on #193
@lakruzz Ok, I'll spin off a task for hiding (quick fix) and this task if for finding out a better way!

[2016-02-17 11:48] illus0r opened #196 "Hide the top overlay on mobile"
Subtask of #193
We need a quick fix

[2016-02-17 11:59] illus0r commented on #190
Mona on slack:

So my issue is obsolete now!

[2016-02-17 11:59] #190 closed

[2016-02-18 08:57] adamhenriques opened #197 "Update Training Dates - Remove Oslo docker Training"
Hi Lars,

Will you remove the latest docker training i Olso as date is due ( or maybe give me that brushup course so I dont have to ask you to do it;-))

[2016-02-18 13:59] meekrosoft opened #198 "Style contact form for consultation page"
I would like some styling to be done for the contact page and layout on praqma.com/pages/1hour.md

<img width="1015" alt="screen shot 2016-02-18 at 14 57 44" src="https://cloud.githubusercontent.com/assets/145429/13145320/332433f8-d650-11e5-9b0c-9e1bd4e79578.png">

[2016-02-18 14:15] adamhenriques commented on #182
@lakruzz

seems that we are missing this on the page - vill you add it;

Copenhagen March 7&8, 9:00 - 17:00
http://docker-intro-cph.eventbrite.co.uk

[2016-02-19 08:14] lakruzz commented on #198
@illus0r - do your thing - make it look good

[2016-02-19 12:42] hoeghh opened #199 "Training page has bad icons"
The icons on the left side of the screen is very confusing.

The icon for Git, Atlassian and Praqma academy are fine. Simple and plain. But the others only disderb more then good is. Keep them simple. The Jenkins logo without extra thinkgs (like text that cant be read anyway and a lightbulb). The two Docker icons are so different that nobody would guess that they are related. Use logoes as icons,

[2016-02-19 15:47] #174 closed

[2016-02-19 15:54] #173 closed

[2016-02-22 07:41] lakruzz opened #200 "Story on how we work"
Git, pretested integration, waffle etc

[2016-02-22 11:00] illus0r commented on #198
Sure! I keep working by priorities, hope to reach it out :)

[2016-02-22 11:24] #172 closed

[2016-02-22 12:26] #185 closed

[2016-02-22 12:56] illus0r commented on #193
Oops, i closed it by mistake instead of #196

[2016-02-22 12:57] #196 closed

[2016-02-22 13:00] illus0r commented on #196
closed by c85ba8b

[2016-02-22 13:14] illus0r commented on #150
@monaslarsen @lakruzz
I've started. I'll eliminate the left menu on both **training-index** and **training-pages**. The mockup will be remade after services, i'll copy it's design precisely.

[2016-02-22 15:26] illus0r commented on #150
Haven't pushed yet.
New alignment of **images** and **titles** is not ok. I can fix styles unless you want to fix titles.

![image](https://cloud.githubusercontent.com/assets/797993/13222602/b8b591b2-d991-11e5-9574-c96a51bc56eb.png)

[2016-02-23 07:32] adamhenriques opened #201 "News feed on frontpage - how to order"
How do we order news so that latest or ft. will apear first? Right now we have old news coming first.
![skaermbillede 2016-02-23 kl 08 31 20](https://cloud.githubusercontent.com/assets/8004259/13244616/e2b43cea-da07-11e5-90ee-165f7e874ce0.png)

[2016-02-23 12:21] lakruzz opened #202 "Dead link to PDF file"
ON http://www.josra.org/blog/Pretested+integration+plugin.html
the link to http://www.praqma.com/resources/papers/git-flow is dead

[2016-02-23 12:22] lakruzz commented on #202
Affects https://github.com/josra/josra.github.io/issues/19

[2016-02-23 13:00] lakruzz commented on #201
@adamhenriques
All the stories that are tagged `Featured` are listed on the front page.
If they also have a `nav-weight` then they are sorted by that (lowest values on top` - if not then they are sorted by date.

[code]

[2016-02-23 18:29] lakruzz opened #203 "Code Cafe"
Story on code cafex

[2016-02-23 19:00] #203 closed

[2016-02-23 19:01] lakruzz opened #204 "summer of code"

[2016-02-23 19:12] #204 closed

[2016-02-23 19:16] lakruzz commented on #204
@meekrosoft added a different pic, and did something smart with your lists :-)

[2016-02-24 10:35] #200 closed

[2016-02-24 11:10] #150 closed

[2016-02-24 12:30] lakruzz opened #205 "Show author on posts"
If author is given in the front matter of a story,

[code]

then it should be visible in the post

![image](https://cloud.githubusercontent.com/assets/155492/13285415/c22f3e7c-dafa-11e5-86a8-4016b74f2370.png)

[2016-02-24 12:35] lakruzz opened #206 "All pictures on training pages should be same size"
This doesn't look good:

![image](https://cloud.githubusercontent.com/assets/155492/13285469/0bf117d8-dafb-11e5-81f4-486adb830451.png)

we started out with 300x225 px  If you wanna go with something else, fine, but STICK to - whatever you descide

[2016-02-24 12:46] monaslarsen opened #207 "proof read story on how we work"

[2016-02-24 14:56] praqma-thi opened #208 "Blog post spoiler tags"
Just a fun feature...

It'd be cool if we could mark sentences or words as 'spoilers', blacking them out until you hover over them.

ex:
![selection_014](https://cloud.githubusercontent.com/assets/12794699/13289102/21372ea2-db0f-11e5-84b4-d1019eeee4dc.png)

The only real use for this is lightweight/comedic blog posts.
Feel free to assign this Int.MIN_VALUE priority.

[2016-02-25 10:24] lakruzz commented on #207
@monaslarsen
![ghi-cli](https://cloud.githubusercontent.com/assets/155492/13316862/3f995e76-dbb2-11e5-9edb-fc023525bed6.png)
Use this one as avatar - I've even prepared it in 3x4 format

[2016-02-25 10:25] monaslarsen commented on #207
Great

[2016-02-25 10:37] #207 closed

[2016-02-25 16:08] lakruzz opened #209 "Corrections to the flow"

[2016-02-25 16:19] #209 closed

[2016-02-25 19:07] lakruzz commented on #199
Duplicate of #206

[2016-02-25 19:09] #188 closed

[2016-02-25 19:52] hoeghh commented on #199
Hej. Jeg vil ikke mene den er en dublet. Den anden sag handler om
størrelser hvor denne om kvaliteten/indholdet af billederne.
Den 25/02/2016 8.07 PM skrev "Lars Kruse" <notifications@github.com>:

[2016-02-25 19:54] #169 closed

[2016-02-25 19:56] lakruzz commented on #169
@mike

Simply add

[code]

In the frontmatter

[2016-02-25 20:16] lakruzz commented on #205
Now supports two settings in the frontmatter (only in posts)

[code]
It will name the authore, and if the authore-link is applied it will make the author name a llink to the author-link.

`author-link` is ignored unless `author` is applied.

Examplified in _posts/2016-02-22-a-pragmatic-workflow.md

[2016-02-25 20:16] #205 closed

[2016-02-25 20:18] lakruzz commented on #205
@

[2016-02-25 20:23] lakruzz commented on #199
@heh ...right!
@monaslarsen - while you are working on #206 can you have an eye on this case too - they are so closely related that the should be done in one go. Please feel free to close this case when you're done with #206 ...if you manage to prettify them indeed :-)

[2016-02-25 21:53] #206 closed

[2016-02-26 07:40] lakruzz opened #210 "proof read code cafe"

[2016-02-26 08:58] lakruzz commented on #206
Well done @monaslarsen - It's looking good!

@hoeghh  @meekrosoft

[2016-02-26 09:00] lakruzz commented on #199
@monaslarsen

Closed in 6cf072d together with #206

[2016-02-26 09:00] #199 closed

[2016-02-26 09:15] #210 closed

[2016-02-26 09:16] lakruzz opened #3 "Add new mail signature"
For the blogpost on praqgmatic workflow

[2016-02-26 09:21] lakruzz opened #211 "Update the git aliases in the workflow"
[code]

addded `ghi assign $1;` in the end

[2016-02-26 09:54] #3 closed, assigned to lakruzz

[2016-02-28 21:36] meekrosoft opened #212 "Google search show text about specflow rather than what we are..."
This is what google thinks Praqma is:
<img width="545" alt="screen shot 2016-02-28 at 22 34 20" src="https://cloud.githubusercontent.com/assets/145429/13382064/a2e2e0c2-de6b-11e5-87df-bb10547df1bb.png">

[2016-02-29 15:18] #197 closed

[2016-03-01 13:16] monaslarsen opened #213 "Blogpost "GiJeLi setup" refers to a late website"
Lars, your example code refers to the dead site http://www.codeu.eu/

I have updated the link to code-conf.com in case interested readers should click the link, but either the example should probably be updated or the reference to the website should maybe be removed.

Makes sense?

<img width="759" alt="screen shot 2016-03-01 at 14 15 25" src="https://cloud.githubusercontent.com/assets/13627068/13

[2016-03-01 13:48] monaslarsen opened #214 "Make quoted text slightly smalller"
Currently quotes created by starting a sentence with ' > ' is too large.

<img width="643" alt="screen shot 2016-03-01 at 14 46 08" src="https://cloud.githubusercontent.com/assets/13627068/13428701/6e51236c-dfbc-11e5-8809-6db12c6037a2.png">

[2016-03-01 13:50] monaslarsen commented on #214
Is it possible to create two optional sizes, for use depending on the length of the quotation?

[2016-03-01 21:52] #211 closed

[2016-03-02 13:03] buep opened #215 "I can't find our CVR (tax/VAT) number on our website"
Expected in on our front-page, and if not there, under About us somewhere.

[2016-03-02 13:09] monaslarsen commented on #215
It's here, but I'll leave the case open to look into possible changes.

http://www.praqma.com/about/offices/

[2016-03-02 14:25] lakruzz commented on #215
www.cvr.dk :-)

[2016-03-03 08:26] adamhenriques commented on #201
Does that meen that we neem to tagg all blogpost and sort them, so that we makje sure that news on frontpage are relevant/current?

[2016-03-03 13:09] bicschneider commented on #152
@monaslarsen
I would prefer that all employees are listed + add a "employed since: 20YY.MM" + a Linked-In /about.me link..

[2016-03-03 13:11] bicschneider opened #216 "There is no link from services/josra to http://www.josra.org/"
[http://www.praqma.com/services/josra/](http://www.praqma.com/services/josra/)

[2016-03-03 13:36] monaslarsen commented on #152
Thanks, I'll look into that @bicschneider

[2016-03-04 10:51] monaslarsen opened #217 "Add blogpost about Atlassian partnership"

[2016-03-04 13:46] MadsNielsen opened #218 "Duplicate blog post"
The code academy blog post is duplicated

![double_up](https://cloud.githubusercontent.com/assets/1484793/13528658/c7c0b69e-e217-11e5-91d6-b3264afcda9a.png)

[2016-03-04 15:36] #217 closed

[2016-03-07 08:53] lakruzz commented on #182
@adamhenriques is this done yet?

[2016-03-07 08:54] adamhenriques opened #219 "Atlasssian blogpost needs some polish"
The blogpost ends "As a certified Atlassian Expert Partner we provide the following services for the Atlassian suite.." but the services we provide arent listed.

[2016-03-07 08:55] lakruzz opened #220 "Specshell shouldn't be on the front page - replace with link to customer cases"
We need something that's about Praqma
![image](https://cloud.githubusercontent.com/assets/155492/13564537/beb5e3be-e44a-11e5-9544-809375c6ac5b.png)

[2016-03-07 08:55] adamhenriques commented on #182
@lakruzz Yes

[2016-03-07 08:55] #182 closed

[2016-03-07 08:56] lakruzz opened #221 "Day of containers shouldn't be on the front"
![image](https://cloud.githubusercontent.com/assets/155492/13564550/d4524ff0-e44a-11e5-8ad9-8633a04dfe5c.png)

[2016-03-07 08:56] meekrosoft commented on #220
I would like a page "What our customers say".

[2016-03-07 09:00] lakruzz opened #222 "Make sure the featured articles are the right ones"
...currently they are not:
![image](https://cloud.githubusercontent.com/assets/155492/13564646/75f6c5c0-e44b-11e5-891c-a4e06baae677.png)

[2016-03-07 09:05] #119 closed

[2016-03-07 09:05] lakruzz commented on #191
We need to break this into smaller workable items

[2016-03-07 09:10] lakruzz commented on #221
Make it about the praqmatic flow:
http://www.praqma.com/stories/a-pragmatic-workflow/

[2016-03-07 09:17] lakruzz opened #223 "Add a README on how to change a front page item"
related to #221

Name the file `_hww-<topic-in-lowercase-no-white-spaces>.md` put it where it belongs.

[2016-03-07 09:18] meekrosoft commented on #223
_hww-change-front-page-item.md

[2016-03-07 09:22] lakruzz commented on #191
Create secific issues for the tasks that needs to be done - then close this one,

[2016-03-07 09:26] lakruzz commented on #222
Pick _anything_ thats better:

- Code academy

Have a look at the newest blog posts - they probably all qualify as featured

[2016-03-07 09:35] meekrosoft commented on #220
Link to this instead:
http://www.praqma.com/stories/#Customer%20case

Picture:
Mona can find something in her curated collection

[2016-03-07 09:39] lakruzz commented on #215
Let's not work on this

[2016-03-07 09:40] #215 closed

[2016-03-07 09:47] meekrosoft commented on #164
Let's start with getting a list of the tools we want to add.

[2016-03-07 12:27] monaslarsen opened #224 "Proofread and polish Nordea case blog"
http://www.praqma.com/stories/nordea-case/

[2016-03-07 12:28] monaslarsen opened #225 "Proofread and polish Specshell case blog"
http://www.praqma.com/stories/specshell-case/

[2016-03-07 12:29] monaslarsen opened #226 "Proofread and polish Yxlon case blog"
http://www.praqma.com/stories/yxlon-case/

[2016-03-07 12:30] monaslarsen opened #227 "Proofread and polish Atmel case blog"
http://www.praqma.com/stories/atmel-case/

[2016-03-07 12:42] monaslarsen opened #228 "Proofread and polish automated-jenkins-plugin-documentation blog"
http://www.praqma.com/stories/automated-jenkins-plugin-documentation/

[2016-03-07 12:44] monaslarsen opened #229 "Proofread and polish Linkchecker blog"
http://www.praqma.com/stories/linkckecker-jekyll-flavor/

[2016-03-07 12:45] monaslarsen opened #230 "Proofread and polish Linkchecker Dockerized blog"
http://www.praqma.com/stories/linkchecker-dockerized/

[2016-03-07 13:03] monaslarsen opened #231 "Add dates/ calendar widget etc. for training page"
Leif suggests an easy overview for training dates - any thoughts @mike, @lakruzz @adamhenriques ?

praqma.com/training/

[2016-03-07 13:19] monaslarsen opened #232 "Proofread and polish coder job posting on blogs"
http://www.praqma.com/stories/coder/

[2016-03-07 13:20] monaslarsen opened #233 "Proofread and polish Ops student job post blog"
http://www.praqma.com/stories/ops-student/

[2016-03-07 13:21] monaslarsen opened #234 "Proofread and polish prospect blog post"
http://www.praqma.com/stories/prospect/

[2016-03-07 13:22] monaslarsen opened #235 "Proofread and polish Top Jenkins plugins blog"
http://www.praqma.com/stories/top-jenkins-plugins/

[2016-03-07 13:23] #218 closed

[2016-03-07 13:24] monaslarsen opened #236 "Proofread and polish Deliving into job DSL blog"
http://www.praqma.com/stories/delving-into-job-dsl/

[2016-03-07 13:28] monaslarsen opened #237 "Proofread and polish Praqma innovator blog"
http://www.praqma.com/stories/praqma-innovator/

[2016-03-07 13:39] monaslarsen opened #238 "Proofread and polish Dockerized jenkins job DSL"
http://www.praqma.com/stories/dockerized-jenkins-jobdsl/

[2016-03-07 13:48] monaslarsen opened #239 "Proofread and polish Code academy blog"
http://www.praqma.com/stories/code-academy/

[2016-03-07 13:51] monaslarsen opened #240 "Proofread and polish code cafe blog"
http://www.praqma.com/stories/code-cafe/

[2016-03-07 14:40] monaslarsen opened #241 "Delete outdated Intro to Docker from March 7th"

[2016-03-07 14:44] #191 closed

[2016-03-07 15:35] #241 closed

[2016-03-07 15:35] monaslarsen commented on #241
Issue fixed, but issue reference was missing, so closed manually

[2016-03-07 16:11] lakruzz opened #242 "List of tags grows too big"
The list of tags is now exceeding the length of ([some](http://www.praqma.com/stories/praqma-atlassian-partnership/)) posts:

We need to fix this? any ideas how?

![image](https://cloud.githubusercontent.com/assets/155492/13575142/889d0fd6-e487-11e5-96f5-9f067aed3f61.png)

[2016-03-07 16:13] lakruzz opened #243 "Front page should show all featured tags"
...currently it only shows the top three ones:
![image](https://cloud.githubusercontent.com/assets/155492/13575199/d76c2afc-e487-11e5-822e-64738a97d920.png)

vs: http://www.praqma.com/stories/#Featured
![image](https://cloud.githubusercontent.com/assets/155492/13575207/e5296132-e487-11e5-9fb1-2779cfdb6397.png)

[2016-03-07 16:16] lakruzz commented on #243
It seems that it's just s threshold that's set in the configuration:
https://github.com/Praqma/praqma.com/blob/gh-pages/index.html

[code]

[2016-03-09 13:19] lakruzz commented on #221
@monaslarsen This is becoming URGENT! we're still announcing an non existing conference on our front page!

Could you swap it - maybe use the pic form the very fine :+1:  [newsletter](http://us5.campaign-archive1.com/?u=4cd7193551aaee65c6da509a1&id=636ee24a47&e=fd6342eb34) you just issued  and make it point to the training at http://www.praqma.com/training/docker-intro/

But we _urgently_ need to

[2016-03-09 13:59] monaslarsen opened #244 "Add new training dates"
https://www.eventbrite.co.uk/myevents/

[2016-03-09 14:32] monaslarsen commented on #221
Changed image, text and link from DoC to Intro to Docker

[2016-03-09 15:03] monaslarsen commented on #223
_hww created

[2016-03-09 15:30] #223 closed

[2016-03-09 17:09] #221 closed

[2016-03-10 10:26] #244 closed

[2016-03-10 11:03] #219 closed

[2016-03-10 12:03] monaslarsen commented on #155
I am absolutely convinced by the Google font "Loved by the king". I have used it on a few occasions now, so @lakruzz, can we let @illus0r go ahead and make the change?

https://www.google.com/fonts/specimen/Loved+by+the+King

[2016-03-10 12:21] #222 closed

[2016-03-10 16:22] #220 closed

[2016-03-11 14:03] monaslarsen opened #245 "Change old story on new employees"

[2016-03-11 14:06] monaslarsen opened #246 "Add option for "Have a question"/"Contact us" etc."
Leif has a valid point that when the only contact-form talks about booking a consultation, people with a simple question might feel that a full consultation is a bit much.

Alter the button or add a simple, static contact form? @meekrosoft

[2016-03-11 14:08] #245 closed

[2016-03-11 14:24] monaslarsen opened #247 "Update list of clients"
Add name, logo and link for
Bording Data
Simcorp
Electa (SE)
Dooer (SE)
Flir (SE)
NetEntertainment (SE)
Tamigo
Biolin Scientific

[2016-03-11 14:48] monaslarsen opened #248 "Update Praqma Sweden address on "Offices""

[2016-03-11 14:49] meekrosoft commented on #246
Yes, we already have one, but i dont think it is linked to:
http://www.praqma.com/contact/

[2016-03-11 15:08] meekrosoft commented on #247
dont forget stripe and telenor!

[2016-03-11 16:13] #247 closed

[2016-03-14 09:44] monaslarsen opened #249 "Add Swedish address to about_offices"

[2016-03-14 13:37] monaslarsen opened #250 "On mobile, newsletter-sign-up and list of tags i shown before content."
Please change the order, so the article is shown first

[2016-03-14 15:32] monaslarsen opened #251 "Link in "Asessments" is not clickable"
Is there a reason that the link is not made clickable? @lakruzz
If not, I'll just go ahead and update the file?

<img width="763" alt="screen shot 2016-03-14 at 16 30 43" src="https://cloud.githubusercontent.com/assets/13627068/13749539/3e57d49e-ea02-11e5-8976-0580edff8a62.png">

[2016-03-14 15:43] lakruzz commented on #251
@monaslarsen
no - no reason.

But I think you should point to http://code-maturity.praqma.com/

[2016-03-15 09:20] monaslarsen opened #252 "Polish training/code-kickstart/ story"
training/code-kickstart/

[2016-03-15 11:07] #252 closed

[2016-03-15 12:15] monaslarsen opened #253 "Add social share options on stories, trainings etc."
I suggest we add buttons for sharing our divine content on LinkedIn, Facebook etc.
What do you say @lakruzz and @meekrosoft?

[2016-03-15 12:38] lakruzz commented on #253
Personally I have seen these buttons ALL OVER the entire internet - I've never pushed a single one of them. When I share something I just copy the url and paste it into G+, Twitetr or LinkedIn.

Have any of you ever used any of these buttons?

[2016-03-15 12:44] monaslarsen commented on #253
I'm personally happy with copying the url, but Henrik H said that he was more likely to share content when he saw a button, so I was thinking maybe it was an engineer thing.
I'll be content without, but just wanted to make sure we had touched upon it.

[2016-03-15 14:44] lakruzz opened #254 "Strange fonts!"
Someone changed the fonts recently, with an unintended behavior;

![image](https://cloud.githubusercontent.com/assets/155492/13781739/abacfa66-eac4-11e5-8080-d832d5119134.png)

[2016-03-15 19:41] lakruzz opened #255 "proof read praqmatic workflow"

[2016-03-15 19:47] #255 closed

[2016-03-16 14:07] #249 closed

[2016-03-16 14:11] illus0r commented on #214
@monaslarsen
Good idea to separate usage depending on length. If the quote is short, it should be huge. Try to add `{: .small}` to a line next to quote. It can be enough.

[2016-03-16 14:14] monaslarsen commented on #214
Thanks, I will try that!

[2016-03-16 14:14] illus0r commented on #250
@monaslarsen it duplicates subtasks of #124, but faster to implement. Do you want to make it before #124 stuff?

[2016-03-16 14:16] monaslarsen commented on #250
You are right, I didn't see 124.
But if it can be implemented separately, I think you should work on this first - since we always aim for small, well defined issues :)

[2016-03-16 14:18] monaslarsen commented on #248
Fixed by #249, duplicate issue created by mistake

[2016-03-16 14:18] #248 closed

[2016-03-16 14:19] monaslarsen opened #256 "Create story on "Stasi" from blogpost by Henrik"
https://docs.google.com/document/d/13-H2QE0sSf0fQIn2UfaUaz8HGU_9WCLliX43I7ocsbA/edit?ts=56e7e434

[2016-03-16 14:21] illus0r commented on #250
@monaslarsen хорошо!

[2016-03-16 14:22] illus0r commented on #214
OK, @monaslarsen , be back if it doesn't work

[2016-03-16 14:33] illus0r commented on #243
@lakruzz yes! If you'll remove `limit=3`, everything will be shown. Or assing to me :)

[2016-03-16 14:37] illus0r commented on #242
@lakruzz Show 15 first and `▾ Moarrr` button to unhide the rest.

[2016-03-16 14:45] illus0r commented on #201
If include has `sort='FWT'` parameter, they will be sorter by `FWT`. Otherwise, by `date`.

[2016-03-16 14:46] illus0r commented on #201
You can find all available params in https://github.com/Praqma/praqma.com/blob/gh-pages/_includes/posts.html

[2016-03-16 16:52] #216 closed

[2016-03-18 14:09] lakruzz commented on #242
if it's the top 15 most used ones,

Or we can keep on showing all, but fix the size of the div, and add a scroll-bar?

[2016-03-21 08:09] adamhenriques opened #257 "Polish headings"
We need a "space" between the hashtags and the heading we want in bold.

![skaermbillede 2016-03-21 kl 09 05 53](https://cloud.githubusercontent.com/assets/8004259/13913157/61e983a2-ef44-11e5-8e55-c0531b838e04.png)

[2016-03-21 15:23] adamhenriques opened #258 "Add eventbrite ticker widget to Mastering Git Training Course"

[2016-03-21 15:29] #258 closed

[2016-03-21 15:30] adamhenriques commented on #258
@monaslarsen this has been implemented

[2016-03-22 08:11] adamhenriques opened #259 "Uodate Git course content"

[2016-03-22 08:15] #259 closed

[2016-03-22 08:16] adamhenriques commented on #259
@monaslarsen course description has been updated

[2016-03-23 09:38] lakruzz commented on #256
Hi @monaslarsen let me know if you need help on this one - it's approaching urgent

We'd like this story to go live asap, as we have people asking for this specific topic - it would be convenient to point them to this rather than come up with a temporary description.

[2016-03-23 13:02] monaslarsen commented on #256
Correct a heading

[2016-03-23 13:07] monaslarsen commented on #256
Add a space

[2016-03-23 13:27] #254 closed

[2016-03-23 13:46] #256 closed

[2016-03-23 14:41] bicschneider opened #260 "Headings in git-bootcamp is not correct"
'##header' should be '## header' and same for '### header'

[2016-03-23 14:52] lakruzz opened #261 "A few STACY brush ups"
A short read-through related to #256

[2016-03-23 15:52] #261 closed

[2016-03-29 08:47] lakruzz opened #262 "Add show-of-interest form to academy"

[2016-03-29 09:29] #262 closed

[2016-03-29 14:49] illus0r commented on #242
I'd avoid this approach :)
What if we'll strip this list and leave 15 the most useful tags? Links with 1-2 posts inside have no sence :)

[2016-03-29 14:55] illus0r commented on #242
On the last week only 3 visitors viewed this page: [google analytics](https://analytics.google.com/analytics/web/?hl=ru&pli=1#report/content-drilldown/a33979353w110395573p115130288/%3F_u.date00%3D20160321%26_u.date01%3D20160327%26explorer-graphOptions.selected%3Danalytics.nthMonth%26explorer-table-tableMode.selected%3Dpie%26explorer-graphMode.mode%3DmotionChart%26explorer-motionChart.xopt%3Danalyt

[2016-03-29 16:48] lakruzz opened #263 "change URL"

[2016-03-29 16:48] #263 closed

[2016-03-29 17:25] lakruzz commented on #242
@illus0r

You're looking at was.praqma.com - the true numbers are [here](https://analytics.google.com/analytics/web/?pli=1#report/content-drilldown/a33979353w61397473p62870669/%3F_u.date00%3D20160321%26_u.date01%3D20160327%26explorer-graphOptions.selected%3Danalytics.nthMonth%26explorer-table-tableMode.selected%3Dpie%26explorer-graphMode.mode%3DmotionChart%26explorer-motionChart.xopt%3Danalytics.p

[2016-03-30 10:46] illus0r commented on #242
much better :+1:

[2016-03-30 12:33] #250 closed

[2016-03-30 12:40] illus0r commented on #198
@lakruzz
I gave a chance to fix it to freelancer. Let me know, if you want to fix it asap, I have a first version `good enough (c)` from him
And can we burn out second name and second contact? So as the form boil down into this fielsd:

* Name
* Phone of email
* Message

[2016-03-30 12:44] illus0r commented on #193
- [ ] make low-fidelity mockups
- [ ] implement

[2016-03-30 12:54] illus0r opened #264 "Header: make low-fidelity mockups"
Subtask of #193

![image](https://cloud.githubusercontent.com/assets/797993/14142629/9953c6ca-f68f-11e5-80ce-61817898f966.png)

[2016-03-30 14:05] lakruzz commented on #198
@illus0r

Yep!
Take it away :-)

[2016-03-30 14:34] illus0r commented on #264
@lakruzz
We can contract header's height twice, and even add your contacts there.

![q](https://cloud.githubusercontent.com/assets/797993/14145734/950b1e02-f69d-11e5-849c-4f237bb90bac.png)

On mobile we can show this stuff instead of footer

![dsc_2209](https://cloud.githubusercontent.com/assets/797993/14145642/42574f6e-f69d-11e5-8a4b-81485d45df6d.JPG)

[2016-03-30 14:35] illus0r commented on #264
How do you find this idea?

[2016-03-30 17:17] lakruzz commented on #264
@illus0r I'm unsure what your are asking - can you elaborate?

[2016-03-31 10:26] illus0r commented on #264
@lakruzz oh, sorry
button `Book a free consultation` overlaps the menu on mobile.
I'm presenting the idea of `praqma.com` header, that solves this problem. And BTW reduces header's height and shows your contacts in first place.
What do you think about this approach?

[2016-03-31 10:31] illus0r commented on #264
I've showed desktop (more detailed) and mobile (rought) mockups, presenting placement of header's widget.

In fact it's not a header on mobile :) I've moved it to the bottom of the page. It solved the problem, but users have to scroll to the bottom to see the block. If it's a significant drawback, I'll continue elaboration of the problem.

[2016-03-31 11:31] illus0r commented on #144
Wide

![image](https://cloud.githubusercontent.com/assets/797993/14174454/009cf884-f74d-11e5-82eb-7cb010f11967.png)

Mobile

![image](https://cloud.githubusercontent.com/assets/797993/14174405/c218ad1a-f74c-11e5-8cd5-49262cb9cc26.png)

[2016-03-31 11:46] monaslarsen opened #265 "Remove Electa, Flir and NetEnt from client list"

[2016-03-31 11:50] #144 closed

[2016-03-31 12:02] illus0r commented on #178
@lakruzz I've changed my mind, the better place for image is above `h1` and tags

[2016-03-31 12:02] illus0r commented on #178
I'll do it this way. Anyway, it's easy to change

[2016-03-31 12:03] illus0r commented on #144
Made padding fix after first deliver

[2016-03-31 12:57] #265 closed

[2016-03-31 13:02] #257 closed

[2016-03-31 13:04] illus0r commented on #178
aligned on mobile
![image](https://cloud.githubusercontent.com/assets/797993/14176547/362f7bcc-f75a-11e5-8a58-a70aa43d2030.png)

[2016-03-31 13:39] #251 closed

[2016-03-31 13:48] #178 closed

[2016-03-31 15:26] illus0r commented on #141
We can show mail and phone line in #264

[2016-03-31 15:33] illus0r commented on #176
- [ ] test google search results display on mobile beforehand

[2016-03-31 15:52] monaslarsen commented on #192
Already implemented

[2016-03-31 15:52] #192 closed

[2016-04-01 11:05] illus0r commented on #198
![image](https://cloud.githubusercontent.com/assets/797993/14205295/bd8afea8-f812-11e5-9a44-af3b48786235.png)

![image](https://cloud.githubusercontent.com/assets/797993/14205307/d871f12c-f812-11e5-9006-89812fe039a0.png)

[2016-04-01 12:19] illus0r commented on #176
<img src="https://cloud.githubusercontent.com/assets/797993/14206627/1a2aecd6-f81d-11e5-9640-f64298cf2ee1.png" width=300>

[2016-04-01 13:58] illus0r commented on #176
![image](https://cloud.githubusercontent.com/assets/797993/14209017/e54d037e-f82a-11e5-9d11-3174e38186d3.png)

[2016-04-01 13:59] illus0r commented on #176
BTW fixed small visual bug on menu
![image](https://cloud.githubusercontent.com/assets/797993/14209058/0d811aa6-f82b-11e5-9f1b-a4aab824824f.png)

[2016-04-01 14:00] illus0r commented on #177
sorry, closed instead of #176

[2016-04-01 14:01] illus0r commented on #176
closed by 	8e41252

[2016-04-01 14:01] #176 closed

[2016-04-01 14:07] illus0r opened #266 "Mobile ribbon bug"
![image](https://cloud.githubusercontent.com/assets/797993/14209297/2dc298fc-f82c-11e5-853f-1ff3bc8960b4.png)

[2016-04-01 14:09] illus0r commented on #115
Duplicate of #144

[2016-04-01 14:09] #115 closed

[2016-04-04 06:58] lakruzz commented on #198
It can not say "Let's chat" since it's indicating that at chat is being setup, while in fact it's a request to be contacted:

becomes:

"YES, I'D LIKE SOME FREE CONSULTATION"

and then button caption becomes "Contact me"

[2016-04-04 10:31] illus0r opened #267 "Story tags doesn't work in IE"
This line produces an error
[code]

![image](https://cloud.githubusercontent.com/assets/797993/14245345/63c53ac4-fa69-11e5-8f06-c0f89a4340f7.png)

[2016-04-04 10:37] illus0r commented on #175
<img src="https://cloud.githubusercontent.com/assets/797993/14245424/e7cfaf48-fa69-11e5-9a04-0e7b5609663c.png" width="300">

<img src="https://cloud.githubusercontent.com/assets/797993/14245425/e7ee97dc-fa69-11e5-9689-5cbe8b39cf63.png" width="300">

possible improvements:
- [ ] sort. Now features are in the middle of the list
- [ ] test on different devices

[2016-04-04 11:39] illus0r commented on #198
![image](https://cloud.githubusercontent.com/assets/797993/14246922/fa5ecad2-fa72-11e5-9407-227368ded3e1.png)

[2016-04-04 11:57] illus0r commented on #177
@lakruzz Looks not ugly on mobile, we can skip this task at all. The button instead of open form can spoil conversion after all.

Can we close?

![image](https://cloud.githubusercontent.com/assets/797993/14247226/65ecf786-fa75-11e5-8e12-b739aff10db3.png)

[2016-04-04 11:58] illus0r commented on #177
![image](https://cloud.githubusercontent.com/assets/797993/14247267/bb7a4532-fa75-11e5-947a-26bfb9b498d1.png) corners are rounded on desktop chrome only, they are straight on my android

[2016-04-04 11:59] lakruzz commented on #198
...I still think that  "Let's chat" sends the wrong impression - that we're starting an online chat!

"Contact me" is better describing what is actaully going to happen

[2016-04-04 12:01] illus0r commented on #198
@lakruzz Arrr, sorry, I forgot about that :grin:

[2016-04-04 12:03] #198 closed

[2016-04-04 12:11] illus0r commented on #198
![image](https://cloud.githubusercontent.com/assets/797993/14247545/71c9034a-fa77-11e5-9050-c5ee60097204.png)

[2016-04-04 12:15] lakruzz commented on #198
:+1:

[2016-04-04 13:05] illus0r commented on #266
There are two options for this
* small fix for current situation
* medium but universal fix

about medium fix:

- [ ] Show words in one line if enough space
- [ ] If <br> is applied or we have not space enough, we break the line
- [ ] If multiple lines, background should be applied to each of them independently

[2016-04-04 13:21] illus0r commented on #266
small sollution affects desktop version

![image](https://cloud.githubusercontent.com/assets/797993/14249172/1a9e2b5e-fa81-11e5-8a62-481267c2ce64.png)

![image](https://cloud.githubusercontent.com/assets/797993/14249177/25bede52-fa81-11e5-85f8-987ccd80f74b.png)

[2016-04-04 13:22] illus0r commented on #266
@lakruzz which option is better?

[2016-04-04 13:36] lakruzz opened #268 "Dont allow contact form to be empty"
Only enable button, when all mandatory fields are filled.

Andrey:

[2016-04-04 13:43] monaslarsen opened #269 "Add 'featured' tag to newest blogposts"

[2016-04-04 16:12] illus0r commented on #266
sorry, closed instead of #175

[2016-04-04 16:13] illus0r commented on #175
closed by 2e69e5e

[2016-04-04 16:13] #175 closed

[2016-04-05 09:37] #269 closed

[2016-04-05 10:04] monaslarsen commented on #214
Thanks @illus0r, it worked - it makes it very small, but it's a good option for very long quotes!

[2016-04-05 10:08] monaslarsen commented on #243
Removed the limit=3, works fine now

[2016-04-05 10:08] #243 closed

[2016-04-05 10:42] #214 closed

[2016-04-05 12:39] monaslarsen opened #270 "Create hww file for image guidelines"

[2016-04-05 12:48] illus0r commented on #268
Used `required` HTML5 attribute, but it doesn't work in Safari

![image](https://cloud.githubusercontent.com/assets/797993/14282134/b712adba-fb45-11e5-8dbd-164355f1e9a7.png)

[2016-04-05 13:05] illus0r commented on #268
Safari is 15% of our audience, so I'll will find some js solution.

[2016-04-05 13:44] #270 closed

[2016-04-05 14:32] #268 closed

[2016-04-05 17:41] lakruzz commented on #266
@illus0r Are they comparable? They are different size screen  what am I assessing?

[2016-04-06 09:11] illus0r commented on #266
@lakruzz [comment with images](https://github.com/Praqma/praqma.com/issues/266#issuecomment-205293860) shows how the ribbons can look after **small fix**.

**Without this fix** (now) site looks like this (mobile and desktop)

![image](https://cloud.githubusercontent.com/assets/797993/14311467/578ea244-fbf0-11e5-8010-a63283dc10f5.png)

![image](https://cloud.githubusercontent.com/assets/797993/1431

[2016-04-06 09:12] illus0r commented on #266
I've just breaked the lines to adjust it to small screen

[2016-04-06 09:14] illus0r commented on #266
But if I'll spend more time i can come up with more robust and universal solution which doesn't impact on desktop version.

[2016-04-06 11:50] adamhenriques opened #271 "Update date on Mastering Git Course"
Date has been moved to Maj 23&24

http://www.praqma.com/training/git-mastering/

[2016-04-08 10:38] adamhenriques opened #272 "Atlassian services on frontpage box"
I would like a box with "Atlassian Services" on the frontpage - potentially swopping with "come code with up" box.

Ill share the copy with you @monaslarsen

[2016-04-08 12:57] illus0r commented on #114
Liquid sorting is case-sensitive, so the fastest way will be `js`. But for now I came up with simple making all tags have a capital first letter. These tags were altered.
[code]
@lakruzz Should we implement case-insensitive sorting or we can just make a tag naming convention?

[2016-04-10 10:43] lakruzz commented on #114
Lets agree on spelling all tags with an initial capital letter

[2016-04-11 05:35] lakruzz commented on #177
Fine let's wrap it up

[2016-04-11 05:35] #177 closed

[2016-04-11 05:38] lakruzz commented on #141
Continue this task in #264

Closing this one as duplicate

[2016-04-11 05:38] #141 closed

[2016-04-11 06:01] #114 closed

[2016-04-11 06:07] illus0r commented on #114
added a line about convention into readme

[2016-04-12 14:45] illus0r commented on #264
@lakruzz am I using `Action - awaiting feed-back` label properly?

When I need feedback from you I:
- set a `Action - awaiting feed-back` label
- assign task to you

About this task: you've returned it to me, so can I implement [mockups](https://github.com/Praqma/praqma.com/issues/264#issuecomment-203460842)? 🔨  Or you need more detailed mocups first?

[2016-04-12 18:10] #266 closed

[2016-04-12 20:00] lakruzz commented on #264
@illus0r Sorry I made a comment too, but maybe I was online, so it never got through?  Anyway the message is: Looks good! go ahead

[2016-04-13 11:50] #246 closed

[2016-04-14 16:25] illus0r opened #273 "Make mobile mockup for Request Consultation button"
subtask of #264

![](https://cloud.githubusercontent.com/assets/797993/14145642/42574f6e-f69d-11e5-8a4b-81485d45df6d.JPG)

[2016-04-14 16:28] illus0r opened #274 "Change site's header"
Subtask of #193

implement after #273

![](https://cloud.githubusercontent.com/assets/797993/14145734/950b1e02-f69d-11e5-849c-4f237bb90bac.png)

[2016-04-15 07:53] meekrosoft opened #275 "Search bug on stories"
I had this email from Tore at Schlumberger:

On Fri, Apr 15, 2016 at 9:07 AM, Tore Martin Hagen <thagen@slb.com> wrote:
Hi Mike.

I think there is a bug on your web page (and I will assume that it will be fixed and deployed very quickly).

http://www.praqma.com/stories/

Press on any of the links under SEARCH and nothing happens (except from the URL being updated)

http://www.praqma.com/stories/#G

[2016-04-15 07:53] meekrosoft commented on #275
Hi.

Same behavior on these:
CentOS 6 with Firefox
Windows with Internet Explorer.

If you don't see the problem then let me know and I will dig out more details for you.

[2016-04-15 12:12] illus0r commented on #275
@meekrosoft hmm, possible duplicate of #267?

[2016-04-15 12:19] monaslarsen commented on #275
Not sure if you already checked, but Chrome is working just fine for this command.

[2016-04-18 11:42] #271 closed

[2016-04-18 11:43] monaslarsen opened #276 "Change article date for CodeAcademy"
To obtain higher position on the frontpage

[2016-04-18 11:49] #276 closed

[2016-04-20 10:38] illus0r commented on #267
@lakruzz I need about an hour to estimate. Should I set `small`?

[2016-04-20 18:24] lakruzz commented on #267
@illus0r you need an hour to make an estimate - is that what your saying? Then:

* Create a new issue: "Analyse IE bug"
* Make it reference this issue
* Set labels to:
![image](https://cloud.githubusercontent.com/assets/155492/14685677/c41db4e0-0735-11e6-9b3a-cd5ef8b0eb74.png)

[2016-04-22 10:01] illus0r opened #277 "Analyse IE bug"
Subtask of #267

[2016-04-25 11:35] meekrosoft opened #278 "Opinion: image is too dark"
Can we have a brighter image here?
http://www.code-conf.com/code-cph-2016/

[2016-04-25 12:48] monaslarsen commented on #278
I can easily brighten the current one - or should we go for another picture all together?

[2016-04-26 10:08] monaslarsen opened #279 "Make clickable links open in new tab"
The links to code-conf.com at http://www.praqma.com/services/code-conf/ open in the same tab, instead of in a new tab. Please change, so people will come back and browse praqma.com when they are done on code-conf.com

[2016-04-26 15:03] monaslarsen opened #280 "Create Storyline blogpost"
The CoDe Storyline should be online. For now I'll make it a blogpost, but with the url praqma.com/storyline

[2016-04-28 06:45] martinmosegaard opened #281 "Fix ghi examples on pragmatic workflow post"
On this story:
http://www.praqma.com/stories/a-pragmatic-workflow/

There is an issue with the ghi commands, you need to specify a repository name.

Instead of:

[code]

it should be:

[code]

At least, that is what Andrey and I have observed.

[2016-04-28 08:29] lakruzz commented on #281
@martinmosegaard
No, you just need to locally change directory into the root-directory of your local clone

[2016-04-28 08:48] martinmosegaard commented on #281
@lakruzz
We do that already. Let's talk on a hangout :) I get something that looks like this:

[code]

[2016-04-28 08:48] #281 closed

[2016-04-28 09:04] martinmosegaard opened #282 "Using bash alias for ghi breaks the git aliases"
The Pragmatic Workflow post here:
http://www.praqma.com/stories/a-pragmatic-workflow/

describes using a bash alias for `ghi` to run it in `docker`.
However - at least on my computer - this breaks the git aliases, like `issue-wip`. It seems unable to use bash aliases:

[code]

If this is a general issue, we should either describe how to fix it or remove the alias from the blog post.

[2016-04-29 07:03] martinmosegaard commented on #282
I recommend removing the docker ghi box from the blog post, since the `ghi` readme already contains installation instructions using `gem` and `brew`.

@lakruzz If you agree, I can take this.

[2016-04-29 10:18] adamhenriques commented on #272
@monaslarsen whats the status on this?

[2016-04-29 13:39] monaslarsen commented on #272
Not done yet @adamhenriques, but it's in my pipeline

[2016-04-29 13:40] monaslarsen commented on #272
We need an Atlassian Services button on the frontpage of www.praqma.com that points to a subpage with content

Content & copy; https://docs.google.com/document/d/1keHQLvjE16Bhsoqp6wqrspOljbRnxtsP5fTYlPdm2lE/edit

[2016-04-29 18:50] lakruzz opened #283 "GitHub post"

[2016-04-30 13:08] #283 closed

[2016-04-30 13:13] lakruzz opened #284 "make orange github logo"

[2016-04-30 13:16] #284 closed

[2016-05-02 11:06] #280 closed

[2016-05-03 06:12] lakruzz opened #285 "Change signup form on code academy post"
The  blogpost on code academy still has the google signup form, but it should  now point to code-conf

[2016-05-04 14:48] illus0r commented on #273
![praqma-header](https://cloud.githubusercontent.com/assets/797993/15017939/54d05d72-1220-11e6-8770-7e2d70a77fbf.png)

[2016-05-04 14:50] #273 closed

[2016-05-04 14:51] illus0r commented on #274
Mobile version
![](https://cloud.githubusercontent.com/assets/797993/15017939/54d05d72-1220-11e6-8770-7e2d70a77fbf.png)

@lakruzz Ready to implement, I'll start tomorrow

[2016-05-05 11:35] #277 closed

[2016-05-05 11:37] illus0r commented on #267
fixed in #277

[2016-05-05 11:37] #267 closed

[2016-05-05 13:52] #274 closed

[2016-05-05 13:53] #193 closed

[2016-05-05 13:53] illus0r commented on #193
closed with #274

[2016-05-09 08:27] #285 closed

[2016-05-09 13:33] #264 closed

[2016-05-11 11:57] lakruzz opened #286 "waffle-demo"

[2016-05-11 12:05] #286 closed

[2016-05-12 18:53] lakruzz commented on #279
@monaslarsen this is content, something that I'd like you (and @adamhenriques ) should be able to do on your own.

I have assigned this case to you  - instead of @illus0r. Let's meet in a hangout and do it together, it will take 10 mins

[2016-05-12 18:58] lakruzz commented on #278
@meekrosoft and @monaslarsen Should this issue live (then we need to groom it, into an actual task: What should be done) or should it die? (then change prio to 4 - won't have, and close it)

[2016-05-12 19:00] lakruzz commented on #275
@meekrosoft I'm assuming this is a duplicate of #267 which is closed - and therefore the reason why we can not reproduce the behaviour Tore describes

[2016-05-12 19:00] #275 closed

[2016-05-12 19:07] lakruzz commented on #272
@monaslarsen I don't get the comment above, it seems like the copy in the document you point to is course descriptions, shouldn't it point to training then?

This case need som overall grooming - what's it about? It's marked as small, the documents contains 13 pages - doesn't sound like a small task to produce 13 new sub pages. Maybe discuss (and agree) with @adamhenriques what should happen here.

[2016-05-12 19:08] lakruzz commented on #260
Solved in an unknown commit

[2016-05-12 19:08] #260 closed

[2016-05-12 19:51] lakruzz commented on #212
![image](https://cloud.githubusercontent.com/assets/155492/15228213/582eee4a-188b-11e6-80e5-44b4f5a27abf.png)

Google is indexing the first text it finds on the page, so this is just "different" not better - we need to control what ends up here!

[2016-05-14 09:29] lakruzz opened #288 "blog post on praqticum"

[2016-05-14 18:08] lakruzz opened #289 "updated featured stories"

[2016-05-14 18:08] #288 closed

[2016-05-14 18:10] #289 closed

[2016-05-14 18:12] lakruzz commented on #213
closed in  f206fe0

[2016-05-14 18:12] #213 closed

[2016-05-14 18:15] lakruzz opened #290 "Add praqticum application"

[2016-05-14 18:27] lakruzz opened #291 "redirect praqticum"

[2016-05-14 18:38] #291 closed

[2016-05-14 18:42] lakruzz opened #292 "redirect praqticum"

[2016-05-14 18:45] #292 closed

[2016-05-14 19:27] lakruzz opened #293 "praqticum call to action"

[2016-05-14 19:42] #293 closed

[2016-05-17 19:29] lakruzz opened #294 "Praqticum proof read"

[2016-05-17 19:42] #294 closed

[2016-05-20 08:27] meekrosoft opened #295 "Clean up copy on training page"

[2016-05-20 08:30] #295 closed

[2016-05-23 09:04] adamhenriques commented on #272
@monalarsen whats status on this? Let me know if you need anything from me

[2016-05-23 17:33] lakruzz opened #296 "Ghi ruby gem is gone"
![image](https://cloud. githubusercontent.com/assets/155492/15478883/68593b0a-211d-11e6-9cd7-8a5ec0855590.png)

It's referring to a docker!

[2016-05-26 12:39] praqma-thi opened #297 "Content-oriented pipeline enhancements"
It'd be neat to set up some pipeline steps that specifically target content changes (not styling).
A simple spelling checker, maybe toy around with [proselint](https://github.com/amperser/proselint), etc.

The issue is that spelling and other writings letters (like the the dreaded 'double the') are found after the post made its first big waves, which can hamper their professional image.

[2016-05-26 14:27] #272 closed

[2016-05-26 14:29] monaslarsen opened #298 "Add spaces to headlines on Atlassian site"

[2016-05-26 14:32] monaslarsen opened #299 "Add spaces in Atlassian md file"

[2016-05-26 14:34] #299 closed

[2016-05-26 19:05] #282 closed

[2016-05-26 19:07] lakruzz commented on #298
@monaslarsen

Please elaborate - what is "Atlassian site" referring to?

Consider applying a URL pointing to the problem -or a screen dump -or boot

[2016-05-26 19:11] lakruzz commented on #297
@praqma-thi

Cool idea, can you elaborate a little bit - what could an implementation look like, and give it an estimate.

Unasssign your self after that

[2016-05-26 19:12] #290 closed

[2016-05-26 19:37] #278 closed

[2016-05-26 20:57] #279 closed

[2016-05-26 20:57] lakruzz commented on #279
@monaslarsen

I've closed this one now, have a look at the commit 3723afe to see how it's done

[2016-05-26 21:01] #224 closed

[2016-05-26 21:01] #225 closed

[2016-05-26 21:01] #226 closed

[2016-05-26 21:01] #227 closed

[2016-05-26 21:01] #228 closed

[2016-05-26 21:01] #229 closed

[2016-05-26 21:01] #230 closed

[2016-05-26 21:01] #232 closed

[2016-05-26 21:01] #233 closed

[2016-05-26 21:01] #234 closed

[2016-05-26 21:01] #235 closed

[2016-05-26 21:01] #236 closed

[2016-05-26 21:01] #237 closed

[2016-05-26 21:01] #238 closed

[2016-05-26 21:01] #239 closed

[2016-05-26 21:01] #240 closed

[2016-05-26 21:07] lakruzz opened #300 "Wite copy, that should identify us in Google searches"
Spin off from #212

[2016-05-26 21:09] #231 closed

[2016-05-26 21:12] lakruzz commented on #201
Not a feature request, it already exiest

[2016-05-26 21:12] #201 closed

[2016-05-26 21:13] lakruzz commented on #187
Relates to an older design - not reproducible

[2016-05-26 21:13] #187 closed

[2016-05-26 21:14] #208 closed

[2016-05-26 21:17] #253 closed

[2016-05-26 21:19] #152 closed

[2016-05-26 21:20] #140 closed

[2016-05-26 21:21] #155 closed

[2016-05-26 21:22] lakruzz commented on #42
Fixed in anoter issue

![image](https://cloud.githubusercontent.com/assets/155492/15590550/acb35880-2398-11e6-936f-13cbb94a33bf.png)

[2016-05-26 21:22] #42 closed

[2016-05-26 21:23] #6 closed

[2016-05-26 21:25] #212 closed

[2016-05-27 06:38] lakruzz opened #301 "milestones explained"

[2016-05-27 07:43] praqma-thi commented on #297
I'll try to set up a little POC when I'm back from Belgium next week.
Could be cool.

[2016-05-27 08:40] monaslarsen commented on #298
Issue created twice by mistake. Closing

[2016-05-27 08:40] #298 closed

[2016-05-27 10:20] lakruzz opened #302 "Spread CoDe Academy on social media"
- [ ] Facebook
- [ ] Twitter
- [ ] LinkedIn

This issue replaces praqma/code-conf.com#181

[2016-05-27 10:22] monaslarsen opened #303 "Open link in same window"
On /services/tool-specialists/

the file has been made ready for clickable links directing to external websites that will open in a new window.

But for one of them I want to point to a page within praqma.com
- And I don’t want that to open in a new window

So maybe you can add an extra line about internal links somewhere in this:

<div class="image-grid">
 <div class="image-grid-wrapper">
   {% f

[2016-05-28 15:07] adamhenriques opened #304 "update atlassian"

[2016-05-28 15:31] #304 closed

[2016-05-30 08:39] lakruzz opened #305 "Design training page to contain both types of training and scheduled events"
Transferred from Praqma/marcom#35

[2016-06-06 19:43] lakruzz opened #306 "Style tables - SASS"
Referring to [THE MASS COGNITIVE REVOLUTION DISRUPTING SOFTWARE](http://www.praqma.com/stories/cognitive-revolutions/)

![image](https://cloud.githubusercontent.com/assets/155492/15835146/f11cbe32-2c2e-11e6-9f6e-9580b2cb2302.png)

- [x] Tables are all bold text - only header cells should be bold
- [x] The columns should same-size.

Please style according to the KramDown features of tables:

http:/

[2016-06-06 19:46] lakruzz commented on #306
@illus0r This issue needs to be made ready to work on - but currently needs __an estimate__. I've assigned the case to you, please just do the following:

- Provide a realistic estimate

I assume it's small/medium. if you assess the same, then please give it high priority - start working it immediately

poke: @timea

[2016-06-07 08:50] illus0r commented on #306
@lakruzz hmm, I don't see all the table in bold. Could somebody fix it?

![image](https://cloud.githubusercontent.com/assets/797993/15851534/d91e0896-2ca5-11e6-990e-aa587acfcf83.png)

[2016-06-07 12:14] illus0r commented on #306
Current state is
![image](https://cloud.githubusercontent.com/assets/797993/15856527/a5bb39e2-2cbe-11e6-830b-5a2e4b7daf44.png)

To make heading underlining, separate it with `|---|` or any other acceptable separator

To make table columns have equal width, add `equal` class to this table like this:
[code]

It will be rendered to
![image](https://cloud.githubusercontent.com/assets/797993/15856717/f

[2016-06-07 12:27] #306 closed

[2016-06-07 12:27] illus0r commented on #306
I've added table formatting information into the README.md

[2016-06-08 10:32] lakruzz opened #307 "The avatar pic for stories should be format 4:3"
![image](https://cloud.githubusercontent.com/assets/155492/15891464/e9a9207c-2d74-11e6-9c11-4c4ebc21cce5.png)

We need to fix this one: http://www.praqma.com/stories/cognitive-revolutions/

[2016-06-12 15:10] #301 closed

[2016-06-13 05:39] lakruzz opened #308 "Proof read "Milestones and office hours""
http://www.praqma.com/stories/milestones-and-officehours/

[2016-06-13 05:45] lakruzz commented on #308
@monaslarsen can you take this?

[2016-06-13 06:15] lakruzz opened #309 "Style tables in stories"
See tables in : http://www.praqma.com/stories/milestones-and-officehours/

The tables use bold text and same size for all content

`<thead>` and `<tbody>` should differ; `<thead>` being more _header_ style - and

[2016-06-13 08:01] adamhenriques opened #310 "Introduction to Docker vs CoDe With Containers"
Are these two training offerings not very similar? If we hold on to both - we need to change the thumbnail of one of them.

http://www.praqma.com/training/code-with-containers/ & http://www.praqma.com/training/docker-intro/

[2016-06-13 08:05] adamhenriques opened #311 "add ticket widget"

[2016-06-13 10:08] #311 closed

[2016-06-13 15:41] illus0r commented on #309
@lakruzz
Houston, we have a problem. It turned out I monitor only code-conf runaway.
1. Should I monition 3 of them (one per repo)?
2. Should I forget about current milestone until this is fixed?

[2016-06-14 13:59] #307 closed

[2016-06-14 14:36] #202 closed

[2016-06-15 09:16] #308 closed

[2016-06-15 11:03] monaslarsen opened #313 "Update info on Oslo office"

[2016-06-15 11:23] #313 closed

[2016-06-15 11:25] monaslarsen opened #314 "Change map size for Oslo office"

[2016-06-15 11:26] #314 closed

[2016-06-15 11:29] monaslarsen opened #315 "Adjust map size for Oslo"

[2016-06-15 11:31] #315 closed

[2016-06-15 13:30] monaslarsen commented on #310
GitHub tells me it's made by @meekrosoft a month ago - So Mike, can you enlighten us on why we need two courses so similar? :)

[2016-06-15 13:37] lakruzz opened #316 "Fix italic font skew up on milestones and office hours"
![image](https://cloud.githubusercontent.com/assets/155492/16081716/f4a82ec4-330e-11e6-8eb2-50605d69fffd.png)

[2016-06-15 17:25] #316 closed

[2016-06-15 17:32] lakruzz opened #317 "In the staci story fix quotes"
![image](https://cloud.githubusercontent.com/assets/155492/16090432/aeaacbea-332f-11e6-80c3-094464c3bf93.png)

[2016-06-15 17:42] lakruzz opened #319 "new case as an example"

[2016-06-15 18:52] #319 closed

[2016-06-16 13:47] illus0r commented on #309
@lakruzz it seams reprodusable on your computer only. The same story with bold fonts on code-conf.com
That's what I see

![image](https://cloud.githubusercontent.com/assets/797993/16118739/292fe02e-33e1-11e6-8b0b-0c0c77894f7a.png)

[2016-06-17 12:04] adamhenriques opened #320 "update date for Jira"

[2016-06-17 12:13] #320 closed

[2016-06-17 17:32] meekrosoft opened #321 "Write up story for code academy TRD"
Write up a blog post for code academy in Trondheim

[2016-06-20 06:59] adamhenriques commented on #164
@lakruzz @meekrosoft we have given Atlassian its own subpage (http://www.praqma.com/services/atlassian/)- could this be a solution for all major tools/platforms to;

- Offer information
- Improve SEO/SEM

A general list of various tool (with no further ado) doesnt provide much information to people landing on the page.

[2016-06-20 08:00] meekrosoft commented on #321
Guys,
 @monaslarsen @lakruzz
Could you eyeball this for me?
https://github.com/Praqma/praqma.com/tree/321-Write-up-story-for-code-academy-TRD

Thanks

[2016-06-21 05:37] Andrey9kin opened #322 "Update about us page"
CONTINUOUS DELIVERY TO EVERYBODY

During the first 7 years of our existence, we have helped a large number of companies in- and outside of Denmark implement Continuous Delivery — even before anyone started using the term. We consider ourselves Continuous Delivery Toolsmiths and help our customers with inspiration, strategic consulting, practical implementation and support.

**Proposed updates**
-

[2016-06-21 09:43] illus0r commented on #309
Should we close this one? Or at least remove from the runway?

[2016-06-21 09:46] illus0r commented on #303
Hi, @monaslarsen! What's status of this task? Do we still need it?

[2016-06-21 09:51] monaslarsen commented on #303
It is still something I would really like, so I say go, if @lakruzz doesn't have any objections?

[2016-06-21 10:25] lakruzz commented on #303
It's confusing what goes on here:

![image](https://cloud.githubusercontent.com/assets/155492/16226281/fa2d36be-37aa-11e6-9b54-3b13a6afb9f6.png)

- Why are we mentioning all these tools? Some of the aren't even very interesting?
- Why are we pointing _outside_ our own website at all? We should only mention tools where we have stories to tell - and then point to the stories.

Opinions? Anyone?

[2016-06-21 10:25] lakruzz commented on #303
@monaslarsen @meekrosoft

[2016-06-21 10:31] lakruzz commented on #309
Problem not reproducible

[2016-06-21 10:31] #309 closed

[2016-06-21 10:40] monaslarsen commented on #303
This was copy+pasted from the old website, as far as I know.
My opinion is that we should have a clickable option for each of the tools that we actually want to keep on the site, both for the potential customer to actually gain knowledge and for SEO.

So, I started from the top, making a SEO page about Atlassian that is now implemented, only flaw is that it opens in another window, - hence this is

[2016-06-21 11:27] lakruzz commented on #303
All the icons should behave the same - either they are _all_ clickable - or _none_ of them are.

[2016-06-21 11:29] monaslarsen commented on #303
My opinion is that they should all be clickable and all open in the same window and all point to each of their page under praqma.com.

[2016-06-21 11:59] lakruzz commented on #321
Closed with 2e0095c8ef4cdcd0ce2d1baebc45e08d5f520f79

[2016-06-21 11:59] #321 closed

[2016-06-24 07:00] adamhenriques opened #323 "Update Customerlist"
We have a couple of customers we can add:

Danske Fragtmænd
Seges
BEC
Napatech
BKUltrasound
Leman
Philips BioCell

[2016-06-24 07:02] adamhenriques opened #324 "Add GitHub as partners"
http://www.praqma.com/about/partners/

[2016-06-24 14:10] monaslarsen commented on #324
And remove obsolete names

[2016-06-27 07:55] lakruzz commented on #324
@monaslarsen

We (still) have a problem :
http://code.praqma.net/ci/view/Websites/job/Web_www.praqma.com-verify/145/

@praqma-thi should be able to help - or I can help later this afternoon

[2016-06-27 08:12] #324 closed

[2016-06-27 09:44] monaslarsen opened #325 "Remove typo in Partners"

[2016-06-27 09:47] #325 closed

[2016-06-27 14:16] #323 closed

[2016-06-29 15:47] adamhenriques opened #326 "add seminar blogp"

[2016-06-29 16:34] #326 closed

[2016-06-30 06:43] adamhenriques opened #327 "update blog"

[2016-06-30 06:59] #327 closed

[2016-06-30 07:20] adamhenriques opened #328 "update & push"

[2016-06-30 07:22] #328 closed

[2016-06-30 08:03] adamhenriques opened #329 "feature"

[2016-06-30 08:24] #329 closed

[2016-06-30 08:52] adamhenriques opened #330 "update blog"

[2016-06-30 08:57] #330 closed

[2016-06-30 09:20] adamhenriques opened #331 "blogpost"

[2016-06-30 09:25] #331 closed

[2016-06-30 11:36] adamhenriques opened #332 "add link"

[2016-06-30 11:43] #332 closed

[2016-06-30 11:44] adamhenriques opened #333 "add link"

[2016-06-30 11:46] #333 closed

[2016-06-30 14:07] illus0r opened #334 "Search bar bug"
![image](https://cloud.githubusercontent.com/assets/797993/16491069/1d977f24-3ee5-11e6-8be2-51a747850660.png)

[2016-06-30 14:31] illus0r opened #335 "Mark links that take the user to another website"
In this paragraph first link goes to Jenkins website and second — to an article on praqma.com. Good to know before clicking!

🔗 or 🌎  icon can be used for the purpose

![image](https://cloud.githubusercontent.com/assets/797993/16491839/27e92f56-3ee8-11e6-94c0-56a628cc56c1.png)

[2016-07-01 13:12] bicschneider opened #336 "Dead link link on wesite"
http://code.praqma.net/ci/view/Websites/job/Web_www.praqma.com-linkcheck/Linkchecker_report/

Start checking at 2016-06-30 15:20:24+000

URL        `tel:+4536772762'
Name       `+45 36772 762'
Parent URL http://www.praqma.com, line 36, col 3
Real URL   tel:+4536772762
Warning    [ignore-url] Tel URL ignored.
Result     Valid
100 URLs active,    11 URLs queued,   12 URLs checked, runtime 1 seconds

[2016-07-04 08:04] monaslarsen commented on #310
Continuous Delivery with containers : One day for technical

[2016-07-04 08:16] monaslarsen opened #337 "Add "Send me a poster" form"